n8n/workflows/mindops-orchestrator.json
{
  "updatedAt": "2026-03-20T19:49:32.683Z",
  "createdAt": "2026-02-22T02:47:27.069Z",
  "id": "cO9M1BtWC9im653l",
  "name": "MindOps Orchestrator",
  "description": "Main entry point. Receives Telegram messages, normalizes payload, and routes to specialized sub-workflows",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9d2b065e-4a21-46ec-ac60-8d97cf538afa",
                    "leftValue": "={{ $json.input_text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80cf19f5-f520-4c7e-8cb6-55b54cc78c73",
                    "leftValue": "={{ $json.input_text }}",
                    "rightValue": "lang_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Set Language"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c8b570c4-f875-469c-8999-a02323aaa53b",
                    "leftValue": "={{ $json.input_text }}",
                    "rightValue": "/vinculate",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vinculate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "47c15192-d237-4bbb-9ef0-5e636f03f8aa",
                    "leftValue": "={{ $json.is_contact }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5bfcdbb0-9f5f-404a-9a1b-39923b41253e",
                    "leftValue": "={{ ($json.has_voice || ($json.input_text != '' && !$json.input_text.startsWith('/'))) && $json.is_button === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thoughts (AI)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c49d0fba-8b83-4de6-85f8-396ee0c86dcd",
                    "leftValue": "={{ $json.is_button }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Buttons (Mission)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1024,
        1472
      ],
      "id": "9d220242-0786-4657-aa6e-89547b982a6a",
      "name": "Main Router"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "text": "={{ $json.context.translations.msg_wait_thinking ||  \"¡Recibido! Analizando tus pensamientos... 🧠 \"}}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        96,
        1872
      ],
      "id": "82c9a7f9-8e79-4e44-8fb5-a0641b588e20",
      "name": "Send Wait Message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QciYupwAd2AZ6IEf",
          "mode": "list",
          "cachedResultUrl": "/workflow/QciYupwAd2AZ6IEf",
          "cachedResultName": "SW-3: Mission Control"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "callback_data": "={{ $json.input_text }}",
            "chat_id": "={{ $json.chat_id }}",
            "message_id": "={{ $json.message_id }}",
            "markup_type": "removeInline"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "callback_data",
              "displayName": "callback_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        2112
      ],
      "id": "6bf8b7f4-fa97-4b12-a999-0800d001152f",
      "name": "Call : Mission Control"
    },
    {
      "parameters": {
        "content": "## Receive & Format Data",
        "height": 528,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2112,
        1280
      ],
      "id": "77979ba4-2c25-48ca-af12-4b6a335657ee",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Traffic Router (Switch)",
        "height": 608,
        "width": 688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        1296
      ],
      "id": "549abca6-de37-4849-929f-c043221c9c9e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trigger Specialized Sub-workflows",
        "height": 1296,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        976
      ],
      "typeVersion": 1,
      "id": "240f4509-3327-4bef-85bb-34b7d315d420",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2048,
        1456
      ],
      "id": "db9253d1-16f4-4c68-ab35-87b203d525b6",
      "name": "Telegram Trigger",
      "webhookId": "1a3ad167-7a3e-4f30-a207-8efb6cb910ef",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hLp8Ac9eAk2fI5Lt",
          "mode": "list",
          "cachedResultUrl": "/workflow/hLp8Ac9eAk2fI5Lt",
          "cachedResultName": "SW-0:Middleware: Global Context Enricher"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "has_voice": "={{ !!$json.message?.voice }}",
            "is_contact": "={{ !!$json.message?.contact }}",
            "is_button": "={{ !!$json.callback_query }}",
            "input_text": "={{ $json.message?.text || $json.callback_query?.data || \"\" }}",
            "first_name": "={{ $json.message?.from?.first_name || $json.callback_query?.from?.first_name || \"User\" }}",
            "telegram_id": "={{ ($json.message?.from?.id || $json.callback_query?.from?.id).toString() }}",
            "file_id": "={{ $json.message?.voice?.file_id || \"\" }}",
            "contact_phone": "={{ $json.message?.contact?.phone_number || \"\" }}",
            "chat_id": "={{ ($json.message?.from?.id || $json.callback_query?.from?.id).toString() }}",
            "message_id": "={{ ($json.message?.message_id || $json.callback_query?.message?.message_id || \"\").toString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "has_voice",
              "displayName": "has_voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "is_contact",
              "displayName": "is_contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "is_button",
              "displayName": "is_button",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1792,
        1456
      ],
      "id": "943d72eb-da42-4de7-a31f-edd4f1cbbbdd",
      "name": "Call Middleware",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "START",
            "telegram_id": "={{ $json.telegram_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "first_name": "={{ $json.first_name }}",
            "input_text": "={{ $json.input_text }}",
            "context": "={{ $json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        1072
      ],
      "id": "a430168c-12d7-4bd6-a5e8-678806994e45",
      "name": "Call: Identity (START)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "SET_LANGUAGE",
            "telegram_id": "={{$json.telegram_id.toString()}}",
            "chat_id": "={{$json.chat_id.toString()}}",
            "input_text": "={{$json.input_text}}",
            "contact_phone": "={{$json.contact_phone}}",
            "context": "={{ $json.context}}",
            "message_id": "={{ $('Call Middleware').item.json.message_id }}",
            "first_name": "={{$json.first_name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        160,
        1264
      ],
      "id": "ddd1e27c-982d-4ee1-92f9-127d1bad7abd",
      "name": "Call: Identity (SET LANGUAGE)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "VINCULATE",
            "telegram_id": "={{ $json.telegram_id }}",
            "first_name": "={{ $json.first_name }}",
            "chat_id": "={{ $json.chat_id }}",
            "input_text": "={{ $json.input_text }}",
            "context": "={{ $json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        1488
      ],
      "id": "eaa14841-398d-4a48-a758-c7cc3daa866d",
      "name": "Call: Identity (VINCULATE)1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "CONTACT",
            "telegram_id": "={{ $json.telegram_id}}",
            "chat_id": "={{ $json.chat_id }}",
            "first_name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "input_text": "={{ $('Telegram Trigger').item.json.message.text }}",
            "context": "={{ $json.context }}",
            "contact_phone": "={{ $json.contact_phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        1696
      ],
      "id": "7e09cea8-ae7c-41c0-b79d-aa4e2f4ad762",
      "name": "Call: Identity (CONTACT)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zc8E5ZfPENEx6Css",
          "mode": "list",
          "cachedResultUrl": "/workflow/zc8E5ZfPENEx6Css",
          "cachedResultName": "SW-2: Cognitive engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "has_voice": "={{ $('Call Middleware').item.json.has_voice }}",
            "telegram_id": "={{ $('Call Middleware').item.json.telegram_id.toString() }}",
            "chat_id": "={{ $('Call Middleware').item.json.chat_id.toString()}}",
            "input_text": "={{ $('Call Middleware').item.json.input_text }}",
            "file_id": "={{ $('Call Middleware').item.json.file_id }}",
            "context": "={{ $('Call Middleware').item.json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "has_voice",
              "displayName": "has_voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        432,
        1856
      ],
      "id": "5df12530-6765-4dca-9a28-6eb55f36f56d",
      "name": "Call: Cognitive Engine (ASYNC)"
    }
  ],
  "connections": {
    "Main Router": {
      "main": [
        [
          {
            "node": "Call: Identity (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (SET LANGUAGE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (VINCULATE)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (CONTACT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Wait Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call : Mission Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Wait Message": {
      "main": [
        [
          {
            "node": "Call: Cognitive Engine (ASYNC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Call Middleware",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Middleware": {
      "main": [
        [
          {
            "node": "Main Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call: Cognitive Engine (ASYNC)": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7158b72f-2435-4cc5-87c2-206617841c79",
  "activeVersionId": "08065616-55d4-421d-beb7-5eb97bb57ba6",
  "versionCounter": 1029,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:47:27.069Z",
      "createdAt": "2026-02-22T02:47:27.069Z",
      "role": "workflow:owner",
      "workflowId": "cO9M1BtWC9im653l",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-18T19:35:46.833Z",
    "createdAt": "2026-03-16T02:43:49.350Z",
    "versionId": "08065616-55d4-421d-beb7-5eb97bb57ba6",
    "workflowId": "cO9M1BtWC9im653l",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9d2b065e-4a21-46ec-ac60-8d97cf538afa",
                      "leftValue": "={{ $json.input_text }}",
                      "rightValue": "/start",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Start"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "80cf19f5-f520-4c7e-8cb6-55b54cc78c73",
                      "leftValue": "={{ $json.input_text }}",
                      "rightValue": "lang_",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Set Language"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c8b570c4-f875-469c-8999-a02323aaa53b",
                      "leftValue": "={{ $json.input_text }}",
                      "rightValue": "/vinculate",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Vinculate"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "47c15192-d237-4bbb-9ef0-5e636f03f8aa",
                      "leftValue": "={{ $json.is_contact }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Contact"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "5bfcdbb0-9f5f-404a-9a1b-39923b41253e",
                      "leftValue": "={{ ($json.has_voice || ($json.input_text != '' && !$json.input_text.startsWith('/'))) && $json.is_button === false }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Thoughts (AI)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c49d0fba-8b83-4de6-85f8-396ee0c86dcd",
                      "leftValue": "={{ $json.is_button }}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Buttons (Mission)"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {
            "fallbackOutput": "none"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1024,
          1472
        ],
        "id": "9d220242-0786-4657-aa6e-89547b982a6a",
        "name": "Main Router"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $json.chat_id }}",
              "text": "={{ $json.context.translations.msg_wait_thinking ||  \"¡Recibido! Analizando tus pensamientos... 🧠 \"}}\n"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          96,
          1872
        ],
        "id": "82c9a7f9-8e79-4e44-8fb5-a0641b588e20",
        "name": "Send Wait Message"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "QciYupwAd2AZ6IEf",
            "mode": "list",
            "cachedResultUrl": "/workflow/QciYupwAd2AZ6IEf",
            "cachedResultName": "SW-3: Mission Control"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "telegram_id": "={{ $json.telegram_id }}",
              "callback_data": "={{ $json.input_text }}",
              "chat_id": "={{ $json.chat_id }}",
              "message_id": "={{ $json.message_id }}",
              "markup_type": "removeInline"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "callback_data",
                "displayName": "callback_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          144,
          2112
        ],
        "id": "6bf8b7f4-fa97-4b12-a999-0800d001152f",
        "name": "Call : Mission Control"
      },
      {
        "parameters": {
          "content": "## Description\nThis is the main entry point (Webhook) of the application. It receives all user interactions from Telegram, standardizes the payload, and delegates execution to the corresponding specialized sub-workflow based on the user's intent",
          "height": 144,
          "width": 576
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1616,
          880
        ],
        "typeVersion": 1,
        "id": "5ae4c501-0d68-4daf-9a8e-22edd13385d0",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Receive & Format Data",
          "height": 528,
          "width": 736,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2112,
          1280
        ],
        "id": "77979ba4-2c25-48ca-af12-4b6a335657ee",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Traffic Router (Switch)",
          "height": 608,
          "width": 688,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1232,
          1296
        ],
        "id": "549abca6-de37-4849-929f-c043221c9c9e",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Trigger Specialized Sub-workflows",
          "height": 1296,
          "width": 624,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -32,
          976
        ],
        "typeVersion": 1,
        "id": "240f4509-3327-4bef-85bb-34b7d315d420",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          -2048,
          1456
        ],
        "id": "db9253d1-16f4-4c68-ab35-87b203d525b6",
        "name": "Telegram Trigger",
        "webhookId": "1a3ad167-7a3e-4f30-a207-8efb6cb910ef",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "hLp8Ac9eAk2fI5Lt",
            "mode": "list",
            "cachedResultUrl": "/workflow/hLp8Ac9eAk2fI5Lt",
            "cachedResultName": "SW-0:Middleware: Global Context Enricher"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "has_voice": "={{ !!$json.message?.voice }}",
              "is_contact": "={{ !!$json.message?.contact }}",
              "is_button": "={{ !!$json.callback_query }}",
              "input_text": "={{ $json.message?.text || $json.callback_query?.data || \"\" }}",
              "first_name": "={{ $json.message?.from?.first_name || $json.callback_query?.from?.first_name || \"User\" }}",
              "telegram_id": "={{ ($json.message?.from?.id || $json.callback_query?.from?.id).toString() }}",
              "file_id": "={{ $json.message?.voice?.file_id || \"\" }}",
              "contact_phone": "={{ $json.message?.contact?.phone_number || \"\" }}",
              "chat_id": "={{ ($json.message?.from?.id || $json.callback_query?.from?.id).toString() }}",
              "message_id": "={{ ($json.message?.message_id || $json.callback_query?.message?.message_id || \"\").toString() }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "has_voice",
                "displayName": "has_voice",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean"
              },
              {
                "id": "file_id",
                "displayName": "file_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "is_contact",
                "displayName": "is_contact",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean"
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "is_button",
                "displayName": "is_button",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1792,
          1456
        ],
        "id": "943d72eb-da42-4de7-a31f-edd4f1cbbbdd",
        "name": "Call Middleware",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "START",
              "telegram_id": "={{ $json.telegram_id }}",
              "chat_id": "={{ $json.chat_id }}",
              "first_name": "={{ $json.first_name }}",
              "input_text": "={{ $json.input_text }}",
              "context": "={{ $json.context }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          144,
          1072
        ],
        "id": "a430168c-12d7-4bd6-a5e8-678806994e45",
        "name": "Call: Identity (START)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "SET_LANGUAGE",
              "telegram_id": "={{$json.telegram_id.toString()}}",
              "chat_id": "={{$json.chat_id.toString()}}",
              "input_text": "={{$json.input_text}}",
              "contact_phone": "={{$json.contact_phone}}",
              "context": "={{ $json.context}}",
              "message_id": "={{ $('Call Middleware').item.json.message_id }}",
              "first_name": "={{$json.first_name}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          160,
          1264
        ],
        "id": "ddd1e27c-982d-4ee1-92f9-127d1bad7abd",
        "name": "Call: Identity (SET LANGUAGE)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "VINCULATE",
              "telegram_id": "={{ $json.telegram_id }}",
              "first_name": "={{ $json.first_name }}",
              "chat_id": "={{ $json.chat_id }}",
              "input_text": "={{ $json.input_text }}",
              "context": "={{ $json.context }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          144,
          1488
        ],
        "id": "eaa14841-398d-4a48-a758-c7cc3daa866d",
        "name": "Call: Identity (VINCULATE)1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "CONTACT",
              "telegram_id": "={{ $json.telegram_id}}",
              "chat_id": "={{ $json.chat_id }}",
              "first_name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
              "input_text": "={{ $('Telegram Trigger').item.json.message.text }}",
              "context": "={{ $json.context }}",
              "contact_phone": "={{ $json.contact_phone }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          144,
          1696
        ],
        "id": "7e09cea8-ae7c-41c0-b79d-aa4e2f4ad762",
        "name": "Call: Identity (CONTACT)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zc8E5ZfPENEx6Css",
            "mode": "list",
            "cachedResultUrl": "/workflow/zc8E5ZfPENEx6Css",
            "cachedResultName": "SW-2: Cognitive engine"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "has_voice": "={{ $('Call Middleware').item.json.has_voice }}",
              "telegram_id": "={{ $('Call Middleware').item.json.telegram_id.toString() }}",
              "chat_id": "={{ $('Call Middleware').item.json.chat_id.toString()}}",
              "input_text": "={{ $('Call Middleware').item.json.input_text }}",
              "file_id": "={{ $('Call Middleware').item.json.file_id }}",
              "context": "={{ $('Call Middleware').item.json.context }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "has_voice",
                "displayName": "has_voice",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "file_id",
                "displayName": "file_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          432,
          1856
        ],
        "id": "5df12530-6765-4dca-9a28-6eb55f36f56d",
        "name": "Call: Cognitive Engine (ASYNC)"
      }
    ],
    "connections": {
      "Main Router": {
        "main": [
          [
            {
              "node": "Call: Identity (START)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call: Identity (SET LANGUAGE)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call: Identity (VINCULATE)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call: Identity (CONTACT)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Wait Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call : Mission Control",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Wait Message": {
        "main": [
          [
            {
              "node": "Call: Cognitive Engine (ASYNC)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Call Middleware",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Middleware": {
        "main": [
          [
            {
              "node": "Main Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call: Cognitive Engine (ASYNC)": {
        "main": [
          []
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 08065616",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-18T19:35:46.776Z",
        "id": 270,
        "workflowId": "cO9M1BtWC9im653l",
        "versionId": "08065616-55d4-421d-beb7-5eb97bb57ba6",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}