n8n/workflows/mindops-orchestrator.json
{
  "updatedAt": "2026-03-03T16:13:47.717Z",
  "createdAt": "2026-02-22T02:47:27.069Z",
  "id": "cO9M1BtWC9im653l",
  "name": "MindOps Orchestrator",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_telegram_id",
              "name": "telegram_id",
              "value": "={{ $json.message?.from?.id || $json.callback_query?.from?.id }}",
              "type": "string"
            },
            {
              "id": "set_first_name",
              "name": "first_name",
              "value": "={{ $json.message?.from?.first_name || $json.callback_query?.from?.first_name || \"User\" }}",
              "type": "string"
            },
            {
              "id": "set_input_text",
              "name": "input_text",
              "value": "={{ $json.message?.text || $json.callback_query?.data || \"\" }}",
              "type": "string"
            },
            {
              "id": "set_has_voice",
              "name": "has_voice",
              "value": "={{ !!$json.message?.voice }}",
              "type": "boolean"
            },
            {
              "id": "set_file_id",
              "name": "file_id",
              "value": "={{ $json.message?.voice?.file_id || \"\" }}",
              "type": "string"
            },
            {
              "id": "set_is_contact",
              "name": "is_contact",
              "value": "={{ !!$json.message?.contact }}",
              "type": "boolean"
            },
            {
              "id": "set_contact_phone",
              "name": "contact_phone",
              "value": "={{ $json.message?.contact?.phone_number || \"\" }}",
              "type": "string"
            },
            {
              "id": "set_is_button",
              "name": "is_button",
              "value": "={{ !!$json.callback_query }}",
              "type": "boolean"
            },
            {
              "id": "e6dc1f7a-778b-4c65-8773-44e4b8d81818",
              "name": "chat_id",
              "value": "={{ $json.message?.from?.id || $json.callback_query?.from?.id }}",
              "type": "string"
            },
            {
              "id": "61596b5f-e5ce-410c-a6d6-0e1f90966cb5",
              "name": "message_id",
              "value": "={{ $json.callback_query?.message?.message_id || $json.message?.message_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        1600
      ],
      "id": "4e20a7c1-2c0a-4c72-9edf-667a17fb9c44",
      "name": "Normalize Payload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.input_text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "757be9d6-fd9e-4e1a-89bc-5c8b11eec385"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route_vinc",
                    "leftValue": "={{ $json.input_text }}",
                    "rightValue": "/vinculate",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vinculate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "route_contact",
                    "leftValue": "={{ $json.is_contact }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e68d705d-1b21-424e-860c-282e83aef51d",
                    "leftValue": "={{ ($json.has_voice || ($json.input_text != '' && !$json.input_text.startsWith('/'))) && $json.is_button === false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thoughts (AI)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "43e3b3f7-ce49-4dcf-9a75-4f364eb779a8",
                    "leftValue": "={{ $json.is_button }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Buttons (Mission)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -464,
        1600
      ],
      "id": "9d220242-0786-4657-aa6e-89547b982a6a",
      "name": "Main Router"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "telegram_id": "={{ $json.telegram_id }}",
            "first_name": "={{ $json.first_name }}",
            "input_text": "={{ $json.input_text }}",
            "action": "START"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        1296
      ],
      "id": "c139833c-f414-4095-abf5-e8d8a48c8a10",
      "name": "Call: Identity (START)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "VINCULATE",
            "telegram_id": "={{ $json.telegram_id }}",
            "chat_id": "={{ $json.chat_id }}",
            "first_name": "={{ $('Telegram Trigger1').item.json.message.from.first_name }}",
            "input_text": "={{ $('Telegram Trigger1').item.json.message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        1488
      ],
      "id": "ab868cc8-a17a-48ad-ae67-f1736aa5ad90",
      "name": "Call: Identity (VINCULATE)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "CONTACT",
            "telegram_id": "={{ $json.telegram_id}}",
            "chat_id": "={{ $json.chat_id }}",
            "first_name": "={{ $('Telegram Trigger1').item.json.message.chat.first_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        1664
      ],
      "id": "3135d6c6-dc23-4c53-8743-fab5e857562f",
      "name": "Call: Identity (CONTACT)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zc8E5ZfPENEx6Css",
          "mode": "list",
          "cachedResultUrl": "/workflow/zc8E5ZfPENEx6Css",
          "cachedResultName": "SW-2: Cognitive engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "has_voice": "={{ $('Normalize Payload').item.json.has_voice }}",
            "telegram_id": "={{ $('Normalize Payload').item.json.telegram_id }}",
            "input_text": "={{ $('Telegram Trigger1').item.json.message.text }}",
            "chat_id": "={{ $('Normalize Payload').item.json.chat_id }}",
            "file_id": "={{ $('Normalize Payload').item.json.file_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "has_voice",
              "displayName": "has_voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        176,
        1856
      ],
      "id": "15256390-c0e1-4a3d-a240-d32bd3bd7d49",
      "name": "Call: Cognitive Engine (ASYNC)"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        1600
      ],
      "id": "db9253d1-16f4-4c68-ab35-87b203d525b6",
      "name": "Telegram Trigger1",
      "webhookId": "1a3ad167-7a3e-4f30-a207-8efb6cb910ef",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "text": "Got it! Analyzing your thinking... 🧠!"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -64,
        1856
      ],
      "id": "82c9a7f9-8e79-4e44-8fb5-a0641b588e20",
      "name": "Send Wait Message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QciYupwAd2AZ6IEf",
          "mode": "list",
          "cachedResultUrl": "/workflow/QciYupwAd2AZ6IEf",
          "cachedResultName": "SW-3: Mission Control"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_id": "={{ $json.telegram_id }}",
            "callback_data": "={{ $json.input_text }}",
            "chat_id": "={{ $json.chat_id }}",
            "message_id": "={{ $json.message_id }}",
            "markup_type": "removeInline"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "callback_data",
              "displayName": "callback_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        2064
      ],
      "id": "6bf8b7f4-fa97-4b12-a999-0800d001152f",
      "name": "Call : Mission Control"
    }
  ],
  "connections": {
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Main Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Main Router": {
      "main": [
        [
          {
            "node": "Call: Identity (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (VINCULATE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (CONTACT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Wait Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call : Mission Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Wait Message": {
      "main": [
        [
          {
            "node": "Call: Cognitive Engine (ASYNC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "af9337a1-ea28-4aa1-af7b-fc3170c34616",
  "activeVersionId": null,
  "versionCounter": 446,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:47:27.069Z",
      "createdAt": "2026-02-22T02:47:27.069Z",
      "role": "workflow:owner",
      "workflowId": "cO9M1BtWC9im653l",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}