n8n/workflows/mindops-orchestrator.json
{
  "updatedAt": "2026-04-06T02:19:00.565Z",
  "createdAt": "2026-02-22T02:47:27.069Z",
  "id": "cO9M1BtWC9im653l",
  "name": "MindOps Orchestrator",
  "description": "Main entry point. Receives Telegram messages, normalizes payload, and routes to specialized sub-workflows",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9d2b065e-4a21-46ec-ac60-8d97cf538afa",
                    "leftValue": "={{ $node[\"Format Telegram Input\"].json.input_text.trim() }}",
                    "rightValue": "lang_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Set Language"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "80cf19f5-f520-4c7e-8cb6-55b54cc78c73",
                    "leftValue": "={{$node[\"Format Telegram Input\"].json.input_text.trim()}}",
                    "rightValue": "/vinculate",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vinculate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c8b570c4-f875-469c-8999-a02323aaa53b",
                    "leftValue": "={{ $node[\"Format Telegram Input\"].json.input_text.trim() }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "47c15192-d237-4bbb-9ef0-5e636f03f8aa",
                    "leftValue": "={{ \n  $node[\"Format Telegram Input\"].json.is_contact === true\n  || $json.user?.onboarding_state === \"PENDING_CONTACT\"\n}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5bfcdbb0-9f5f-404a-9a1b-39923b41253e",
                    "leftValue": "={{ \n  $json.exists === true \n  && $node[\"Format Telegram Input\"].json.is_button === false\n  && $json.user?.onboarding_state !== \"PENDING_CONTACT\"\n}}",
                    "rightValue": "Thoughts (AI)",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Thoughts (AI)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c49d0fba-8b83-4de6-85f8-396ee0c86dcd",
                    "leftValue": "={{ $json.exists === true && $node[\"Format Telegram Input\"].json.is_button === true }}",
                    "rightValue": "Buttons (Mission)",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Buttons (Mission)"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2096,
        1536
      ],
      "id": "9d220242-0786-4657-aa6e-89547b982a6a",
      "name": "Main Router"
    },
    {
      "parameters": {
        "content": "## Receive & Format Data",
        "height": 672,
        "width": 976,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3440,
        1216
      ],
      "id": "77979ba4-2c25-48ca-af12-4b6a335657ee",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Traffic Router (Switch)",
        "height": 608,
        "width": 688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2256,
        1344
      ],
      "id": "549abca6-de37-4849-929f-c043221c9c9e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trigger Specialized Sub-workflows",
        "height": 1296,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        1088
      ],
      "typeVersion": 1,
      "id": "240f4509-3327-4bef-85bb-34b7d315d420",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3360,
        1520
      ],
      "id": "db9253d1-16f4-4c68-ab35-87b203d525b6",
      "name": "Telegram Trigger",
      "webhookId": "1a3ad167-7a3e-4f30-a207-8efb6cb910ef",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "start",
            "chat_id": "={{ $node[\"Format Telegram Input\"].json.chat_id }}",
            "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
            "first_name": "={{ $node[\"Format Telegram Input\"].json.first_name }}",
            "input_text": "={{ $node[\"Format Telegram Input\"].json.input_text }}",
            "message_id": "={{ $node[\"Format Telegram Input\"].json.message_id }}",
            "telegram_id": "={{ $node[\"Format Telegram Input\"].json.telegram_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -704,
        1648
      ],
      "id": "a430168c-12d7-4bd6-a5e8-678806994e45",
      "name": "Call: Identity (START)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QciYupwAd2AZ6IEf",
          "mode": "list",
          "cachedResultUrl": "/workflow/QciYupwAd2AZ6IEf",
          "cachedResultName": "SW-3: Mission Control"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Format Telegram Input').item.json.chat_id.toString() }}",
            "telegram_id": "={{ $('Format Telegram Input').item.json.telegram_id.toString() }}",
            "callback_data": "={{ $('Format Telegram Input').item.json.input_text }}",
            "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
            "message_id": "={{ $('Format Telegram Input').item.json.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "callback_data",
              "displayName": "callback_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6bf8b7f4-fa97-4b12-a999-0800d001152f_new",
      "name": "Call : Mission Control",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        2224
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "set_language",
            "telegram_id": "={{ $node[\"Supabase: Global Context Gateway\"].json.user?.id || $node[\"Format Telegram Input\"].json.telegram_id.toString() }}",
            "chat_id": "={{ $node[\"Format Telegram Input\"].json.chat_id.toString() }}",
            "first_name": "={{ $node[\"Format Telegram Input\"].json.first_name }}",
            "input_text": "={{ $node[\"Format Telegram Input\"].json.input_text.trim() }}",
            "context": "={{ $node[\"Supabase: Global Context Gateway\"].json }}",
            "message_id": "={{ $node[\"Format Telegram Input\"].json.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "ddd1e27c-982d-4ee1-92f9-127d1bad7abd_new",
      "name": "Call: Identity (SET LANGUAGE)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -736,
        1200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "vinculate",
            "chat_id": "={{ $('Format Telegram Input').item.json.chat_id.toString() }}",
            "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
            "first_name": "={{ $('Format Telegram Input').item.json.first_name }}",
            "input_text": "={{ $('Format Telegram Input').item.json.input_text }}",
            "message_id": "={{ $('Format Telegram Input').item.json.message_id }}",
            "telegram_id": "={{ $('Format Telegram Input').item.json.telegram_id.toString()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "eaa14841-398d-4a48-a758-c7cc3daa866d_new",
      "name": "Call: Identity (VINCULATE)1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -720,
        1456
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GmInc0tYXj4ZR4kM",
          "mode": "list",
          "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
          "cachedResultName": "SW-1: Identity & Onboarding"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "contact",
            "chat_id": "={{ $node['Format Telegram Input'].json.chat_id.toString() }}",
            "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
            "first_name": "={{ $node['Format Telegram Input'].json.first_name }}",
            "input_text": "={{ $node['Format Telegram Input'].json.input_text }}",
            "message_id": "={{ $node['Format Telegram Input'].json.message_id }}",
            "telegram_id": "={{ $node['Format Telegram Input'].json.telegram_id.toString() }}",
            "contact_phone": "={{ $node['Format Telegram Input'].json.contact_phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "7e09cea8-ae7c-41c0-b79d-aa4e2f4ad762_new",
      "name": "Call: Identity (CONTACT)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -656,
        1840
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zc8E5ZfPENEx6Css",
          "mode": "list",
          "cachedResultUrl": "/workflow/zc8E5ZfPENEx6Css",
          "cachedResultName": "SW-2: Cognitive engine"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Format Telegram Input').item.json.chat_id.toString() }}",
            "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
            "input_text": "={{ $('Format Telegram Input').item.json.input_text }}",
            "telegram_id": "={{ $('Format Telegram Input').item.json.telegram_id.toString() }}",
            "has_voice": "={{ $('Format Telegram Input').item.json.has_voice }}",
            "file_id": "={{ $('Format Telegram Input').item.json.file_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "has_voice",
              "displayName": "has_voice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "is_button",
              "displayName": "is_button",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "telegram_token",
              "displayName": "telegram_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "5df12530-6765-4dca-9a28-6eb55f36f56d_new",
      "name": "Call: Cognitive Engine (ASYNC)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -624,
        2016
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Format Telegram Input\"].json.chat_id }}",
        "text": "={{ $('Supabase: Global Context Gateway').item.json.translations['msg_wait_thinking '] }}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -880,
        2016
      ],
      "id": "3400a44e-0b44-4288-9eaf-4024bbc9060a",
      "name": "Send a text message",
      "webhookId": "ce766f98-7438-415a-92a3-8f07644c9ee6",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1452319-a415-42ec-b75a-4ea9875da017",
              "name": "telegram_id",
              "value": "={{ $json.message?.from?.id || $json.callback_query?.from?.id }}",
              "type": "string"
            },
            {
              "id": "f3103809-2930-477c-9f42-9ff148bf7810",
              "name": "chat_id",
              "value": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
              "type": "string"
            },
            {
              "id": "f01cb432-8e64-483e-af90-0eb0c2af0562",
              "name": "first_name",
              "value": "={{ $json.message?.from?.first_name || $json.callback_query?.from?.first_name }}",
              "type": "string"
            },
            {
              "id": "02c4e5cc-a414-4108-befc-773e4091baec",
              "name": "input_text",
              "value": "= {{ $json.message?.text || $json.callback_query?.data || \"\" }}",
              "type": "string"
            },
            {
              "id": "5efb5004-0f4e-4887-ad75-3ec531ec0bdc",
              "name": "message_id",
              "value": "={{ $json.message?.message_id || $json.callback_query?.message?.message_id }}",
              "type": "string"
            },
            {
              "id": "b03ef519-9c0f-453b-ac65-2d07c0804de2",
              "name": "is_button",
              "value": "={{!!$json.callback_query}}",
              "type": "boolean"
            },
            {
              "id": "f10e3187-b932-4e53-abcc-d9f00965b5aa",
              "name": "has_voice",
              "value": "={{!!$json.message?.voice}}",
              "type": "boolean"
            },
            {
              "id": "9e9327fe-6036-43cf-98a8-3f08989ec1ba",
              "name": "=is_contact",
              "value": "={{ !!$json.message?.contact }}",
              "type": "string"
            },
            {
              "id": "c08a4039-fc5e-4fc9-8c86-bc5ba3b8f7c9",
              "name": "contact_phone",
              "value": "={{ $json.message?.contact?.phone_number || \"\" }}",
              "type": "string"
            },
            {
              "id": "b44ed984-c69c-49a7-9afb-38e572625c6c",
              "name": "file_id",
              "value": "={{ $json.message?.voice?.file_id || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3136,
        1520
      ],
      "id": "13258123-3076-40dd-8996-4ad83d638f7e",
      "name": "Format Telegram Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/get_bot_context",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_user_id",
              "value": "={{ $('Format Telegram Input').item.json.telegram_id }}"
            },
            {
              "name": "p_prefered_lang",
              "value": "={{ $json.prefered_lang }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2688,
        1552
      ],
      "id": "029ced7d-451d-47ad-847f-57667a329e52",
      "name": "Supabase: Global Context Gateway",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst inputText = (item.input_text || '').trim();\nconst preferedLang = inputText.startsWith('lang_') \n  ? inputText.substring(5) \n  : '';\n\nreturn [{\n  json: {\n    ...item,\n    prefered_lang: preferedLang\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        1536
      ],
      "id": "df49e511-50a3-41b2-a6f5-caf5dfb5a7fc",
      "name": "Extract language"
    },
    {
      "parameters": {
        "content": "##  Error Handling",
        "height": 320,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2208,
        2128
      ],
      "typeVersion": 1,
      "id": "0ea3eedd-620f-4596-af25-a7b8423395f3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chatId": "={{ $('Format Telegram Input').item.json.chat_id }}",
        "text": "={{ $('Supabase: Global Context Gateway').item.json.translations?.error_message_onboarding}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2112,
        2240
      ],
      "id": "e078fbaf-772e-4ec0-ac5e-0a9a45897981",
      "name": "Error message",
      "webhookId": "dd07f348-a5c7-44d9-aa8f-c77d52d7f325",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    }
  ],
  "connections": {
    "Main Router": {
      "main": [
        [
          {
            "node": "Call: Identity (SET LANGUAGE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (VINCULATE)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call: Identity (CONTACT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call : Mission Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Format Telegram Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Call: Cognitive Engine (ASYNC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Input": {
      "main": [
        [
          {
            "node": "Extract language",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Global Context Gateway": {
      "main": [
        [
          {
            "node": "Main Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call: Identity (SET LANGUAGE)": {
      "main": [
        []
      ]
    },
    "Extract language": {
      "main": [
        [
          {
            "node": "Supabase: Global Context Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call: Identity (START)": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6d1780fd-1745-43f3-9ca4-bcde310a463d",
  "activeVersionId": "3936237c-d7f3-4209-bf5f-55a7c52a3203",
  "versionCounter": 1987,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:47:27.069Z",
      "createdAt": "2026-02-22T02:47:27.069Z",
      "role": "workflow:owner",
      "workflowId": "cO9M1BtWC9im653l",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-01T03:12:53.296Z",
    "createdAt": "2026-04-01T03:12:48.117Z",
    "versionId": "3936237c-d7f3-4209-bf5f-55a7c52a3203",
    "workflowId": "cO9M1BtWC9im653l",
    "nodes": [
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "9d2b065e-4a21-46ec-ac60-8d97cf538afa",
                      "leftValue": "={{ $node[\"Format Telegram Input\"].json.input_text.trim() }}",
                      "rightValue": "lang_",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Set Language"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "80cf19f5-f520-4c7e-8cb6-55b54cc78c73",
                      "leftValue": "={{$node[\"Format Telegram Input\"].json.input_text.trim()}}",
                      "rightValue": "/vinculate",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Vinculate"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c8b570c4-f875-469c-8999-a02323aaa53b",
                      "leftValue": "={{ $node[\"Format Telegram Input\"].json.input_text.trim() }}",
                      "rightValue": "/start",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Start"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "47c15192-d237-4bbb-9ef0-5e636f03f8aa",
                      "leftValue": "={{ \n  $node[\"Format Telegram Input\"].json.is_contact === true\n  || $json.user?.onboarding_state === \"PENDING_CONTACT\"\n}}",
                      "rightValue": "",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Contact"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "5bfcdbb0-9f5f-404a-9a1b-39923b41253e",
                      "leftValue": "={{ \n  $json.exists === true \n  && $node[\"Format Telegram Input\"].json.is_button === false\n  && $json.user?.onboarding_state !== \"PENDING_CONTACT\"\n}}",
                      "rightValue": "Thoughts (AI)",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Thoughts (AI)"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c49d0fba-8b83-4de6-85f8-396ee0c86dcd",
                      "leftValue": "={{ $json.exists === true && $node[\"Format Telegram Input\"].json.is_button === true }}",
                      "rightValue": "Buttons (Mission)",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Buttons (Mission)"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {
            "fallbackOutput": "none"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -2096,
          1536
        ],
        "id": "9d220242-0786-4657-aa6e-89547b982a6a",
        "name": "Main Router"
      },
      {
        "parameters": {
          "content": "## Receive & Format Data",
          "height": 672,
          "width": 976,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -3392,
          1216
        ],
        "id": "77979ba4-2c25-48ca-af12-4b6a335657ee",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Traffic Router (Switch)",
          "height": 608,
          "width": 688,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2256,
          1344
        ],
        "id": "549abca6-de37-4849-929f-c043221c9c9e",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Trigger Specialized Sub-workflows",
          "height": 1296,
          "width": 624,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1008,
          1088
        ],
        "typeVersion": 1,
        "id": "240f4509-3327-4bef-85bb-34b7d315d420",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -3360,
          1520
        ],
        "id": "db9253d1-16f4-4c68-ab35-87b203d525b6",
        "name": "Telegram Trigger",
        "webhookId": "1a3ad167-7a3e-4f30-a207-8efb6cb910ef",
        "alwaysOutputData": true,
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "start",
              "chat_id": "={{ $node[\"Format Telegram Input\"].json.chat_id }}",
              "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
              "first_name": "={{ $node[\"Format Telegram Input\"].json.first_name }}",
              "input_text": "={{ $node[\"Format Telegram Input\"].json.input_text }}",
              "message_id": "={{ $node[\"Format Telegram Input\"].json.message_id }}",
              "telegram_id": "={{ $node[\"Format Telegram Input\"].json.telegram_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -704,
          1648
        ],
        "id": "a430168c-12d7-4bd6-a5e8-678806994e45",
        "name": "Call: Identity (START)",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "QciYupwAd2AZ6IEf",
            "mode": "list",
            "cachedResultUrl": "/workflow/QciYupwAd2AZ6IEf",
            "cachedResultName": "SW-3: Mission Control"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Format Telegram Input').item.json.chat_id.toString() }}",
              "telegram_id": "={{ $('Format Telegram Input').item.json.telegram_id.toString() }}",
              "callback_data": "={{ $('Format Telegram Input').item.json.input_text }}",
              "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
              "message_id": "={{ $('Format Telegram Input').item.json.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "callback_data",
                "displayName": "callback_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "6bf8b7f4-fa97-4b12-a999-0800d001152f_new",
        "name": "Call : Mission Control",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -832,
          2224
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "set_language",
              "telegram_id": "={{ $node[\"Supabase: Global Context Gateway\"].json.user?.id || $node[\"Format Telegram Input\"].json.telegram_id.toString() }}",
              "chat_id": "={{ $node[\"Format Telegram Input\"].json.chat_id.toString() }}",
              "first_name": "={{ $node[\"Format Telegram Input\"].json.first_name }}",
              "input_text": "={{ $node[\"Format Telegram Input\"].json.input_text.trim() }}",
              "context": "={{ $node[\"Supabase: Global Context Gateway\"].json }}",
              "message_id": "={{ $node[\"Format Telegram Input\"].json.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "ddd1e27c-982d-4ee1-92f9-127d1bad7abd_new",
        "name": "Call: Identity (SET LANGUAGE)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -736,
          1200
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "vinculate",
              "chat_id": "={{ $('Format Telegram Input').item.json.chat_id.toString() }}",
              "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
              "first_name": "={{ $('Format Telegram Input').item.json.first_name }}",
              "input_text": "={{ $('Format Telegram Input').item.json.input_text }}",
              "message_id": "={{ $('Format Telegram Input').item.json.message_id }}",
              "telegram_id": "={{ $('Format Telegram Input').item.json.telegram_id.toString()}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "id": "eaa14841-398d-4a48-a758-c7cc3daa866d_new",
        "name": "Call: Identity (VINCULATE)1",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -720,
          1456
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "GmInc0tYXj4ZR4kM",
            "mode": "list",
            "cachedResultUrl": "/workflow/GmInc0tYXj4ZR4kM",
            "cachedResultName": "SW-1: Identity & Onboarding"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "action": "contact",
              "chat_id": "={{ $node['Format Telegram Input'].json.chat_id.toString() }}",
              "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
              "first_name": "={{ $node['Format Telegram Input'].json.first_name }}",
              "input_text": "={{ $node['Format Telegram Input'].json.input_text }}",
              "message_id": "={{ $node['Format Telegram Input'].json.message_id }}",
              "telegram_id": "={{ $node['Format Telegram Input'].json.telegram_id.toString() }}",
              "contact_phone": "={{ $node['Format Telegram Input'].json.contact_phone }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "action",
                "displayName": "action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "first_name",
                "displayName": "first_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "contact_phone",
                "displayName": "contact_phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "id": "7e09cea8-ae7c-41c0-b79d-aa4e2f4ad762_new",
        "name": "Call: Identity (CONTACT)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -656,
          1840
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zc8E5ZfPENEx6Css",
            "mode": "list",
            "cachedResultUrl": "/workflow/zc8E5ZfPENEx6Css",
            "cachedResultName": "SW-2: Cognitive engine"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Format Telegram Input').item.json.chat_id.toString() }}",
              "context": "={{ $node['Supabase: Global Context Gateway'].json }}",
              "input_text": "={{ $('Format Telegram Input').item.json.input_text }}",
              "telegram_id": "={{ $('Format Telegram Input').item.json.telegram_id.toString() }}",
              "has_voice": "={{ $('Format Telegram Input').item.json.has_voice }}",
              "file_id": "={{ $('Format Telegram Input').item.json.file_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telegram_id",
                "displayName": "telegram_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "input_text",
                "displayName": "input_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "has_voice",
                "displayName": "has_voice",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": false
              },
              {
                "id": "file_id",
                "displayName": "file_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "is_button",
                "displayName": "is_button",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "boolean",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object"
              },
              {
                "id": "telegram_token",
                "displayName": "telegram_token",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "5df12530-6765-4dca-9a28-6eb55f36f56d_new",
        "name": "Call: Cognitive Engine (ASYNC)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -624,
          2016
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $node[\"Format Telegram Input\"].json.chat_id }}",
          "text": "={{ $('Supabase: Global Context Gateway').item.json.translations['msg_wait_thinking '] }}\n",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -880,
          2016
        ],
        "id": "3400a44e-0b44-4288-9eaf-4024bbc9060a",
        "name": "Send a text message",
        "webhookId": "ce766f98-7438-415a-92a3-8f07644c9ee6",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1452319-a415-42ec-b75a-4ea9875da017",
                "name": "telegram_id",
                "value": "={{ $json.message?.from?.id || $json.callback_query?.from?.id }}",
                "type": "string"
              },
              {
                "id": "f3103809-2930-477c-9f42-9ff148bf7810",
                "name": "chat_id",
                "value": "={{ $json.message?.chat?.id || $json.callback_query?.message?.chat?.id }}",
                "type": "string"
              },
              {
                "id": "f01cb432-8e64-483e-af90-0eb0c2af0562",
                "name": "first_name",
                "value": "={{ $json.message?.from?.first_name || $json.callback_query?.from?.first_name }}",
                "type": "string"
              },
              {
                "id": "02c4e5cc-a414-4108-befc-773e4091baec",
                "name": "input_text",
                "value": "= {{ $json.message?.text || $json.callback_query?.data || \"\" }}",
                "type": "string"
              },
              {
                "id": "5efb5004-0f4e-4887-ad75-3ec531ec0bdc",
                "name": "message_id",
                "value": "={{ $json.message?.message_id || $json.callback_query?.message?.message_id }}",
                "type": "string"
              },
              {
                "id": "b03ef519-9c0f-453b-ac65-2d07c0804de2",
                "name": "is_button",
                "value": "={{!!$json.callback_query}}",
                "type": "boolean"
              },
              {
                "id": "f10e3187-b932-4e53-abcc-d9f00965b5aa",
                "name": "has_voice",
                "value": "={{!!$json.message?.voice}}",
                "type": "boolean"
              },
              {
                "id": "9e9327fe-6036-43cf-98a8-3f08989ec1ba",
                "name": "=is_contact",
                "value": "={{ !!$json.message?.contact }}",
                "type": "string"
              },
              {
                "id": "c08a4039-fc5e-4fc9-8c86-bc5ba3b8f7c9",
                "name": "contact_phone",
                "value": "={{ $json.message?.contact?.phone_number || \"\" }}",
                "type": "string"
              },
              {
                "id": "b44ed984-c69c-49a7-9afb-38e572625c6c",
                "name": "file_id",
                "value": "={{ $json.message?.voice?.file_id || \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -3136,
          1520
        ],
        "id": "13258123-3076-40dd-8996-4ad83d638f7e",
        "name": "Format Telegram Input"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/get_bot_context",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "p_user_id",
                "value": "={{ $('Format Telegram Input').item.json.telegram_id }}"
              },
              {
                "name": "p_prefered_lang",
                "value": "={{ $json.prefered_lang }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2688,
          1552
        ],
        "id": "029ced7d-451d-47ad-847f-57667a329e52",
        "name": "Supabase: Global Context Gateway",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst inputText = (item.input_text || '').trim();\nconst preferedLang = inputText.startsWith('lang_') \n  ? inputText.substring(5) \n  : '';\n\nreturn [{\n  json: {\n    ...item,\n    prefered_lang: preferedLang\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2912,
          1536
        ],
        "id": "df49e511-50a3-41b2-a6f5-caf5dfb5a7fc",
        "name": "Extract language"
      },
      {
        "parameters": {
          "content": "##  Error Handling",
          "height": 320,
          "width": 368,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2208,
          2128
        ],
        "typeVersion": 1,
        "id": "0ea3eedd-620f-4596-af25-a7b8423395f3",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "chatId": "={{ $('Format Telegram Input').item.json.chat_id }}",
          "text": "={{ $('Supabase: Global Context Gateway').item.json.translations?.error_message_onboarding}}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2112,
          2240
        ],
        "id": "e078fbaf-772e-4ec0-ac5e-0a9a45897981",
        "name": "Error message",
        "webhookId": "dd07f348-a5c7-44d9-aa8f-c77d52d7f325",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      }
    ],
    "connections": {
      "Main Router": {
        "main": [
          [
            {
              "node": "Call: Identity (SET LANGUAGE)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call: Identity (VINCULATE)1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call: Identity (START)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call: Identity (CONTACT)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call : Mission Control",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Format Telegram Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Call: Cognitive Engine (ASYNC)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Telegram Input": {
        "main": [
          [
            {
              "node": "Extract language",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase: Global Context Gateway": {
        "main": [
          [
            {
              "node": "Main Router",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call: Identity (SET LANGUAGE)": {
        "main": [
          []
        ]
      },
      "Extract language": {
        "main": [
          [
            {
              "node": "Supabase: Global Context Gateway",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call: Identity (START)": {
        "main": [
          []
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 3936237c",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-01T03:12:53.254Z",
        "id": 743,
        "workflowId": "cO9M1BtWC9im653l",
        "versionId": "3936237c-d7f3-4209-bf5f-55a7c52a3203",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}