n8n/workflows/sw-0-middleware-global-context-enricher.json
{
  "updatedAt": "2026-03-16T19:28:59.674Z",
  "createdAt": "2026-03-13T19:42:53.898Z",
  "id": "hLp8Ac9eAk2fI5Lt",
  "name": "SW-0:Middleware: Global Context Enricher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{$json.telegram_id}}&select=language",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "id": "6f9cb98a-0034-431c-b33b-4a7c750b40ed",
      "name": "Get Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -560,
        -160
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/telegram_sessions?telegram_id=eq.{{$json.telegram_id}}&select=language",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "id": "8b547686-93bd-453c-95d5-bb4f93655b83",
      "name": "Get Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -560,
        32
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/translations?select=key,es,en",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "id": "dd7fcec4-871e-441c-b2e3-41d289837dc9",
      "name": "Get Translations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -528,
        -544
      ],
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Smart Context Consolidation (V3 - Standard n8n Syntax)\n */\n\n// 1. Resolve Language Selection from Button\nconst currentInput = $(\"Enrich Context\").item.json.input_text || \"\";\nconst langFromInput = currentInput.startsWith('lang_') ? currentInput.replace('lang_', '') : null;\n\n// 2. Safely grab Identity using standard $() syntax\nlet profile = [];\nlet session = [];\nlet allTranslations = [];\n\ntry { profile = $(\"Get Profile\").all().map(i => i.json); } catch (e) {}\ntry { session = $(\"Get Session\").all().map(i => i.json); } catch (e) {}\ntry { \n  // Use $(\"Node Name\").all() - This is the standard in new n8n\n  allTranslations = $(\"Get Translations\").all().map(item => item.json); \n} catch (e) {}\n\n// 3. Resolve Final Language\nconst lang = langFromInput || profile[0]?.language || session[0]?.language || null;\n\n// 4. Build Dictionary\nconst dict = {};\nif (lang && allTranslations.length > 0) {\n    allTranslations.forEach(row => {\n        dict[row.key] = row[lang] || row['es']; \n    });\n}\n\nreturn {\n    ...$(\"Enrich Context\").item.json, \n    context: {\n        language: lang,\n        translations: dict,\n        is_new_user: !lang\n    }\n}\n"
      },
      "id": "6868a0d9-54e0-42fd-a402-6a06f0a4ce54",
      "name": "Consolidate Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -112
      ]
    },
    {
      "parameters": {
        "content": "### Description\nThis middleware centralizes system-wide intelligence. It resolves user language preferences by cross-referencing profiles and temporary sessions, while pre-fetching the complete translation dictionary from Supabase. \n",
        "height": 176,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1120,
        -944
      ],
      "typeVersion": 1,
      "id": "baf44eb5-5083-4444-b9e5-377e74c09e51",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telegram_id"
            },
            {
              "name": "input_text"
            },
            {
              "name": "first_name"
            },
            {
              "name": "has_voice",
              "type": "boolean"
            },
            {
              "name": "file_id"
            },
            {
              "name": "is_contact",
              "type": "boolean"
            },
            {
              "name": "contact_phone"
            },
            {
              "name": "is_button",
              "type": "boolean"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "message_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -112
      ],
      "id": "e56a214b-191b-480e-82e0-dd0e4e459ec8",
      "name": "Enrich Context"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        32,
        -80
      ],
      "id": "ba365ad4-5da3-45d4-88a5-9b1583f61387",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "## Middleware Entrypoint",
        "height": 416,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1280,
        -240
      ],
      "typeVersion": 1,
      "id": "237205e5-8f69-44ed-b0e0-48b5c857ceda",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Parallel Identity Lookup",
        "height": 432,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -256
      ],
      "typeVersion": 1,
      "id": "ab01a491-f613-4217-9140-e89fb64ebe14",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Sincronization Point\n",
        "height": 416,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -240
      ],
      "typeVersion": 1,
      "id": "6a60df35-d039-4c17-b5f4-83f82a71d988",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Dictionary Pre-loading ",
        "height": 416,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -688
      ],
      "typeVersion": 1,
      "id": "00eb4636-8a83-4cdc-86af-cc9c4e057bbd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Context Consolidator",
        "height": 432,
        "width": 352,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        -256
      ],
      "typeVersion": 1,
      "id": "50044628-f4d9-42ec-9f3c-3d16cb6d06ba",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Enrich Context": {
      "main": [
        [
          {
            "node": "Get Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Translations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Session": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Consolidate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Translations": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b022acf7-5a45-4e40-8ab1-29817b96007a",
  "activeVersionId": "c7b47567-f043-49a4-b082-bf68c28caa93",
  "versionCounter": 276,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-13T19:42:53.898Z",
      "createdAt": "2026-03-13T19:42:53.898Z",
      "role": "workflow:owner",
      "workflowId": "hLp8Ac9eAk2fI5Lt",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-15T19:07:09.094Z",
    "createdAt": "2026-03-15T19:07:03.060Z",
    "versionId": "c7b47567-f043-49a4-b082-bf68c28caa93",
    "workflowId": "hLp8Ac9eAk2fI5Lt",
    "nodes": [
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{$json.telegram_id}}&select=language",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "id": "6f9cb98a-0034-431c-b33b-4a7c750b40ed",
        "name": "Get Profile",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -560,
          -160
        ],
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/telegram_sessions?telegram_id=eq.{{$json.telegram_id}}&select=language",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "id": "8b547686-93bd-453c-95d5-bb4f93655b83",
        "name": "Get Session",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -560,
          32
        ],
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/translations?select=key,es,en",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "id": "dd7fcec4-871e-441c-b2e3-41d289837dc9",
        "name": "Get Translations",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          -528,
          -544
        ],
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Smart Context Consolidation (V3 - Standard n8n Syntax)\n */\n\n// 1. Resolve Language Selection from Button\nconst currentInput = $(\"Enrich Context\").item.json.input_text || \"\";\nconst langFromInput = currentInput.startsWith('lang_') ? currentInput.replace('lang_', '') : null;\n\n// 2. Safely grab Identity using standard $() syntax\nlet profile = [];\nlet session = [];\nlet allTranslations = [];\n\ntry { profile = $(\"Get Profile\").all().map(i => i.json); } catch (e) {}\ntry { session = $(\"Get Session\").all().map(i => i.json); } catch (e) {}\ntry { \n  // Use $(\"Node Name\").all() - This is the standard in new n8n\n  allTranslations = $(\"Get Translations\").all().map(item => item.json); \n} catch (e) {}\n\n// 3. Resolve Final Language\nconst lang = langFromInput || profile[0]?.language || session[0]?.language || null;\n\n// 4. Build Dictionary\nconst dict = {};\nif (lang && allTranslations.length > 0) {\n    allTranslations.forEach(row => {\n        dict[row.key] = row[lang] || row['es']; \n    });\n}\n\nreturn {\n    ...$(\"Enrich Context\").item.json, \n    context: {\n        language: lang,\n        translations: dict,\n        is_new_user: !lang\n    }\n}\n"
        },
        "id": "6868a0d9-54e0-42fd-a402-6a06f0a4ce54",
        "name": "Consolidate Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          -112
        ]
      },
      {
        "parameters": {
          "content": "\nThis middleware centralizes system-wide intelligence. It resolves user language preferences by cross-referencing profiles and temporary sessions, while pre-fetching the complete translation dictionary from Supabase. \n",
          "height": 176,
          "width": 560
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1120,
          -944
        ],
        "typeVersion": 1,
        "id": "baf44eb5-5083-4444-b9e5-377e74c09e51",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telegram_id"
              },
              {
                "name": "input_text"
              },
              {
                "name": "first_name"
              },
              {
                "name": "has_voice",
                "type": "boolean"
              },
              {
                "name": "file_id"
              },
              {
                "name": "is_contact",
                "type": "boolean"
              },
              {
                "name": "contact_phone"
              },
              {
                "name": "is_button",
                "type": "boolean"
              },
              {
                "name": "chat_id"
              },
              {
                "name": "message_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1168,
          -112
        ],
        "id": "e56a214b-191b-480e-82e0-dd0e4e459ec8",
        "name": "Enrich Context"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          32,
          -80
        ],
        "id": "ba365ad4-5da3-45d4-88a5-9b1583f61387",
        "name": "Merge"
      },
      {
        "parameters": {
          "content": "## Middleware Entrypoint",
          "height": 416,
          "width": 384,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1280,
          -240
        ],
        "typeVersion": 1,
        "id": "237205e5-8f69-44ed-b0e0-48b5c857ceda",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Parallel Identity Lookup",
          "height": 432,
          "width": 464,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -720,
          -256
        ],
        "typeVersion": 1,
        "id": "ab01a491-f613-4217-9140-e89fb64ebe14",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Sincronization Point\n",
          "height": 416,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -80,
          -240
        ],
        "typeVersion": 1,
        "id": "6a60df35-d039-4c17-b5f4-83f82a71d988",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## Dictionary Pre-loading ",
          "height": 416,
          "width": 448,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -704,
          -688
        ],
        "typeVersion": 1,
        "id": "00eb4636-8a83-4cdc-86af-cc9c4e057bbd",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Context Consolidator",
          "height": 432,
          "width": 352,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          432,
          -256
        ],
        "typeVersion": 1,
        "id": "50044628-f4d9-42ec-9f3c-3d16cb6d06ba",
        "name": "Sticky Note5"
      }
    ],
    "connections": {
      "Enrich Context": {
        "main": [
          [
            {
              "node": "Get Profile",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Session",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Translations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Profile": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get Session": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Consolidate Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Translations": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version c7b47567",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-15T19:07:09.047Z",
        "id": 221,
        "workflowId": "hLp8Ac9eAk2fI5Lt",
        "versionId": "c7b47567-f043-49a4-b082-bf68c28caa93",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}