n8n/workflows/sw-1-identity-onboarding.json
{
  "updatedAt": "2026-03-05T03:07:22.349Z",
  "createdAt": "2026-02-22T01:57:39.282Z",
  "id": "GmInc0tYXj4ZR4kM",
  "name": "SW-1: Identity & Onboarding",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "telegram_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "first_name"
            },
            {
              "name": "input_text"
            },
            {
              "name": "contact_phone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        416
      ],
      "id": "1503be27-68e3-4d03-afb1-53a30203776d",
      "name": "Strict Entry (Contract)"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}&select=id,onboarding_state,telegram_id,phone_number",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -224,
        48
      ],
      "id": "17e7deeb-e79b-46da-b32f-bf1b3e186e8f",
      "name": "Check DB (START)",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract_code",
              "name": "pairing_code",
              "value": "={{ $('Strict Entry (Contract)').item.json.input_text ? ($('Strict Entry (Contract)').item.json.input_text.match(/\\d+/) ? $('Strict Entry (Contract)').item.json.input_text.match(/\\d+/)[0] : \"\") : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        640
      ],
      "id": "dc77f8d2-f622-4ea0-ab47-6b31f47aa6c0",
      "name": "Extract Code (VINCULATE)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "=MindOps \n Your Clarity Companion 🧠💡  Hi {{ $('Strict Entry (Contract)').item.json.first_name }}. I'm your assistant for thinking out loud. I'm here to help you clear the noise from your head so nothing important gets lost.  Sometimes, simply saying things out loud helps us see the way forward. Use me as your 'mental draft pad': 🗣️ Offload what's on your mind: Send a quick audio or text about whatever's pending or draining your energy. 📊 I'll organize it for you: I'll identify what matters most and suggest one small physical step to get started. ☁️ No pressure: We're not chasing perfection — just a little momentum.  To get started right now: \n1️⃣ Create your account at: https://mindops-web-43822856294.us-central1.run.app\n2️⃣ Log in and copy your code. \n3️⃣ Send it here: /vinculate [code]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        688,
        -64
      ],
      "id": "0421f87a-90e7-46ba-beeb-76a82d4c913c",
      "name": "Welcome message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "=Hey {{ $('Strict Entry (Contract)').item.json.first_name }} , your system is fully active.\nJust send me a voice note or text about whatever's on your mind — I'll help you organize it and find the next small step.\nWhat's taking up space in your head right now?",
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        352
      ],
      "id": "4135c30c-de9b-4b52-8e45-e7461075aed6",
      "name": "Reminder message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "markup_type": "=replyKeyboard",
            "text": "✅ Linking Successful! Your web account and Telegram are now synced.\n\nFinal step: To activate your Voice Protocol, please share your contact.\n\nSometimes we all get stuck. If my telemetry detects that you've entered a state of High Friction (🔴) and you've been silent for hours, I will call your phone to help you break the paralysis and recover your flow.",
            "keyboard_data": "={{ [[ { \"text\": \"🛡️ Share Contact\", \"request_contact\": true } ] ] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1184,
        480
      ],
      "id": "458c49ce-a13d-4373-86a4-ff5271c575b8",
      "name": "Linking Successful message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "❌ Invalid or expired code. Please generate a new one on the web and try again: /vinculate [new code]"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        944,
        752
      ],
      "id": "1e96b1f5-7a79-485c-92f4-e5b88affb73a",
      "name": "Error code message"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}&select=id,pairing_code,pairing_code_expires_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        624
      ],
      "id": "253c7a10-d47d-4bcb-b3b7-d72fe272151e",
      "name": "Get Code from DB",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b2bdc4e3-a2f8-4f4d-a202-bd65863aff19",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "380c3023-6169-4198-9bbd-339f05e44b53",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "null",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        48
      ],
      "id": "38bad971-b9f0-4f09-a373-56308dd885d2",
      "name": "If profile empty?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.onboarding_state }}",
                    "rightValue": "PENDING_CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c485200-0d4d-4298-8aa6-78438dc86af9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING_CONTACT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba522669-2c02-4ccc-8e64-fb40346b3265",
                    "leftValue": "={{ $json.onboarding_state }}",
                    "rightValue": "READY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "READY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        112
      ],
      "id": "b67bdc12-c0a1-4b18-a0e0-938824684651",
      "name": "State user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2945c0df-f578-4865-aa98-c391eaeb2dd6",
              "leftValue": "={{ $json.pairing_code_expires_at ? new Date($json.pairing_code_expires_at).getTime() : 0 }}",
              "rightValue": "={{ Date.now() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        592
      ],
      "id": "33c26f2d-42a0-4369-a0c7-e3df39f2f01c",
      "name": "Is Code Valid?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "START",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "03d9ce09-3b22-4b97-b216-f4a9d5c61025"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "START"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6cd2f545-0d18-4fa1-97cc-8afbc301b3f4",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "VINCULATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VINCULATE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "05315f58-b7f1-4384-bdcf-35efd03841f5",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTACT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -496,
        336
      ],
      "id": "549c14be-c34f-46e3-816b-1640b11dadce",
      "name": "Domain Controller"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"+{{ $('Strict Entry (Contract)').item.json.contact_phone }}\",\n  \"onboarding_state\": \"READY\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        976
      ],
      "id": "30626dc8-30ad-4b12-a49b-7c4673405f13",
      "name": "Update  Contact",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "⚠️ System Sync Error  I’m unable to process your request right now due to a communication glitch with the Core. Please re-attempt the action or check your connection.",
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1552,
        416
      ],
      "id": "1fc72d73-025a-470b-bf54-514e89657ecd",
      "name": "Generic error message3"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telegram_id\": {{ $('Strict Entry (Contract)').item.json.telegram_id }},\n  \"pairing_code\": null,\n  \"onboarding_state\": \"PENDING_CONTACT\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        528
      ],
      "id": "dc1395e1-e7dc-4540-83ea-1ff66ba0faa2",
      "name": "Link Account DB",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": " MindOps \n Setup Incomplete ⚠️  I noticed your Voice Protocol is not active yet.   Without your contact number, the system won't be able to call you and help you break out of a loop if you get stuck (🔴 High Friction).  Please tap the button below to share your contact and fully activate your safety net.\n\n",
            "markup_type": "replyKeyboard"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        960,
        48
      ],
      "id": "b69a70e4-d127-4d4f-ae4b-dd558cee1847",
      "name": "Contact activate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "Voice Protocol Activated! 🛡️📞  Your analog safety net is fully operational. From now on, MindOps will watch over your momentum.  No debts, no guilt. What's on your mind right now? Let it all out (audio or text)."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        832
      ],
      "id": "c5e04ec5-04ea-4557-bf66-f089f63bcfe9",
      "name": "Message Domain Controller"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "⚠️ System Sync Error  I’m unable to process your request right now due to a communication glitch with the Core. Please re-attempt the action or check your connection.",
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1376,
        976
      ],
      "id": "3ae91daf-4639-4e41-ac27-00b8527c43fb",
      "name": "Generic error message"
    }
  ],
  "connections": {
    "Strict Entry (Contract)": {
      "main": [
        [
          {
            "node": "Domain Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB (START)": {
      "main": [
        [
          {
            "node": "If profile empty?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code (VINCULATE)": {
      "main": [
        [
          {
            "node": "Get Code from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Code from DB": {
      "main": [
        [
          {
            "node": "Is Code Valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If profile empty?": {
      "main": [
        [
          {
            "node": "Welcome message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State user": {
      "main": [
        [
          {
            "node": "Contact activate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reminder message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Code Valid?": {
      "main": [
        [
          {
            "node": "Link Account DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error code message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Controller": {
      "main": [
        [
          {
            "node": "Check DB (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Code (VINCULATE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update  Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update  Contact": {
      "main": [
        [
          {
            "node": "Message Domain Controller",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Account DB": {
      "main": [
        [
          {
            "node": "Linking Successful message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "03202895-d936-4c47-be17-74cf7344f023",
  "activeVersionId": "5daa4772-dfb6-4ed4-a89e-a2b6777aba17",
  "versionCounter": 1017,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T01:57:39.282Z",
      "createdAt": "2026-02-22T01:57:39.282Z",
      "role": "workflow:owner",
      "workflowId": "GmInc0tYXj4ZR4kM",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-05T02:07:12.456Z",
    "createdAt": "2026-03-05T02:06:52.758Z",
    "versionId": "5daa4772-dfb6-4ed4-a89e-a2b6777aba17",
    "workflowId": "GmInc0tYXj4ZR4kM",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "action"
              },
              {
                "name": "telegram_id"
              },
              {
                "name": "chat_id"
              },
              {
                "name": "first_name"
              },
              {
                "name": "input_text"
              },
              {
                "name": "contact_phone"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -800,
          416
        ],
        "id": "1503be27-68e3-4d03-afb1-53a30203776d",
        "name": "Strict Entry (Contract)"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}&select=id,onboarding_state,telegram_id,phone_number",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -224,
          48
        ],
        "id": "17e7deeb-e79b-46da-b32f-bf1b3e186e8f",
        "name": "Check DB (START)",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract_code",
                "name": "pairing_code",
                "value": "={{ $('Strict Entry (Contract)').item.json.input_text ? ($('Strict Entry (Contract)').item.json.input_text.match(/\\d+/) ? $('Strict Entry (Contract)').item.json.input_text.match(/\\d+/)[0] : \"\") : \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          64,
          640
        ],
        "id": "dc77f8d2-f622-4ea0-ab47-6b31f47aa6c0",
        "name": "Extract Code (VINCULATE)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "=MindOps \n Your Clarity Companion 🧠💡  Hi {{ $('Strict Entry (Contract)').item.json.first_name }}. I'm your assistant for thinking out loud. I'm here to help you clear the noise from your head so nothing important gets lost.  Sometimes, simply saying things out loud helps us see the way forward. Use me as your 'mental draft pad': 🗣️ Offload what's on your mind: Send a quick audio or text about whatever's pending or draining your energy. 📊 I'll organize it for you: I'll identify what matters most and suggest one small physical step to get started. ☁️ No pressure: We're not chasing perfection — just a little momentum.  To get started right now: \n1️⃣ Create your account at: https://mindops-web-43822856294.us-central1.run.app\n2️⃣ Log in and copy your code. \n3️⃣ Send it here: /vinculate [code]"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          688,
          -64
        ],
        "id": "0421f87a-90e7-46ba-beeb-76a82d4c913c",
        "name": "Welcome message"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "=Hey {{ $('Strict Entry (Contract)').item.json.first_name }} , your system is fully active.\nJust send me a voice note or text about whatever's on your mind — I'll help you organize it and find the next small step.\nWhat's taking up space in your head right now?",
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1008,
          352
        ],
        "id": "4135c30c-de9b-4b52-8e45-e7461075aed6",
        "name": "Reminder message"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "markup_type": "=replyKeyboard",
              "text": "✅ Linking Successful! Your web account and Telegram are now synced.\n\nFinal step: To activate your Voice Protocol, please share your contact.\n\nSometimes we all get stuck. If my telemetry detects that you've entered a state of High Friction (🔴) and you've been silent for hours, I will call your phone to help you break the paralysis and recover your flow.",
              "keyboard_data": "={{ [[ { \"text\": \"🛡️ Share Contact\", \"request_contact\": true } ] ] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1184,
          480
        ],
        "id": "458c49ce-a13d-4373-86a4-ff5271c575b8",
        "name": "Linking Successful message"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "❌ Invalid or expired code. Please generate a new one on the web and try again: /vinculate [new code]"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          944,
          752
        ],
        "id": "1e96b1f5-7a79-485c-92f4-e5b88affb73a",
        "name": "Error code message"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}&select=id,pairing_code,pairing_code_expires_at",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          288,
          624
        ],
        "id": "253c7a10-d47d-4bcb-b3b7-d72fe272151e",
        "name": "Get Code from DB",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b2bdc4e3-a2f8-4f4d-a202-bd65863aff19",
                "leftValue": "={{ Object.keys($json).length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "380c3023-6169-4198-9bbd-339f05e44b53",
                "leftValue": "={{ $json.telegram_id }}",
                "rightValue": "null",
                "operator": {
                  "type": "number",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          224,
          48
        ],
        "id": "38bad971-b9f0-4f09-a373-56308dd885d2",
        "name": "If profile empty?"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.onboarding_state }}",
                      "rightValue": "PENDING_CONTACT",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "0c485200-0d4d-4298-8aa6-78438dc86af9"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PENDING_CONTACT"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ba522669-2c02-4ccc-8e64-fb40346b3265",
                      "leftValue": "={{ $json.onboarding_state }}",
                      "rightValue": "READY",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "READY"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          480,
          112
        ],
        "id": "b67bdc12-c0a1-4b18-a0e0-938824684651",
        "name": "State user"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2945c0df-f578-4865-aa98-c391eaeb2dd6",
                "leftValue": "={{ $json.pairing_code_expires_at ? new Date($json.pairing_code_expires_at).getTime() : 0 }}",
                "rightValue": "={{ Date.now() }}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          560,
          592
        ],
        "id": "33c26f2d-42a0-4369-a0c7-e3df39f2f01c",
        "name": "Is Code Valid?"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "START",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "03d9ce09-3b22-4b97-b216-f4a9d5c61025"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "START"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "6cd2f545-0d18-4fa1-97cc-8afbc301b3f4",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "VINCULATE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "VINCULATE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "05315f58-b7f1-4384-bdcf-35efd03841f5",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "CONTACT",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CONTACT"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -496,
          336
        ],
        "id": "549c14be-c34f-46e3-816b-1640b11dadce",
        "name": "Domain Controller"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone_number\": \"+{{ $('Strict Entry (Contract)').item.json.contact_phone }}\",\n  \"onboarding_state\": \"READY\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          912,
          224
        ],
        "id": "30626dc8-30ad-4b12-a49b-7c4673405f13",
        "name": "Update  Contact",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "⚠️ System Sync Error  I’m unable to process your request right now due to a communication glitch with the Core. Please re-attempt the action or check your connection.",
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1552,
          416
        ],
        "id": "1fc72d73-025a-470b-bf54-514e89657ecd",
        "name": "Generic error message3"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"telegram_id\": {{ $('Strict Entry (Contract)').item.json.telegram_id }},\n  \"pairing_code\": null,\n  \"onboarding_state\": \"PENDING_CONTACT\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          800,
          528
        ],
        "id": "dc1395e1-e7dc-4540-83ea-1ff66ba0faa2",
        "name": "Link Account DB",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": " MindOps \n Setup Incomplete ⚠️  I noticed your Voice Protocol is not active yet.   Without your contact number, the system won't be able to call you and help you break out of a loop if you get stuck (🔴 High Friction).  Please tap the button below to share your contact and fully activate your safety net.\n\n",
              "markup_type": "replyKeyboard"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          960,
          48
        ],
        "id": "b69a70e4-d127-4d4f-ae4b-dd558cee1847",
        "name": "Contact activate"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "Voice Protocol Activated! 🛡️📞  Your analog safety net is fully operational. From now on, MindOps will watch over your momentum.  No debts, no guilt. What's on your mind right now? Let it all out (audio or text)."
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1600,
          192
        ],
        "id": "c5e04ec5-04ea-4557-bf66-f089f63bcfe9",
        "name": "Message Domain Controller"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "⚠️ System Sync Error  I’m unable to process your request right now due to a communication glitch with the Core. Please re-attempt the action or check your connection.",
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -176,
          1056
        ],
        "id": "3ae91daf-4639-4e41-ac27-00b8527c43fb",
        "name": "Generic error message"
      }
    ],
    "connections": {
      "Strict Entry (Contract)": {
        "main": [
          [
            {
              "node": "Domain Controller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check DB (START)": {
        "main": [
          [
            {
              "node": "If profile empty?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Code (VINCULATE)": {
        "main": [
          [
            {
              "node": "Get Code from DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Code from DB": {
        "main": [
          [
            {
              "node": "Is Code Valid?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If profile empty?": {
        "main": [
          [
            {
              "node": "Welcome message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "State user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "State user": {
        "main": [
          [
            {
              "node": "Contact activate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reminder message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Code Valid?": {
        "main": [
          [
            {
              "node": "Link Account DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error code message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Domain Controller": {
        "main": [
          [
            {
              "node": "Check DB (START)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Code (VINCULATE)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update  Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update  Contact": {
        "main": [
          [
            {
              "node": "Message Domain Controller",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Link Account DB": {
        "main": [
          [
            {
              "node": "Linking Successful message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 5daa4772",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-05T02:07:12.414Z",
        "id": 82,
        "workflowId": "GmInc0tYXj4ZR4kM",
        "versionId": "5daa4772-dfb6-4ed4-a89e-a2b6777aba17",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}