n8n/workflows/sw-1-identity-onboarding.json
{
  "updatedAt": "2026-03-20T19:50:07.965Z",
  "createdAt": "2026-02-22T01:57:39.282Z",
  "id": "GmInc0tYXj4ZR4kM",
  "name": "SW-1: Identity & Onboarding",
  "description": "Handles user registration, account linking (vinculation code), and contact sharing flow.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "telegram_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "first_name"
            },
            {
              "name": "input_text"
            },
            {
              "name": "contact_phone"
            },
            {
              "name": "context",
              "type": "object"
            },
            {
              "name": "message_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1600,
        256
      ],
      "id": "1503be27-68e3-4d03-afb1-53a30203776d",
      "name": "Strict Entry (Contract)"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}&&select=id,onboarding_state,telegram_id,phone_number,language",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -528,
        -160
      ],
      "id": "17e7deeb-e79b-46da-b32f-bf1b3e186e8f",
      "name": "Check DB (START)",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract_code",
              "name": "pairing_code",
              "value": "={{ $('Strict Entry (Contract)').item.json.input_text ? ($('Strict Entry (Contract)').item.json.input_text.match(/\\d+/) ? $('Strict Entry (Contract)').item.json.input_text.match(/\\d+/)[0] : \"\") : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        720
      ],
      "id": "dc77f8d2-f622-4ea0-ab47-6b31f47aa6c0",
      "name": "Extract Code (VINCULATE)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_intro.replace('{name}', $('Strict Entry (Contract)').item.json.first_name) }}",
            "markup_type": "plain"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        240
      ],
      "id": "0421f87a-90e7-46ba-beeb-76a82d4c913c",
      "name": "Welcome message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ \n  $('Strict Entry (Contract)').item.json.context.translations.reminder_message.replace('{name}',  $('Strict Entry (Contract)').item.json.first_name.charAt(0).toUpperCase() + $('Strict Entry (Contract)').item.json.first_name.slice(1)) \n}}\n",
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        -80
      ],
      "id": "4135c30c-de9b-4b52-8e45-e7461075aed6",
      "name": "Reminder message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.invalid_code }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        368,
        784
      ],
      "id": "1e96b1f5-7a79-485c-92f4-e5b88affb73a",
      "name": "Error code message"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}&select=id,pairing_code,pairing_code_expires_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -256,
        672
      ],
      "id": "253c7a10-d47d-4bcb-b3b7-d72fe272151e",
      "name": "Get Code from DB",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b2bdc4e3-a2f8-4f4d-a202-bd65863aff19",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "380c3023-6169-4198-9bbd-339f05e44b53",
              "leftValue": "={{ $json.telegram_id }}",
              "rightValue": "null",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        -320
      ],
      "id": "38bad971-b9f0-4f09-a373-56308dd885d2",
      "name": "If profile empty?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.onboarding_state }}",
                    "rightValue": "PENDING_CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c485200-0d4d-4298-8aa6-78438dc86af9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING_CONTACT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba522669-2c02-4ccc-8e64-fb40346b3265",
                    "leftValue": "={{ $json.onboarding_state }}",
                    "rightValue": "READY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "READY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        112,
        -224
      ],
      "id": "b67bdc12-c0a1-4b18-a0e0-938824684651",
      "name": "State user"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2945c0df-f578-4865-aa98-c391eaeb2dd6",
              "leftValue": "={{ $json.pairing_code_expires_at ? new Date($json.pairing_code_expires_at).getTime() : 0 }}",
              "rightValue": "={{ Date.now() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        608
      ],
      "id": "33c26f2d-42a0-4369-a0c7-e3df39f2f01c",
      "name": "Is Code Valid?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "35ce48ed-2128-4be7-bc94-d5972a23ac1c",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "START",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1640eb64-f117-476c-bd57-b461be532379",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "SET_LANGUAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Set Language"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ceb4e905-4be1-41d0-b599-b832cef6f738",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "VINCULATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vinculate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d326c461-ff2c-45f7-9d10-4d73630cfb82",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contact"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1216,
        256
      ],
      "id": "549c14be-c34f-46e3-816b-1640b11dadce",
      "name": "Domain Controller"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"+{{ $('Strict Entry (Contract)').item.json.contact_phone }}\",\n  \"onboarding_state\": \"READY\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        1104
      ],
      "id": "30626dc8-30ad-4b12-a49b-7c4673405f13",
      "name": "Update  Contact",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telegram_id\": {{ $('Strict Entry (Contract)').item.json.telegram_id }},\n  \"pairing_code\": null,\n  \"onboarding_state\": \"PENDING_CONTACT\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        576
      ],
      "id": "dc1395e1-e7dc-4540-83ea-1ff66ba0faa2",
      "name": "Link Account DB",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.message_controller }}",
            "markup_type": "removeReply"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        1008
      ],
      "id": "c5e04ec5-04ea-4557-bf66-f089f63bcfe9",
      "name": "Message Domain Controller"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.error_message_onboarding }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2064,
        640
      ],
      "id": "3ae91daf-4639-4e41-ac27-00b8527c43fb",
      "name": "Generic error message"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "markup_type": "replyKeyboard",
            "keyboard_data": "={{ $json.keyboard_data }}\n",
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.linking_succesful_message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        736,
        544
      ],
      "id": "c2a90093-fd6c-4339-ab6c-531d277d6e38",
      "name": "Linking Successful Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/telegram_sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telegram_id\": \"{{ $('Strict Entry (Contract)').item.json.telegram_id }}\",\n  \"language\": \"{{ ($json.input_text || \"\").replace('lang_', '') }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        304
      ],
      "id": "475afd36-011a-4340-8553-0c1d99d58c9e",
      "name": "Save Language to DB",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "markup_type": "inlineKeyboard",
            "text": "={{ $json.msg_welcome.es }} / {{ $json.msg_welcome.en }}",
            "keyboard_data": "={{ [[\n  { \n    \"text\": $json.btn_select_es.es, \n    \"callback_data\": \"lang_es\" \n  },\n  { \n    \"text\": $json.btn_select_en.en, \n    \"callback_data\": \"lang_en\" \n  }\n]] }}",
            "context": "={{ $('Strict Entry (Contract)').item.json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        784,
        -448
      ],
      "id": "6aa93ea7-648a-4f65-8106-5459df8e403a",
      "name": "Select Language Message"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/translations?key=in.(msg_welcome,btn_select_es,btn_select_en)&select=key,es,en",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -416
      ],
      "id": "7ad2ad4e-2396-4984-a285-da640af774a4",
      "name": "Get Select Language Text",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const result = {};\n// Recorremos las 3 filas y las guardamos por su nombre de llave\n$input.all().forEach(item => {\n  result[item.json.key] = item.json;\n});\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -448
      ],
      "id": "23509f62-40c9-4139-8669-6b65f6ae44d2",
      "name": "Aggregate Translations"
    },
    {
      "parameters": {
        "content": "## Strict Entry Protocol\n",
        "height": 336,
        "width": 304,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        112
      ],
      "typeVersion": 1,
      "id": "268cb9e8-e7bf-46c4-8b23-2523553d0566",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Domain Controller (Main Router)",
        "height": 448,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        64
      ],
      "typeVersion": 1,
      "id": "9457bce3-b8cc-49a2-99a0-79413aa4426e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Initial Handshake",
        "height": 688,
        "width": 1920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -512
      ],
      "typeVersion": 1,
      "id": "837831da-007c-484d-8243-610f541731b9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## SET_LANGUAGE: Native Localization",
        "height": 272,
        "width": 1216,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        208
      ],
      "typeVersion": 1,
      "id": "fbbffd7e-0338-4af8-9add-ec2f9e9dbe52",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Digital Identity Sync (The VINCULATE Branch)",
        "height": 400,
        "width": 1760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        544
      ],
      "typeVersion": 1,
      "id": "3b894f4f-ea36-4e64-8276-866c1d8a5c4b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Safety & Voice Activation (The CONTACT Branch)",
        "height": 384,
        "width": 1056,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        976
      ],
      "typeVersion": 1,
      "id": "e9186a7b-c77d-4f20-ac53-4ac1d591293b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## IError Handling & System Resilience",
        "height": 432,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1968,
        512
      ],
      "typeVersion": 1,
      "id": "fd40f199-2506-4540-a033-bc5e9c98257e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Updates the context object in real-time after language selection.\n * This ensures the subsequent Welcome Message can be localized \n * immediately using the choice we just saved to the database.\n */\n\n// 1. Extract language identifier from the button payload (e.g., 'lang_en' -> 'en')\nconst rawInput = $node[\"Strict Entry (Contract)\"].json.input_text || \"\";\nconst resolvedLanguage = rawInput.replace('lang_', '');\n\n// 2. Retrieve the context passed from the Middleware (SW-0)\nconst context = $node[\"Strict Entry (Contract)\"].json.context || {};\n\n// 3. Patch the identity and state\ncontext.language = resolvedLanguage;\ncontext.is_new_user = false;\n\nreturn {\n  ...$input.item.json,\n  context: context\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -176
      ],
      "id": "78b74bc5-913a-41d3-b7a9-d95a53f573a4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
            "keyboard_data": "={{ [[{ \n  \"text\": $('Strict Entry (Contract)').item.json.context.translations.btn_share_contact, \n  \"request_contact\": true \n}]] }}",
            "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.contact_inactive }}",
            "markup_type": "replyKeyboard"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        480,
        -272
      ],
      "id": "58f6ecdc-3ebf-47d2-ba36-359d74187feb",
      "name": "Contact Inactive"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82934678-57b2-4551-ac1c-37eb140df429",
              "name": "keyboard_data",
              "value": "={{ JSON.stringify([[{ \"text\": $('Strict Entry (Contract)').item.json.context.translations.btn_share_contact, \"request_contact\": true }]]) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        560
      ],
      "id": "146d2ac9-c856-4ce7-9aff-5a185d7b9d64",
      "name": "Prepare Keyboard: Contact"
    }
  ],
  "connections": {
    "Strict Entry (Contract)": {
      "main": [
        [
          {
            "node": "Domain Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB (START)": {
      "main": [
        [
          {
            "node": "If profile empty?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code (VINCULATE)": {
      "main": [
        [
          {
            "node": "Get Code from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Code from DB": {
      "main": [
        [
          {
            "node": "Is Code Valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If profile empty?": {
      "main": [
        [
          {
            "node": "Get Select Language Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "State user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State user": {
      "main": [
        [
          {
            "node": "Contact Inactive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reminder message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Code Valid?": {
      "main": [
        [
          {
            "node": "Link Account DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error code message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Domain Controller": {
      "main": [
        [
          {
            "node": "Check DB (START)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Language to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Code (VINCULATE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update  Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update  Contact": {
      "main": [
        [
          {
            "node": "Message Domain Controller",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Account DB": {
      "main": [
        [
          {
            "node": "Prepare Keyboard: Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder message": {
      "main": [
        []
      ]
    },
    "Save Language to DB": {
      "main": [
        [
          {
            "node": "Welcome message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Language Message": {
      "main": [
        []
      ]
    },
    "Get Select Language Text": {
      "main": [
        [
          {
            "node": "Aggregate Translations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Translations": {
      "main": [
        [
          {
            "node": "Select Language Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linking Successful Message": {
      "main": [
        []
      ]
    },
    "Prepare Keyboard: Contact": {
      "main": [
        [
          {
            "node": "Linking Successful Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1e53d1bb-988c-43e9-bbfe-7c300591afe3",
  "activeVersionId": "023ae741-ef22-4d21-8c69-9dd495b37b3c",
  "versionCounter": 1506,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T01:57:39.282Z",
      "createdAt": "2026-02-22T01:57:39.282Z",
      "role": "workflow:owner",
      "workflowId": "GmInc0tYXj4ZR4kM",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-15T21:16:44.807Z",
    "createdAt": "2026-03-15T21:16:35.040Z",
    "versionId": "023ae741-ef22-4d21-8c69-9dd495b37b3c",
    "workflowId": "GmInc0tYXj4ZR4kM",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "action"
              },
              {
                "name": "telegram_id"
              },
              {
                "name": "chat_id"
              },
              {
                "name": "first_name"
              },
              {
                "name": "input_text"
              },
              {
                "name": "contact_phone"
              },
              {
                "name": "context",
                "type": "object"
              },
              {
                "name": "message_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1600,
          256
        ],
        "id": "1503be27-68e3-4d03-afb1-53a30203776d",
        "name": "Strict Entry (Contract)"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}&&select=id,onboarding_state,telegram_id,phone_number,language",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -528,
          -160
        ],
        "id": "17e7deeb-e79b-46da-b32f-bf1b3e186e8f",
        "name": "Check DB (START)",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract_code",
                "name": "pairing_code",
                "value": "={{ $('Strict Entry (Contract)').item.json.input_text ? ($('Strict Entry (Contract)').item.json.input_text.match(/\\d+/) ? $('Strict Entry (Contract)').item.json.input_text.match(/\\d+/)[0] : \"\") : \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -528,
          720
        ],
        "id": "dc77f8d2-f622-4ea0-ab47-6b31f47aa6c0",
        "name": "Extract Code (VINCULATE)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_intro.replace('{name}', $('Strict Entry (Contract)').item.json.first_name) }}",
              "markup_type": "removeInline",
              "message_id": "={{ $('Strict Entry (Contract)').item.json.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -48,
          240
        ],
        "id": "0421f87a-90e7-46ba-beeb-76a82d4c913c",
        "name": "Welcome message"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "={{ \n  $('Strict Entry (Contract)').item.json.context.translations.reminder_message.replace('{name}',  $('Strict Entry (Contract)').item.json.first_name.charAt(0).toUpperCase() + $('Strict Entry (Contract)').item.json.first_name.slice(1)) \n}}\n",
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          720,
          -80
        ],
        "id": "4135c30c-de9b-4b52-8e45-e7461075aed6",
        "name": "Reminder message"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.invalid_code }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          368,
          784
        ],
        "id": "1e96b1f5-7a79-485c-92f4-e5b88affb73a",
        "name": "Error code message"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}&select=id,pairing_code,pairing_code_expires_at",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -256,
          672
        ],
        "id": "253c7a10-d47d-4bcb-b3b7-d72fe272151e",
        "name": "Get Code from DB",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b2bdc4e3-a2f8-4f4d-a202-bd65863aff19",
                "leftValue": "={{ Object.keys($json).length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "380c3023-6169-4198-9bbd-339f05e44b53",
                "leftValue": "={{ $json.telegram_id }}",
                "rightValue": "null",
                "operator": {
                  "type": "number",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -336,
          -320
        ],
        "id": "38bad971-b9f0-4f09-a373-56308dd885d2",
        "name": "If profile empty?"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.onboarding_state }}",
                      "rightValue": "PENDING_CONTACT",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "0c485200-0d4d-4298-8aa6-78438dc86af9"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PENDING_CONTACT"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ba522669-2c02-4ccc-8e64-fb40346b3265",
                      "leftValue": "={{ $json.onboarding_state }}",
                      "rightValue": "READY",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "READY"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          112,
          -224
        ],
        "id": "b67bdc12-c0a1-4b18-a0e0-938824684651",
        "name": "State user"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2945c0df-f578-4865-aa98-c391eaeb2dd6",
                "leftValue": "={{ $json.pairing_code_expires_at ? new Date($json.pairing_code_expires_at).getTime() : 0 }}",
                "rightValue": "={{ Date.now() }}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          16,
          608
        ],
        "id": "33c26f2d-42a0-4369-a0c7-e3df39f2f01c",
        "name": "Is Code Valid?"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "35ce48ed-2128-4be7-bc94-d5972a23ac1c",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "START",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Start"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "1640eb64-f117-476c-bd57-b461be532379",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "SET_LANGUAGE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Set Language"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ceb4e905-4be1-41d0-b599-b832cef6f738",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "VINCULATE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Vinculate"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d326c461-ff2c-45f7-9d10-4d73630cfb82",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "CONTACT",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Contact"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1216,
          256
        ],
        "id": "549c14be-c34f-46e3-816b-1640b11dadce",
        "name": "Domain Controller"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone_number\": \"+{{ $('Strict Entry (Contract)').item.json.contact_phone }}\",\n  \"onboarding_state\": \"READY\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -528,
          1104
        ],
        "id": "30626dc8-30ad-4b12-a49b-7c4673405f13",
        "name": "Update  Contact",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"telegram_id\": {{ $('Strict Entry (Contract)').item.json.telegram_id }},\n  \"pairing_code\": null,\n  \"onboarding_state\": \"PENDING_CONTACT\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          256,
          576
        ],
        "id": "dc1395e1-e7dc-4540-83ea-1ff66ba0faa2",
        "name": "Link Account DB",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.message_controller }}",
              "markup_type": "removeReply"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          0,
          1008
        ],
        "id": "c5e04ec5-04ea-4557-bf66-f089f63bcfe9",
        "name": "Message Domain Controller"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.error_message_onboarding }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2064,
          640
        ],
        "id": "3ae91daf-4639-4e41-ac27-00b8527c43fb",
        "name": "Generic error message"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "markup_type": "replyKeyboard",
              "keyboard_data": "={{ $json.keyboard_data }}\n",
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.linking_succesful_message }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          736,
          544
        ],
        "id": "c2a90093-fd6c-4339-ab6c-531d277d6e38",
        "name": "Linking Successful Message"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/telegram_sessions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Prefer",
                "value": "resolution=merge-duplicates"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"telegram_id\": \"{{ $('Strict Entry (Contract)').item.json.telegram_id }}\",\n  \"language\": \"{{ ($json.input_text || \"\").replace('lang_', '') }}\"\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -624,
          304
        ],
        "id": "475afd36-011a-4340-8553-0c1d99d58c9e",
        "name": "Save Language to DB",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "markup_type": "inlineKeyboard",
              "text": "={{ $json.msg_welcome.es }} / {{ $json.msg_welcome.en }}",
              "keyboard_data": "={{ [[\n  { \n    \"text\": $json.btn_select_es.es, \n    \"callback_data\": \"lang_es\" \n  },\n  { \n    \"text\": $json.btn_select_en.en, \n    \"callback_data\": \"lang_en\" \n  }\n]] }}",
              "context": "={{ $('Strict Entry (Contract)').item.json.context }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          784,
          -448
        ],
        "id": "6aa93ea7-648a-4f65-8106-5459df8e403a",
        "name": "Select Language Message"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/translations?key=in.(msg_welcome,btn_select_es,btn_select_en)&select=key,es,en",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -16,
          -416
        ],
        "id": "7ad2ad4e-2396-4984-a285-da640af774a4",
        "name": "Get Select Language Text",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const result = {};\n// Recorremos las 3 filas y las guardamos por su nombre de llave\n$input.all().forEach(item => {\n  result[item.json.key] = item.json;\n});\n\nreturn result;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          416,
          -448
        ],
        "id": "23509f62-40c9-4139-8669-6b65f6ae44d2",
        "name": "Aggregate Translations"
      },
      {
        "parameters": {
          "content": "## Description\nThis sub-workflow manages the sequential \"Identity Funnel\"—guiding users through detection, language selection, account linking, and profile activation.",
          "height": 144,
          "width": 768
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1328,
          -784
        ],
        "typeVersion": 1,
        "id": "69b07e81-f610-4032-827b-d6bb766cf12c",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Strict Entry Protocol\n",
          "height": 336,
          "width": 304,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1712,
          112
        ],
        "typeVersion": 1,
        "id": "268cb9e8-e7bf-46c4-8b23-2523553d0566",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Domain Controller (Main Router)",
          "height": 448,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1312,
          64
        ],
        "typeVersion": 1,
        "id": "9457bce3-b8cc-49a2-99a0-79413aa4426e",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Initial Handshake",
          "height": 688,
          "width": 1920,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -832,
          -512
        ],
        "typeVersion": 1,
        "id": "837831da-007c-484d-8243-610f541731b9",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## SET_LANGUAGE: Native Localization",
          "height": 272,
          "width": 1216,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -816,
          208
        ],
        "typeVersion": 1,
        "id": "fbbffd7e-0338-4af8-9add-ec2f9e9dbe52",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Digital Identity Sync (The VINCULATE Branch)",
          "height": 400,
          "width": 1760,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -736,
          544
        ],
        "typeVersion": 1,
        "id": "3b894f4f-ea36-4e64-8276-866c1d8a5c4b",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Safety & Voice Activation (The CONTACT Branch)",
          "height": 384,
          "width": 1056,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -640,
          976
        ],
        "typeVersion": 1,
        "id": "e9186a7b-c77d-4f20-ac53-4ac1d591293b",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## IError Handling & System Resilience",
          "height": 432,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1968,
          512
        ],
        "typeVersion": 1,
        "id": "fd40f199-2506-4540-a033-bc5e9c98257e",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "jsCode": "/**\n * Updates the context object in real-time after language selection.\n * This ensures the subsequent Welcome Message can be localized \n * immediately using the choice we just saved to the database.\n */\n\n// 1. Extract language identifier from the button payload (e.g., 'lang_en' -> 'en')\nconst rawInput = $node[\"Strict Entry (Contract)\"].json.input_text || \"\";\nconst resolvedLanguage = rawInput.replace('lang_', '');\n\n// 2. Retrieve the context passed from the Middleware (SW-0)\nconst context = $node[\"Strict Entry (Contract)\"].json.context || {};\n\n// 3. Patch the identity and state\ncontext.language = resolvedLanguage;\ncontext.is_new_user = false;\n\nreturn {\n  ...$input.item.json,\n  context: context\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -192,
          -176
        ],
        "id": "78b74bc5-913a-41d3-b7a9-d95a53f573a4",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
              "keyboard_data": "={{ [[{ \n  \"text\": $('Strict Entry (Contract)').item.json.context.translations.btn_share_contact, \n  \"request_contact\": true \n}]] }}",
              "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.contact_inactive }}",
              "markup_type": "replyKeyboard"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          480,
          -272
        ],
        "id": "58f6ecdc-3ebf-47d2-ba36-359d74187feb",
        "name": "Contact Inactive"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "82934678-57b2-4551-ac1c-37eb140df429",
                "name": "keyboard_data",
                "value": "={{ JSON.stringify([[{ \"text\": $('Strict Entry (Contract)').item.json.context.translations.btn_share_contact, \"request_contact\": true }]]) }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          496,
          560
        ],
        "id": "146d2ac9-c856-4ce7-9aff-5a185d7b9d64",
        "name": "Prepare Keyboard: Contact"
      }
    ],
    "connections": {
      "Strict Entry (Contract)": {
        "main": [
          [
            {
              "node": "Domain Controller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check DB (START)": {
        "main": [
          [
            {
              "node": "If profile empty?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Code (VINCULATE)": {
        "main": [
          [
            {
              "node": "Get Code from DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Code from DB": {
        "main": [
          [
            {
              "node": "Is Code Valid?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If profile empty?": {
        "main": [
          [
            {
              "node": "Get Select Language Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "State user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "State user": {
        "main": [
          [
            {
              "node": "Contact Inactive",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reminder message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Code Valid?": {
        "main": [
          [
            {
              "node": "Link Account DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error code message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Domain Controller": {
        "main": [
          [
            {
              "node": "Check DB (START)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save Language to DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Code (VINCULATE)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update  Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update  Contact": {
        "main": [
          [
            {
              "node": "Message Domain Controller",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Link Account DB": {
        "main": [
          [
            {
              "node": "Prepare Keyboard: Contact",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reminder message": {
        "main": [
          []
        ]
      },
      "Save Language to DB": {
        "main": [
          [
            {
              "node": "Welcome message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Language Message": {
        "main": [
          []
        ]
      },
      "Get Select Language Text": {
        "main": [
          [
            {
              "node": "Aggregate Translations",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Translations": {
        "main": [
          [
            {
              "node": "Select Language Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Linking Successful Message": {
        "main": [
          []
        ]
      },
      "Prepare Keyboard: Contact": {
        "main": [
          [
            {
              "node": "Linking Successful Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 023ae741",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-15T21:16:44.763Z",
        "id": 237,
        "workflowId": "GmInc0tYXj4ZR4kM",
        "versionId": "023ae741-ef22-4d21-8c69-9dd495b37b3c",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}