n8n/workflows/sw-1-identity-onboarding.json
{
  "updatedAt": "2026-04-01T03:02:52.974Z",
  "createdAt": "2026-02-22T01:57:39.282Z",
  "id": "GmInc0tYXj4ZR4kM",
  "name": "SW-1: Identity & Onboarding",
  "description": "Handles user registration, account linking (vinculation code), and contact sharing flow.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "telegram_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "first_name"
            },
            {
              "name": "input_text"
            },
            {
              "name": "contact_phone"
            },
            {
              "name": "context",
              "type": "object"
            },
            {
              "name": "message_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1616,
        384
      ],
      "id": "1503be27-68e3-4d03-afb1-53a30203776d",
      "name": "Strict Entry (Contract)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract_code",
              "name": "pairing_code",
              "value": "={{ $('Strict Entry (Contract)').item.json.input_text ? ($('Strict Entry (Contract)').item.json.input_text.match(/\\d+/) ? $('Strict Entry (Contract)').item.json.input_text.match(/\\d+/)[0] : \"\") : \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        848
      ],
      "id": "dc77f8d2-f622-4ea0-ab47-6b31f47aa6c0",
      "name": "Extract Code (VINCULATE)"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}&select=id,pairing_code,pairing_code_expires_at",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -272,
        800
      ],
      "id": "253c7a10-d47d-4bcb-b3b7-d72fe272151e",
      "name": "Get Code from DB",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2945c0df-f578-4865-aa98-c391eaeb2dd6",
              "leftValue": "={{ $json.pairing_code_expires_at ? new Date($json.pairing_code_expires_at).getTime() : 0 }}",
              "rightValue": "={{ Date.now() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        736
      ],
      "id": "33c26f2d-42a0-4369-a0c7-e3df39f2f01c",
      "name": "Is Code Valid?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "35ce48ed-2128-4be7-bc94-d5972a23ac1c",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "START",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1640eb64-f117-476c-bd57-b461be532379",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "SET_LANGUAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Set Language"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ceb4e905-4be1-41d0-b599-b832cef6f738",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "VINCULATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vinculate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d326c461-ff2c-45f7-9d10-4d73630cfb82",
                    "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                    "rightValue": "CONTACT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contact"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        384
      ],
      "id": "549c14be-c34f-46e3-816b-1640b11dadce",
      "name": "Domain Controller"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone_number\": \"+{{ $('Strict Entry (Contract)').item.json.contact_phone }}\",\n  \"onboarding_state\": \"READY\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        1328
      ],
      "id": "30626dc8-30ad-4b12-a49b-7c4673405f13",
      "name": "Update  Contact",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Strict Entry Protocol\n",
        "height": 336,
        "width": 304,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        240
      ],
      "typeVersion": 1,
      "id": "268cb9e8-e7bf-46c4-8b23-2523553d0566",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Domain Controller (Main Router)",
        "height": 448,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        192
      ],
      "typeVersion": 1,
      "id": "9457bce3-b8cc-49a2-99a0-79413aa4426e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Handshake",
        "height": 832,
        "width": 1728,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -480
      ],
      "typeVersion": 1,
      "id": "837831da-007c-484d-8243-610f541731b9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "##  Native Localization",
        "height": 272,
        "width": 1216,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        368
      ],
      "typeVersion": 1,
      "id": "fbbffd7e-0338-4af8-9add-ec2f9e9dbe52",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Digital Identity Sync (The VINCULATE Branch)",
        "height": 400,
        "width": 1760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        688
      ],
      "typeVersion": 1,
      "id": "3b894f4f-ea36-4e64-8276-866c1d8a5c4b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Safety & Voice Activation (The CONTACT Branch)",
        "height": 384,
        "width": 1056,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        1168
      ],
      "typeVersion": 1,
      "id": "e9186a7b-c77d-4f20-ac53-4ac1d591293b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## IError Handling & System Resilience",
        "height": 432,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        640
      ],
      "typeVersion": 1,
      "id": "fd40f199-2506-4540-a033-bc5e9c98257e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "35a41788-5b22-4671-a66d-b2d0f2c12a3d",
                    "leftValue": "={{ $json.onboarding_state }}",
                    "rightValue": "NO_LANGUAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO_LANGUAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0e876510-0f2e-48a8-81ea-f14ee5d762fa",
                    "leftValue": "={{ $json.onboarding_state }}",
                    "rightValue": "PENDING_LINK",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING_LINK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0c485200-0d4d-4298-8aa6-78438dc86af9",
                    "leftValue": "={{ $json.onboarding_state }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "PENDING_CONTACT"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING_CONTACT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba522669-2c02-4ccc-8e64-fb40346b3265",
                    "leftValue": "={{ $json.onboarding_state }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "READY"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "READY"
            }
          ]
        },
        "options": {}
      },
      "id": "b67bdc12-c0a1-4b18-a0e0-938824684651",
      "name": "State user",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -432,
        -208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Strict Entry (Contract)\"].json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_welcome }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.btn_select_es }}\n",
                    "additionalFields": {
                      "callback_data": "lang_es"
                    }
                  },
                  {
                    "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.btn_select_en }}",
                    "additionalFields": {
                      "callback_data": "lang_en"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        -320
      ],
      "id": "b577cf3f-1213-4f22-9879-596ac01d5e0f",
      "name": "Select Language Message",
      "webhookId": "0f8c19f3-1c89-408a-b03b-6b77f69ef3b1",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
        "messageId": "={{ $('Strict Entry (Contract)').item.json.message_id }}",
        "text": "={{ $json.context.translations.text_select_language }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -672,
        448
      ],
      "id": "13b5a0ee-29c8-4596-837a-d2cca251b07c",
      "name": "Remove Buttons",
      "webhookId": "2c3d30be-4085-41a1-bffd-b626c0188626",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_intro.replace('{name}', $('Strict Entry (Contract)').item.json.first_name) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        448
      ],
      "id": "404d4cef-45c3-4702-9b8a-2d42fc1f5f03",
      "name": "Send a text message",
      "webhookId": "4f4aa5a2-53eb-4b92-992f-c3952e160f98",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.contact_inactive }}",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $node[\"Strict Entry (Contract)\"].json.context.translations.btn_share_contact }}",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        -16
      ],
      "id": "36ae9557-64ee-4afc-9587-23b314fb6386",
      "name": "Contact inactive",
      "webhookId": "f70f277a-29e5-42a7-a2f9-ff10f2a3e5cd",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Mode: Run Once for All Items\n * Logic: Determine onboarding state safely.\n */\nconst inputData = items[0].json;\n\nconst context = inputData.context || inputData || {};\n\nconst user = context.user || null;\nconst exists = context.exists || false;\nconst lang = context.language || null; \n\n// Determinar el estado\nlet state;\nif (user && user.onboarding_state) {\n  state = user.onboarding_state; // PENDING_CONTACT, READY, etc.\n} else if (!exists) {\n\n  state = lang ? 'PENDING_LINK' : 'NO_LANGUAGE'; \n} else {\n  state = 'UNKNOWN';\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    exists: exists,\n    onboarding_state: state\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -32
      ],
      "id": "dc8fa672-ddc1-41db-b3fe-697e55adb171",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.linking_succesful_message }}",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.btn_share_contact }}",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        688
      ],
      "id": "b5364588-ecd7-4093-a9ed-cc7ed8738982",
      "name": "Linking Successful Message",
      "webhookId": "1524cccb-07cc-4b1a-93eb-934f1120faf2",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
        "text": "={{    $('Strict Entry (Contract)').item.json.context.translations.reminder_message.replace('{name}',  $('Strict Entry (Contract)').item.json.first_name.charAt(0).toUpperCase() + $('Strict Entry (Contract)').item.json.first_name.slice(1))  }}",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {
          "remove_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        144
      ],
      "id": "c7eef0fc-d53e-47d1-9a95-51328d0d45d8",
      "name": "Reminder message",
      "webhookId": "262e4282-a2c4-46c9-8e05-91f0984ad79c",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.message_controller }}",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {
          "remove_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -112,
        1200
      ],
      "id": "a37d6938-00df-43f7-b606-27b946f176b6",
      "name": "Message Domain Controller",
      "webhookId": "c6d67b00-22fb-4b35-aa7c-4a306a1b6be0",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.invalid_code }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        928
      ],
      "id": "6ca7c9ce-c5c4-4f05-bc6b-b73b6c8f05d0",
      "name": "Error code message",
      "webhookId": "4ca203d6-2047-40b6-a643-b08073bb1508",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.error_message_onboarding }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        832
      ],
      "id": "e01de7ad-bbee-48a6-8c5c-34388548e39d",
      "name": "Generic error message",
      "webhookId": "c3f6266b-92df-4a86-ab91-3f5d2a2e994b",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "telegram_id",
              "value": "={{ $('Strict Entry (Contract)').item.json.telegram_id }}"
            },
            {
              "name": "onboarding_state",
              "value": "PENDING_CONTACT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        416,
        720
      ],
      "id": "d0d33577-e42d-428b-a7f7-8a33b35974be",
      "name": "Link Account DB",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_pending_link}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -160
      ],
      "id": "c5d12660-3e58-4799-8e0e-4d2edb01d18f",
      "name": "Message pending link",
      "webhookId": "11073fca-1096-443c-838b-e23295d728ea",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    }
  ],
  "connections": {
    "Strict Entry (Contract)": {
      "main": [
        [
          {
            "node": "Domain Controller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code (VINCULATE)": {
      "main": [
        [
          {
            "node": "Get Code from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Code from DB": {
      "main": [
        [
          {
            "node": "Is Code Valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error code message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Code Valid?": {
      "main": [
        [
          {
            "node": "Link Account DB",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Domain Controller": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Code (VINCULATE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update  Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update  Contact": {
      "main": [
        [
          {
            "node": "Message Domain Controller",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State user": {
      "main": [
        [
          {
            "node": "Select Language Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message pending link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contact inactive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reminder message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Buttons": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "State user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Language Message": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Linking Successful Message": {
      "main": [
        []
      ]
    },
    "Message Domain Controller": {
      "main": [
        []
      ]
    },
    "Error code message": {
      "main": [
        []
      ]
    },
    "Contact inactive": {
      "main": [
        []
      ]
    },
    "Link Account DB": {
      "main": [
        [
          {
            "node": "Linking Successful Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3ecb55ae-ad00-45eb-8d36-48fcd1bfcf2b",
  "activeVersionId": "3ecb55ae-ad00-45eb-8d36-48fcd1bfcf2b",
  "versionCounter": 2102,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T01:57:39.282Z",
      "createdAt": "2026-02-22T01:57:39.282Z",
      "role": "workflow:owner",
      "workflowId": "GmInc0tYXj4ZR4kM",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-01T03:03:21.878Z",
    "createdAt": "2026-04-01T03:02:53.024Z",
    "versionId": "3ecb55ae-ad00-45eb-8d36-48fcd1bfcf2b",
    "workflowId": "GmInc0tYXj4ZR4kM",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "action"
              },
              {
                "name": "telegram_id"
              },
              {
                "name": "chat_id"
              },
              {
                "name": "first_name"
              },
              {
                "name": "input_text"
              },
              {
                "name": "contact_phone"
              },
              {
                "name": "context",
                "type": "object"
              },
              {
                "name": "message_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1616,
          384
        ],
        "id": "1503be27-68e3-4d03-afb1-53a30203776d",
        "name": "Strict Entry (Contract)"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "extract_code",
                "name": "pairing_code",
                "value": "={{ $('Strict Entry (Contract)').item.json.input_text ? ($('Strict Entry (Contract)').item.json.input_text.match(/\\d+/) ? $('Strict Entry (Contract)').item.json.input_text.match(/\\d+/)[0] : \"\") : \"\" }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -544,
          848
        ],
        "id": "dc77f8d2-f622-4ea0-ab47-6b31f47aa6c0",
        "name": "Extract Code (VINCULATE)"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}&select=id,pairing_code,pairing_code_expires_at",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -272,
          800
        ],
        "id": "253c7a10-d47d-4bcb-b3b7-d72fe272151e",
        "name": "Get Code from DB",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "2945c0df-f578-4865-aa98-c391eaeb2dd6",
                "leftValue": "={{ $json.pairing_code_expires_at ? new Date($json.pairing_code_expires_at).getTime() : 0 }}",
                "rightValue": "={{ Date.now() }}",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          736
        ],
        "id": "33c26f2d-42a0-4369-a0c7-e3df39f2f01c",
        "name": "Is Code Valid?"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "35ce48ed-2128-4be7-bc94-d5972a23ac1c",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "START",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Start"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "1640eb64-f117-476c-bd57-b461be532379",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "SET_LANGUAGE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Set Language"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ceb4e905-4be1-41d0-b599-b832cef6f738",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "VINCULATE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Vinculate"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d326c461-ff2c-45f7-9d10-4d73630cfb82",
                      "leftValue": "={{ $json.action ? $json.action.toUpperCase() : \"\" }}",
                      "rightValue": "CONTACT",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Contact"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1232,
          384
        ],
        "id": "549c14be-c34f-46e3-816b-1640b11dadce",
        "name": "Domain Controller"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Contract)').item.json.telegram_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"phone_number\": \"+{{ $('Strict Entry (Contract)').item.json.contact_phone }}\",\n  \"onboarding_state\": \"READY\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -528,
          1328
        ],
        "id": "30626dc8-30ad-4b12-a49b-7c4673405f13",
        "name": "Update  Contact",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Strict Entry Protocol\n",
          "height": 336,
          "width": 304,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1728,
          240
        ],
        "typeVersion": 1,
        "id": "268cb9e8-e7bf-46c4-8b23-2523553d0566",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Domain Controller (Main Router)",
          "height": 448,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1328,
          192
        ],
        "typeVersion": 1,
        "id": "9457bce3-b8cc-49a2-99a0-79413aa4426e",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Handshake",
          "height": 832,
          "width": 1728,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -832,
          -480
        ],
        "typeVersion": 1,
        "id": "837831da-007c-484d-8243-610f541731b9",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "##  Native Localization",
          "height": 272,
          "width": 1216,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -800,
          368
        ],
        "typeVersion": 1,
        "id": "fbbffd7e-0338-4af8-9add-ec2f9e9dbe52",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Digital Identity Sync (The VINCULATE Branch)",
          "height": 400,
          "width": 1760,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -752,
          688
        ],
        "typeVersion": 1,
        "id": "3b894f4f-ea36-4e64-8276-866c1d8a5c4b",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Safety & Voice Activation (The CONTACT Branch)",
          "height": 384,
          "width": 1056,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -656,
          1168
        ],
        "typeVersion": 1,
        "id": "e9186a7b-c77d-4f20-ac53-4ac1d591293b",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## IError Handling & System Resilience",
          "height": 432,
          "width": 352,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1952,
          640
        ],
        "typeVersion": 1,
        "id": "fd40f199-2506-4540-a033-bc5e9c98257e",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "35a41788-5b22-4671-a66d-b2d0f2c12a3d",
                      "leftValue": "={{ $json.onboarding_state }}",
                      "rightValue": "NO_LANGUAGE",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "NO_LANGUAGE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0e876510-0f2e-48a8-81ea-f14ee5d762fa",
                      "leftValue": "={{ $json.onboarding_state }}",
                      "rightValue": "PENDING_LINK",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PENDING_LINK"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "0c485200-0d4d-4298-8aa6-78438dc86af9",
                      "leftValue": "={{ $json.onboarding_state }}",
                      "operator": {
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "PENDING_CONTACT"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "PENDING_CONTACT"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ba522669-2c02-4ccc-8e64-fb40346b3265",
                      "leftValue": "={{ $json.onboarding_state }}",
                      "operator": {
                        "operation": "equals",
                        "type": "string"
                      },
                      "rightValue": "READY"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "READY"
              }
            ]
          },
          "options": {}
        },
        "id": "b67bdc12-c0a1-4b18-a0e0-938824684651",
        "name": "State user",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -432,
          -208
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $node[\"Strict Entry (Contract)\"].json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_welcome }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.btn_select_es }}\n",
                      "additionalFields": {
                        "callback_data": "lang_es"
                      }
                    },
                    {
                      "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.btn_select_en }}",
                      "additionalFields": {
                        "callback_data": "lang_en"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          112,
          -320
        ],
        "id": "b577cf3f-1213-4f22-9879-596ac01d5e0f",
        "name": "Select Language Message",
        "webhookId": "0f8c19f3-1c89-408a-b03b-6b77f69ef3b1",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
          "messageId": "={{ $('Strict Entry (Contract)').item.json.message_id }}",
          "text": "={{ $json.context.translations.text_select_language }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -672,
          448
        ],
        "id": "13b5a0ee-29c8-4596-837a-d2cca251b07c",
        "name": "Remove Buttons",
        "webhookId": "2c3d30be-4085-41a1-bffd-b626c0188626",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_intro.replace('{name}', $('Strict Entry (Contract)').item.json.first_name) }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -352,
          448
        ],
        "id": "404d4cef-45c3-4702-9b8a-2d42fc1f5f03",
        "name": "Send a text message",
        "webhookId": "4f4aa5a2-53eb-4b92-992f-c3952e160f98",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.contact_inactive }}",
          "replyMarkup": "replyKeyboard",
          "replyKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{ $node[\"Strict Entry (Contract)\"].json.context.translations.btn_share_contact }}",
                      "additionalFields": {
                        "request_contact": true
                      }
                    }
                  ]
                }
              }
            ]
          },
          "replyKeyboardOptions": {},
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          576,
          -16
        ],
        "id": "36ae9557-64ee-4afc-9587-23b314fb6386",
        "name": "Contact inactive",
        "webhookId": "f70f277a-29e5-42a7-a2f9-ff10f2a3e5cd",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "/**\n * Mode: Run Once for All Items\n * Logic: Determine onboarding state safely.\n */\nconst inputData = items[0].json;\n\nconst context = inputData.context || inputData || {};\n\nconst user = context.user || null;\nconst exists = context.exists || false;\nconst lang = context.language || null; \n\n// Determinar el estado\nlet state;\nif (user && user.onboarding_state) {\n  state = user.onboarding_state; // PENDING_CONTACT, READY, etc.\n} else if (!exists) {\n\n  state = lang ? 'PENDING_LINK' : 'NO_LANGUAGE'; \n} else {\n  state = 'UNKNOWN';\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    exists: exists,\n    onboarding_state: state\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -768,
          -32
        ],
        "id": "dc8fa672-ddc1-41db-b3fe-697e55adb171",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.linking_succesful_message }}",
          "replyMarkup": "replyKeyboard",
          "replyKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.btn_share_contact }}",
                      "additionalFields": {
                        "request_contact": true
                      }
                    }
                  ]
                }
              }
            ]
          },
          "replyKeyboardOptions": {},
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          720,
          688
        ],
        "id": "b5364588-ecd7-4093-a9ed-cc7ed8738982",
        "name": "Linking Successful Message",
        "webhookId": "1524cccb-07cc-4b1a-93eb-934f1120faf2",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
          "text": "={{    $('Strict Entry (Contract)').item.json.context.translations.reminder_message.replace('{name}',  $('Strict Entry (Contract)').item.json.first_name.charAt(0).toUpperCase() + $('Strict Entry (Contract)').item.json.first_name.slice(1))  }}",
          "replyMarkup": "replyKeyboardRemove",
          "replyKeyboardRemove": {
            "remove_keyboard": true
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          384,
          144
        ],
        "id": "c7eef0fc-d53e-47d1-9a95-51328d0d45d8",
        "name": "Reminder message",
        "webhookId": "262e4282-a2c4-46c9-8e05-91f0984ad79c",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.message_controller }}",
          "replyMarkup": "replyKeyboardRemove",
          "replyKeyboardRemove": {
            "remove_keyboard": true
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -112,
          1200
        ],
        "id": "a37d6938-00df-43f7-b606-27b946f176b6",
        "name": "Message Domain Controller",
        "webhookId": "c6d67b00-22fb-4b35-aa7c-4a306a1b6be0",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.invalid_code }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          144,
          928
        ],
        "id": "6ca7c9ce-c5c4-4f05-bc6b-b73b6c8f05d0",
        "name": "Error code message",
        "webhookId": "4ca203d6-2047-40b6-a643-b08073bb1508",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Contract)').item.json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.error_message_onboarding }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2032,
          832
        ],
        "id": "e01de7ad-bbee-48a6-8c5c-34388548e39d",
        "name": "Generic error message",
        "webhookId": "c3f6266b-92df-4a86-ab91-3f5d2a2e994b",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?pairing_code=eq.{{ $('Extract Code (VINCULATE)').item.json.pairing_code }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "telegram_id",
                "value": "={{ $('Strict Entry (Contract)').item.json.telegram_id }}"
              },
              {
                "name": "onboarding_state",
                "value": "PENDING_CONTACT"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          416,
          720
        ],
        "id": "d0d33577-e42d-428b-a7f7-8a33b35974be",
        "name": "Link Account DB",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $('Strict Entry (Contract)').item.json.context.translations.msg_pending_link}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          368,
          -160
        ],
        "id": "c5d12660-3e58-4799-8e0e-4d2edb01d18f",
        "name": "Message pending link",
        "webhookId": "11073fca-1096-443c-838b-e23295d728ea",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      }
    ],
    "connections": {
      "Strict Entry (Contract)": {
        "main": [
          [
            {
              "node": "Domain Controller",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Code (VINCULATE)": {
        "main": [
          [
            {
              "node": "Get Code from DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Code from DB": {
        "main": [
          [
            {
              "node": "Is Code Valid?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error code message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Code Valid?": {
        "main": [
          [
            {
              "node": "Link Account DB",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Domain Controller": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Remove Buttons",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Code (VINCULATE)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update  Contact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update  Contact": {
        "main": [
          [
            {
              "node": "Message Domain Controller",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "State user": {
        "main": [
          [
            {
              "node": "Select Language Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Message pending link",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Contact inactive",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reminder message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Buttons": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "State user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Language Message": {
        "main": [
          []
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "Linking Successful Message": {
        "main": [
          []
        ]
      },
      "Message Domain Controller": {
        "main": [
          []
        ]
      },
      "Error code message": {
        "main": [
          []
        ]
      },
      "Contact inactive": {
        "main": [
          []
        ]
      },
      "Link Account DB": {
        "main": [
          [
            {
              "node": "Linking Successful Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generic error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 3ecb55ae",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-01T03:03:21.835Z",
        "id": 739,
        "workflowId": "GmInc0tYXj4ZR4kM",
        "versionId": "3ecb55ae-ad00-45eb-8d36-48fcd1bfcf2b",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}