n8n/workflows/sw-2-cognitive-engine.json
{
  "updatedAt": "2026-04-06T18:13:08.907Z",
  "createdAt": "2026-02-22T02:00:58.915Z",
  "id": "zc8E5ZfPENEx6Css",
  "name": "SW-2: Cognitive engine",
  "description": "Core AI pipeline: voice transcription, embeddings, RAG search, LLM analysis, and mission proposal.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "telegram_id"
            },
            {
              "name": "input_text"
            },
            {
              "name": "has_voice",
              "type": "boolean"
            },
            {
              "name": "file_id"
            },
            {
              "name": "is_button",
              "type": "boolean"
            },
            {
              "name": "context",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        0
      ],
      "id": "9b5395ea-c1ef-4363-9904-f77940a9f46c",
      "name": "Strict Entry (Brain)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -896,
        0
      ],
      "id": "94309feb-e4a9-406d-992b-408031a1e1b6",
      "name": "Is it Voice Note?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_pure_text",
              "name": "final_thought",
              "value": "={{ $('Strict Entry (Brain)').item.json.input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        128
      ],
      "id": "f513818a-50ed-4346-a98b-e1c09f4986b5",
      "name": "Pass Text Directly"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Strict Entry (Brain)').item.json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        -112
      ],
      "id": "0cccbd3b-5428-4522-b42b-84bfe398bacd",
      "name": "Download Audio",
      "webhookId": "c2f27d00-7fa1-444f-8867-31809054bd52",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Transcribe this audio word by word. Do not summarize, I need the exact text to analyze the user's intent in Spanish.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -176,
        -128
      ],
      "id": "bd8846d5-a97d-496f-819c-c08103e0b11d",
      "name": "Transcribe Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_transcription",
              "name": "final_thought",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -112
      ],
      "id": "b241d563-7ae9-4282-b3a4-ce6ca0b8a9e0",
      "name": "Format Transcription"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        272,
        0
      ],
      "id": "dbb4c6b3-61df-4bff-a0cf-4a7346d5654b",
      "name": "Merge Streams"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/text-embedding-004\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $('Merge Streams').item.json.final_thought }}\"\n    }]\n  },\n  \"outputDimensionality\": 768\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1056,
        -32
      ],
      "id": "b298b5bc-2a45-4e49-8698-864a1eaeb490",
      "name": "Generate Embeddings",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        },
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/match_thoughts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embedding.values) }},\n  \"match_threshold\": 0.4,\n  \"match_count\": 3,\n  \"p_telegram_id\": {{ $('Strict Entry (Brain)').item.json.telegram_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1344,
        -176
      ],
      "id": "e344d54b-fdfb-4717-aea7-7b0cfca2e40f",
      "name": "Query RAG (Supabase)",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst memories = items\n  .map(item => item.json.content || item.json.raw_content)\n  .filter(c => c && c.trim() !== \"\")\n  .join(' | ');\n\nconst currentThought = $('Merge Streams').item.json.final_thought;\nconst currentVector = $('Generate Embeddings').item.json.embedding.values;\n\nlet fullPrompt = $('Select Localized Prompt').item.json.final_prompt || \"\";\n\n\nconst historical = memories || \"No previous history.\";\nfullPrompt = fullPrompt.replace('{{historical_context}}', historical);\nfullPrompt = fullPrompt.replace('{{user_thought}}', currentThought);\n\nreturn [{\n  json: {\n    final_thought: currentThought,\n    historical_context: historical,\n    embedding_vector: currentVector,\n    final_prompt: fullPrompt\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -192
      ],
      "id": "7ac07056-ae5b-4d7f-8eba-f7a496f214a8",
      "name": "Format Memory Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Format Memory Context').item.json.final_prompt }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1952,
        -128
      ],
      "id": "a9cf4a7a-8174-4a0d-b145-1099c9a57f5b",
      "name": "MindOps Brain (LLM)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary_title\": \"string (3 words)\",\n  \"friction_tag\": \"🔴 CRITICAL (Stall) | 🟡 DENSE (Choppy) | 🟢 FLUID (Flow)\",\n  \"friction_score\": 90,\n  \"system_mode\": \"PROTECTION | EXECUTION\",\n  \"strategic_insight\": \"string (Contextual analysis based on RAG)\",\n  \"voice_script\": \"string (Max 45 words script to be spoken by Twilio if the user gets stuck)\",\n  \"action_plan\": [\n    {\n      \"time\": \"string (Suggested time)\",\n      \"task\": \"string (Atomic physical step < 5 min)\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2112,
        208
      ],
      "id": "8fcf49e7-8fa5-4546-ba80-e9abda263c2a",
      "name": "JSON Schema Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Strict Entry (Brain)').item.json.context.user.id }}"
            },
            {
              "name": "summary_title",
              "value": "={{ $json.output.summary_title }}"
            },
            {
              "name": "friction_score",
              "value": "={{ $json.output.friction_score }}"
            },
            {
              "name": "friction_tag",
              "value": "={{ $json.output.friction_tag }}"
            },
            {
              "name": "system_mode",
              "value": "={{ $json.output.system_mode }}"
            },
            {
              "name": "strategic_insight",
              "value": "={{ $json.output.strategic_insight }}"
            },
            {
              "name": "voice_script",
              "value": "={{ $json.output.voice_script }}"
            },
            {
              "name": "action_plan",
              "value": "={{ JSON.stringify($json.output.action_plan) }}"
            },
            {
              "name": "status",
              "value": "PROPOSED"
            },
            {
              "name": "embedding",
              "value": "={{ $('Format Memory Context').first().json.embedding_vector }}"
            },
            {
              "name": "raw_content",
              "value": "={{ $('Format Memory Context').first().json.final_thought }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2544,
        -96
      ],
      "id": "cfcdc020-f16d-4a1f-b49a-c228c2da73a5",
      "name": "Save PROPOSED Mission",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1936,
        224
      ],
      "id": "8b14863b-6a59-42bc-abf2-1a8141cf171f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RECEIVE (Voice & Text)",
        "height": 704,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        -336
      ],
      "typeVersion": 1,
      "id": "509aa3c4-3775-442a-8c9f-f0043b046b0c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## PREPARE (Transcription & Prompts)",
        "height": 704,
        "width": 1056,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -368
      ],
      "typeVersion": 1,
      "id": "5ecba1f5-0f6d-4f56-9eb0-3896f77efe75",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## THINK (AI & Memory)",
        "height": 1056,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -544
      ],
      "typeVersion": 1,
      "id": "24c94226-9ef4-461a-a6ec-defb231d8210",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## RESPOND (Output)",
        "height": 640,
        "width": 832,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        -384
      ],
      "typeVersion": 1,
      "id": "d869c279-fbba-4e96-8cd8-06581448b2ea",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Error Handling",
        "height": 352,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        752
      ],
      "typeVersion": 1,
      "id": "7d1994d0-635e-480c-bae1-9104f7133bce",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "\nconst context = $('Strict Entry (Brain)').item.json.context;\n\n\nconst lang = context.language || 'es';\n\n\nconst promptData = context.prompts.prompt_ai || {};\nconst fullPrompt = promptData[lang] || \"\";\n\nreturn [{\n  json: {\n    final_prompt: fullPrompt,\n    debug_language: lang\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -32
      ],
      "id": "e6fae0f9-5d0d-4674-b9bd-eaa842f62d50",
      "name": "Select Localized Prompt"
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
        "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.message_proposal\n    .replace('{friction_tag}', $('MindOps Brain (LLM)').item.json.output.friction_tag)\n    .replace('{strategic_insight}', $('MindOps Brain (LLM)').item.json.output.strategic_insight)\n    .replace('{action_plan}', $('MindOps Brain (LLM)').item.json.output.action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{  $('Strict Entry (Brain)').item.json.context.translations.btn_mission_activate }}",
                    "additionalFields": {
                      "callback_data": "plan_ok"
                    }
                  },
                  {
                    "text": "={{$('Strict Entry (Brain)').item.json.context.translations.btn_mission_readjust }}",
                    "additionalFields": {
                      "callback_data": "plan_error"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        -80
      ],
      "id": "dd601e3f-5f4f-4ad1-88ae-23a9fef43591",
      "name": "Send a text message",
      "webhookId": "808a3162-1e80-4d0d-b02a-b3f385f593c3",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
        "text": "={{ $('Strict Entry (Brain)').item.json.context.translations.error_message_mission }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        864
      ],
      "id": "e2332877-2ca5-40ca-851f-7b3ba7b0b0e7",
      "name": "Error message",
      "webhookId": "c6f632d5-468e-4281-bbdf-bafed7e16181",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    }
  ],
  "connections": {
    "Strict Entry (Brain)": {
      "main": [
        [
          {
            "node": "Is it Voice Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it Voice Note?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Text Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Gemini": {
      "main": [
        [
          {
            "node": "Format Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Text Directly": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Transcription": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Query RAG (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG (Supabase)": {
      "main": [
        [
          {
            "node": "Format Memory Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MindOps Brain (LLM)": {
      "main": [
        [
          {
            "node": "Save PROPOSED Mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Schema Parser": {
      "ai_outputParser": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save PROPOSED Mission": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Memory Context": {
      "main": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Streams": {
      "main": [
        [
          {
            "node": "Select Localized Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Localized Prompt": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "352a3f22-1a34-4226-8fd6-d2626383fece",
  "activeVersionId": "352a3f22-1a34-4226-8fd6-d2626383fece",
  "versionCounter": 1015,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:00:58.915Z",
      "createdAt": "2026-02-22T02:00:58.915Z",
      "role": "workflow:owner",
      "workflowId": "zc8E5ZfPENEx6Css",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-06T18:13:30.162Z",
    "createdAt": "2026-04-06T18:13:08.948Z",
    "versionId": "352a3f22-1a34-4226-8fd6-d2626383fece",
    "workflowId": "zc8E5ZfPENEx6Css",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chat_id"
              },
              {
                "name": "telegram_id"
              },
              {
                "name": "input_text"
              },
              {
                "name": "has_voice",
                "type": "boolean"
              },
              {
                "name": "file_id"
              },
              {
                "name": "is_button",
                "type": "boolean"
              },
              {
                "name": "context",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1152,
          0
        ],
        "id": "9b5395ea-c1ef-4363-9904-f77940a9f46c",
        "name": "Strict Entry (Brain)"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.has_voice }}",
                "value2": true
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -896,
          0
        ],
        "id": "94309feb-e4a9-406d-992b-408031a1e1b6",
        "name": "Is it Voice Note?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set_pure_text",
                "name": "final_thought",
                "value": "={{ $('Strict Entry (Brain)').item.json.input_text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -656,
          128
        ],
        "id": "f513818a-50ed-4346-a98b-e1c09f4986b5",
        "name": "Pass Text Directly"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $('Strict Entry (Brain)').item.json.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -592,
          -112
        ],
        "id": "0cccbd3b-5428-4522-b42b-84bfe398bacd",
        "name": "Download Audio",
        "webhookId": "c2f27d00-7fa1-444f-8867-31809054bd52",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "Transcribe this audio word by word. Do not summarize, I need the exact text to analyze the user's intent in Spanish.",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          -176,
          -128
        ],
        "id": "bd8846d5-a97d-496f-819c-c08103e0b11d",
        "name": "Transcribe Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set_transcription",
                "name": "final_thought",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          -112
        ],
        "id": "b241d563-7ae9-4282-b3a4-ce6ca0b8a9e0",
        "name": "Format Transcription"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          272,
          0
        ],
        "id": "dbb4c6b3-61df-4bff-a0cf-4a7346d5654b",
        "name": "Merge Streams"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"models/text-embedding-004\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $('Merge Streams').item.json.final_thought }}\"\n    }]\n  },\n  \"outputDimensionality\": 768\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1056,
          -32
        ],
        "id": "b298b5bc-2a45-4e49-8698-864a1eaeb490",
        "name": "Generate Embeddings",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          },
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/match_thoughts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embedding.values) }},\n  \"match_threshold\": 0.4,\n  \"match_count\": 3,\n  \"p_telegram_id\": {{ $('Strict Entry (Brain)').item.json.telegram_id }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1344,
          -176
        ],
        "id": "e344d54b-fdfb-4717-aea7-7b0cfca2e40f",
        "name": "Query RAG (Supabase)",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nconst memories = items\n  .map(item => item.json.content || item.json.raw_content)\n  .filter(c => c && c.trim() !== \"\")\n  .join(' | ');\n\nconst currentThought = $('Merge Streams').item.json.final_thought;\nconst currentVector = $('Generate Embeddings').item.json.embedding.values;\n\nlet fullPrompt = $('Select Localized Prompt').item.json.final_prompt || \"\";\n\n\nconst historical = memories || \"No previous history.\";\nfullPrompt = fullPrompt.replace('{{historical_context}}', historical);\nfullPrompt = fullPrompt.replace('{{user_thought}}', currentThought);\n\nreturn [{\n  json: {\n    final_thought: currentThought,\n    historical_context: historical,\n    embedding_vector: currentVector,\n    final_prompt: fullPrompt\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          -192
        ],
        "id": "7ac07056-ae5b-4d7f-8eba-f7a496f214a8",
        "name": "Format Memory Context"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Format Memory Context').item.json.final_prompt }}",
          "hasOutputParser": true
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          1952,
          -128
        ],
        "id": "a9cf4a7a-8174-4a0d-b145-1099c9a57f5b",
        "name": "MindOps Brain (LLM)"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"summary_title\": \"string (3 words)\",\n  \"friction_tag\": \"🔴 CRITICAL (Stall) | 🟡 DENSE (Choppy) | 🟢 FLUID (Flow)\",\n  \"friction_score\": 90,\n  \"system_mode\": \"PROTECTION | EXECUTION\",\n  \"strategic_insight\": \"string (Contextual analysis based on RAG)\",\n  \"voice_script\": \"string (Max 45 words script to be spoken by Twilio if the user gets stuck)\",\n  \"action_plan\": [\n    {\n      \"time\": \"string (Suggested time)\",\n      \"task\": \"string (Atomic physical step < 5 min)\"\n    }\n  ]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2112,
          208
        ],
        "id": "8fcf49e7-8fa5-4546-ba80-e9abda263c2a",
        "name": "JSON Schema Parser"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "user_id",
                "value": "={{ $('Strict Entry (Brain)').item.json.context.user.id }}"
              },
              {
                "name": "summary_title",
                "value": "={{ $json.output.summary_title }}"
              },
              {
                "name": "friction_score",
                "value": "={{ $json.output.friction_score }}"
              },
              {
                "name": "friction_tag",
                "value": "={{ $json.output.friction_tag }}"
              },
              {
                "name": "system_mode",
                "value": "={{ $json.output.system_mode }}"
              },
              {
                "name": "strategic_insight",
                "value": "={{ $json.output.strategic_insight }}"
              },
              {
                "name": "voice_script",
                "value": "={{ $json.output.voice_script }}"
              },
              {
                "name": "action_plan",
                "value": "={{ JSON.stringify($json.output.action_plan) }}"
              },
              {
                "name": "status",
                "value": "PROPOSED"
              },
              {
                "name": "embedding",
                "value": "={{ $('Format Memory Context').first().json.embedding_vector }}"
              },
              {
                "name": "raw_content",
                "value": "={{ $('Format Memory Context').first().json.final_thought }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2544,
          -96
        ],
        "id": "cfcdc020-f16d-4a1f-b49a-c228c2da73a5",
        "name": "Save PROPOSED Mission",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1936,
          224
        ],
        "id": "8b14863b-6a59-42bc-abf2-1a8141cf171f",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "content": "## RECEIVE (Voice & Text)",
          "height": 704,
          "width": 896,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1232,
          -336
        ],
        "typeVersion": 1,
        "id": "509aa3c4-3775-442a-8c9f-f0043b046b0c",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## PREPARE (Transcription & Prompts)",
          "height": 704,
          "width": 1056,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -272,
          -368
        ],
        "typeVersion": 1,
        "id": "5ecba1f5-0f6d-4f56-9eb0-3896f77efe75",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## THINK (AI & Memory)",
          "height": 1056,
          "width": 1424,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          848,
          -544
        ],
        "typeVersion": 1,
        "id": "24c94226-9ef4-461a-a6ec-defb231d8210",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## RESPOND (Output)",
          "height": 640,
          "width": 832,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2384,
          -384
        ],
        "typeVersion": 1,
        "id": "d869c279-fbba-4e96-8cd8-06581448b2ea",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Error Handling",
          "height": 352,
          "width": 368,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2064,
          752
        ],
        "typeVersion": 1,
        "id": "7d1994d0-635e-480c-bae1-9104f7133bce",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "jsCode": "\nconst context = $('Strict Entry (Brain)').item.json.context;\n\n\nconst lang = context.language || 'es';\n\n\nconst promptData = context.prompts.prompt_ai || {};\nconst fullPrompt = promptData[lang] || \"\";\n\nreturn [{\n  json: {\n    final_prompt: fullPrompt,\n    debug_language: lang\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          -32
        ],
        "id": "e6fae0f9-5d0d-4674-b9bd-eaa842f62d50",
        "name": "Select Localized Prompt"
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
          "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.message_proposal\n    .replace('{friction_tag}', $('MindOps Brain (LLM)').item.json.output.friction_tag)\n    .replace('{strategic_insight}', $('MindOps Brain (LLM)').item.json.output.strategic_insight)\n    .replace('{action_plan}', $('MindOps Brain (LLM)').item.json.output.action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "={{  $('Strict Entry (Brain)').item.json.context.translations.btn_mission_activate }}",
                      "additionalFields": {
                        "callback_data": "plan_ok"
                      }
                    },
                    {
                      "text": "={{$('Strict Entry (Brain)').item.json.context.translations.btn_mission_readjust }}",
                      "additionalFields": {
                        "callback_data": "plan_error"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2896,
          -80
        ],
        "id": "dd601e3f-5f4f-4ad1-88ae-23a9fef43591",
        "name": "Send a text message",
        "webhookId": "808a3162-1e80-4d0d-b02a-b3f385f593c3",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
          "text": "={{ $('Strict Entry (Brain)').item.json.context.translations.error_message_mission }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2208,
          864
        ],
        "id": "e2332877-2ca5-40ca-851f-7b3ba7b0b0e7",
        "name": "Error message",
        "webhookId": "c6f632d5-468e-4281-bbdf-bafed7e16181",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      }
    ],
    "connections": {
      "Strict Entry (Brain)": {
        "main": [
          [
            {
              "node": "Is it Voice Note?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is it Voice Note?": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pass Text Directly",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Transcribe Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Gemini": {
        "main": [
          [
            {
              "node": "Format Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass Text Directly": {
        "main": [
          [
            {
              "node": "Merge Streams",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Format Transcription": {
        "main": [
          [
            {
              "node": "Merge Streams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Embeddings": {
        "main": [
          [
            {
              "node": "Query RAG (Supabase)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query RAG (Supabase)": {
        "main": [
          [
            {
              "node": "Format Memory Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MindOps Brain (LLM)": {
        "main": [
          [
            {
              "node": "Save PROPOSED Mission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON Schema Parser": {
        "ai_outputParser": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Save PROPOSED Mission": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Memory Context": {
        "main": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Merge Streams": {
        "main": [
          [
            {
              "node": "Select Localized Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Localized Prompt": {
        "main": [
          [
            {
              "node": "Generate Embeddings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 352a3f22",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-06T18:13:30.119Z",
        "id": 750,
        "workflowId": "zc8E5ZfPENEx6Css",
        "versionId": "352a3f22-1a34-4226-8fd6-d2626383fece",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}