n8n/workflows/SW-2: Cognitive engine.json
{
  "updatedAt": "2026-03-04T23:59:13.707Z",
  "createdAt": "2026-02-22T02:00:58.915Z",
  "id": "zc8E5ZfPENEx6Css",
  "name": "SW-2: Cognitive engine",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telegram_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "input_text"
            },
            {
              "name": "has_voice",
              "type": "boolean"
            },
            {
              "name": "file_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        112
      ],
      "id": "9b5395ea-c1ef-4363-9904-f77940a9f46c",
      "name": "Strict Entry (Brain)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "94309feb-e4a9-406d-992b-408031a1e1b6",
      "name": "Is it Voice Note?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_pure_text",
              "name": "final_thought",
              "value": "={{ $('Strict Entry (Brain)').item.json.input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        256
      ],
      "id": "f513818a-50ed-4346-a98b-e1c09f4986b5",
      "name": "Pass Text Directly"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Strict Entry (Brain)').item.json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        -32
      ],
      "id": "0cccbd3b-5428-4522-b42b-84bfe398bacd",
      "name": "Download Audio",
      "webhookId": "c2f27d00-7fa1-444f-8867-31809054bd52",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Transcribe this audio word by word. Do not summarize, I need the exact text to analyze the user's intent in Spanish.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        480,
        -32
      ],
      "id": "bd8846d5-a97d-496f-819c-c08103e0b11d",
      "name": "Transcribe Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_transcription",
              "name": "final_thought",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -32
      ],
      "id": "b241d563-7ae9-4282-b3a4-ce6ca0b8a9e0",
      "name": "Format Transcription"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        944,
        112
      ],
      "id": "dbb4c6b3-61df-4bff-a0cf-4a7346d5654b",
      "name": "Merge Streams"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/text-embedding-004\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $json.final_thought }}\"\n    }]\n  },\n  \"outputDimensionality\": 768\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1248,
        96
      ],
      "id": "b298b5bc-2a45-4e49-8698-864a1eaeb490",
      "name": "Generate Embeddings",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        },
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/match_thoughts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embedding.values) }},\n  \"match_threshold\": 0.4,\n  \"match_count\": 3,\n  \"p_telegram_id\": {{ $('Strict Entry (Brain)').item.json.telegram_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1568,
        96
      ],
      "id": "e344d54b-fdfb-4717-aea7-7b0cfca2e40f",
      "name": "Query RAG (Supabase)",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract memories (looks for 'content' or 'raw_content' depending on how your Supabase RPC function returns it)\nconst memories = items\n  .map(item => item.json.content || item.json.raw_content)\n  .filter(c => c && c.trim() !== \"\")\n  .join(' | ');\n\n// Retrieve the current thought and the embedding vector to pass them to the AI and save them later\nconst currentThought = $('Merge Streams').item.json.final_thought;\nconst currentVector = $('Generate Embeddings').item.json.embedding.values;\n\nreturn [{\n  json: {\n    final_thought: currentThought,\n    historical_context: memories || \"No previous history.\",\n    embedding_vector: currentVector\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        96
      ],
      "id": "7ac07056-ae5b-4d7f-8eba-f7a496f214a8",
      "name": "Format Memory Context"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Brain)').item.json.telegram_id }}&select=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2160,
        112
      ],
      "id": "09d58e07-9644-4a85-95a3-f0a7b9aa6735",
      "name": "Get Profile UUID",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as MindOps, the Cognitive Load Management System. You are an external pre-frontal cortex. Your goal is to map mental noise into a logical execution or protection sequence.\n\n### 1. MEMORY CONTEXT (RAG)\nHistorical patterns: {{ $('Format Memory Context').item.json.historical_context }}\nINSTRUCTION: Identify if the user is stuck in a recurring behavioral loop.\n\n### 2. CURRENT THOUGHT\nUser's raw input: {{ $('Format Memory Context').item.json.final_thought }}\n\n### 3. ADAPTIVE TRIAGE PROTOCOL\n- 🔴 CRITICAL (Stall): High anxiety, rumination, or emotional blockage.\n  * MODE: PROTECTION. MISSION: Biological reset. Prohibit work.\n- 🟡 DENSE (Choppy): Confusion, clutter, high volume of tasks.\n  * MODE: EXECUTION. MISSION: Information architecture. Order by effort.\n- 🟢 FLUID (Flow): High energy and clarity.\n  * MODE: EXECUTION. MISSION: Maximize professional impact.\n\n### 4. ACTION PLAN RULES\n- Extract ALL tasks mentioned by the user.\n- Tasks must be \"Atomic Steps\": physical actions taking < 5 minutes.\n- Assign realistic 'time' slots starting from now.\n- If in PROTECTION mode, the plan must only contain ONE step: a sensory reset.\n\n¡Acabas de revelar la pieza final del rompecabezas! 🧩🔍\nMirando tu JSON Schema (que en realidad en n8n funciona como un \"JSON Example\"), acabo de entender exactamente por qué Gemini te devolvió 0.9 en lugar de 90.\nTe lo explico como Arquitecta de IA:\n🤖 CÓMO PIENSA LA INTELIGENCIA ARTIFICIAL\nEn el lenguaje de programación JSON, no existe la diferencia entre un número entero (90) y un decimal (0.9). Ambos son simplemente del tipo number.\nCuando n8n le manda tu esquema a Gemini, le dice:\n\"Gemini, necesito que me des un campo llamado friction_score y el tipo de dato debe ser un number\".\nComo no le dijiste a Gemini cuál era la \"escala\" de ese número, la IA hizo una suposición matemática (alucinar): \"Ah, me pide un score de fricción. En ciencia de datos los scores se miden de 0.0 a 1.0. Le voy a dar un 0.9 (que equivale al 90%)\".\n🛡️ LA SOLUCIÓN DE RAÍZ (Prompt Engineering)\nEl parche matemático de Javascript que pusimos en el nodo anterior (Math.round(...)) es excelente y debes dejarlo ahí, se llama \"Programación Defensiva\" y te salvará de muchos errores.\nPero para arreglar la raíz del problema y educar a la IA, tenemos que darle instrucciones estrictas en el Prompt.\nVe a tu nodo MindOps Brain (LLM) y en tu prompt, justo en la sección de OUTPUT RULES, agrega esta regla de oro:\ncode\nText\n### 5. OUTPUT RULES\n- Use Cognitive Labeling in your strategic insight: \"Your mind is producing thoughts about X\".\n- Language: Respond in ENGLISH.\n- The 'friction_score' MUST be an INTEGER between 1 and 100 (e.g., 20, 50, 90). DO NOT use decimals or fractions.\n- Return ONLY the JSON object following the exact schema provided",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2432,
        96
      ],
      "id": "a9cf4a7a-8174-4a0d-b145-1099c9a57f5b",
      "name": "MindOps Brain (LLM)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary_title\": \"string (3 words)\",\n  \"friction_tag\": \"🔴 CRITICAL (Stall) | 🟡 DENSE (Choppy) | 🟢 FLUID (Flow)\",\n  \"friction_score\": 90,\n  \"system_mode\": \"PROTECTION | EXECUTION\",\n  \"strategic_insight\": \"string (Contextual analysis based on RAG)\",\n  \"voice_script\": \"string (Max 45 words script to be spoken by Twilio if the user gets stuck)\",\n  \"action_plan\": [\n    {\n      \"time\": \"string (Suggested time)\",\n      \"task\": \"string (Atomic physical step < 5 min)\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2704,
        432
      ],
      "id": "8fcf49e7-8fa5-4546-ba80-e9abda263c2a",
      "name": "JSON Schema Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $('Get Profile UUID').item.json.id }}\",\n  \"summary_title\": \"{{ $json.output.summary_title }}\",\n  \"friction_score\": {{ $json.output.friction_score }},\n  \"friction_tag\": \"{{ $json.output.friction_tag }}\",\n  \"system_mode\": \"{{ $json.output.system_mode }}\",\n  \"strategic_insight\": \"{{ $json.output.strategic_insight }}\",\n  \"guion_vocal\": \"{{ $json.output.guion_vocal }}\",\n  \"action_plan\": {{ JSON.stringify($json.output.action_plan) }},\n  \"status\": \"PROPOSED\",\n  \"embedding\": {{ JSON.stringify($('Format Memory Context').item.json.embedding_vector) }},\n  \"raw_content\": \"{{ $('Format Memory Context').item.json.final_thought }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2832,
        96
      ],
      "id": "cfcdc020-f16d-4a1f-b49a-c228c2da73a5",
      "name": "Save PROPOSED Mission",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        320
      ],
      "id": "8b14863b-6a59-42bc-abf2-1a8141cf171f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
            "text": "=={{\"🧠 *COGNITIVE LOAD SCAN COMPLETE*\\n\" + \n$('MindOps Brain (LLM)').item.json.output.friction_tag + \"\\n\\n\" + \n$('MindOps Brain (LLM)').item.json.output.strategic_insight + \n\"\\n\\n━━━━━━━━━━━━━━━━━━━━\\n⚡ *EXECUTION SEQUENCE PROPOSED:*\\n\" + \n$('MindOps Brain (LLM)').item.json.output.action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n') + \n\"\\n\\n🎯 *Ready to execute?* \"}}\n",
            "markup_type": "inlineKeyboard"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3104,
        80
      ],
      "id": "c48047db-6ca4-4d65-b36b-bef793578c7a",
      "name": "Send Proposal and Buttons"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
            "text": "⚠️ Mission Sync Failed  Something went wrong while activating your plan. We tried but couldn't connect to the system.  Your plan is still saved. Please try again in a few moments."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2896,
        832
      ],
      "id": "fc5fdb13-04f3-45bc-af45-2c6f11ad1fef",
      "name": "Error Message"
    }
  ],
  "connections": {
    "Strict Entry (Brain)": {
      "main": [
        [
          {
            "node": "Is it Voice Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it Voice Note?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Text Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Gemini": {
      "main": [
        [
          {
            "node": "Format Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Text Directly": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Transcription": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Query RAG (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG (Supabase)": {
      "main": [
        [
          {
            "node": "Format Memory Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Streams": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile UUID": {
      "main": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MindOps Brain (LLM)": {
      "main": [
        [
          {
            "node": "Save PROPOSED Mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Schema Parser": {
      "ai_outputParser": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save PROPOSED Mission": {
      "main": [
        [
          {
            "node": "Send Proposal and Buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Memory Context": {
      "main": [
        [
          {
            "node": "Get Profile UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Proposal and Buttons": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "21ee3ff0-87d8-4cce-9739-566293b2f901",
  "activeVersionId": "239cbbfd-9757-4c71-96eb-5ea73b61983a",
  "versionCounter": 211,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:00:58.915Z",
      "createdAt": "2026-02-22T02:00:58.915Z",
      "role": "workflow:owner",
      "workflowId": "zc8E5ZfPENEx6Css",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-03T17:30:04.526Z",
    "createdAt": "2026-03-03T17:24:20.587Z",
    "versionId": "239cbbfd-9757-4c71-96eb-5ea73b61983a",
    "workflowId": "zc8E5ZfPENEx6Css",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telegram_id"
              },
              {
                "name": "chat_id"
              },
              {
                "name": "input_text"
              },
              {
                "name": "has_voice",
                "type": "boolean"
              },
              {
                "name": "file_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -384,
          160
        ],
        "id": "9b5395ea-c1ef-4363-9904-f77940a9f46c",
        "name": "Strict Entry (Brain)"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.has_voice }}",
                "value2": true
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -144,
          160
        ],
        "id": "94309feb-e4a9-406d-992b-408031a1e1b6",
        "name": "Is it Voice Note?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set_pure_text",
                "name": "final_thought",
                "value": "={{ $('Strict Entry (Brain)').item.json.input_text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          112,
          304
        ],
        "id": "f513818a-50ed-4346-a98b-e1c09f4986b5",
        "name": "Pass Text Directly"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $('Strict Entry (Brain)').item.json.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          112,
          16
        ],
        "id": "0cccbd3b-5428-4522-b42b-84bfe398bacd",
        "name": "Download Audio",
        "webhookId": "c2f27d00-7fa1-444f-8867-31809054bd52",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "Transcribe this audio word by word. Do not summarize, I need the exact text to analyze the user's intent in Spanish.",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          336,
          16
        ],
        "id": "bd8846d5-a97d-496f-819c-c08103e0b11d",
        "name": "Transcribe Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set_transcription",
                "name": "final_thought",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          560,
          16
        ],
        "id": "b241d563-7ae9-4282-b3a4-ce6ca0b8a9e0",
        "name": "Format Transcription"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          800,
          160
        ],
        "id": "dbb4c6b3-61df-4bff-a0cf-4a7346d5654b",
        "name": "Merge Streams"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"models/text-embedding-004\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $json.final_thought }}\"\n    }]\n  },\n  \"outputDimensionality\": 768\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1104,
          144
        ],
        "id": "b298b5bc-2a45-4e49-8698-864a1eaeb490",
        "name": "Generate Embeddings",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          },
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/match_thoughts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embedding.values) }},\n  \"match_threshold\": 0.4,\n  \"match_count\": 3,\n  \"p_telegram_id\": {{ $('Strict Entry (Brain)').item.json.telegram_id }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1424,
          144
        ],
        "id": "e344d54b-fdfb-4717-aea7-7b0cfca2e40f",
        "name": "Query RAG (Supabase)",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// Extract memories (looks for 'content' or 'raw_content' depending on how your Supabase RPC function returns it)\nconst memories = items\n  .map(item => item.json.content || item.json.raw_content)\n  .filter(c => c && c.trim() !== \"\")\n  .join(' | ');\n\n// Retrieve the current thought and the embedding vector to pass them to the AI and save them later\nconst currentThought = $('Merge Streams').item.json.final_thought;\nconst currentVector = $('Generate Embeddings').item.json.embedding.values;\n\nreturn [{\n  json: {\n    final_thought: currentThought,\n    historical_context: memories || \"No previous history.\",\n    embedding_vector: currentVector\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1728,
          144
        ],
        "id": "7ac07056-ae5b-4d7f-8eba-f7a496f214a8",
        "name": "Format Memory Context"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Brain)').item.json.telegram_id }}&select=id",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2048,
          144
        ],
        "id": "09d58e07-9644-4a85-95a3-f0a7b9aa6735",
        "name": "Get Profile UUID",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Act as MindOps, the Cognitive Load Management System. You are an external pre-frontal cortex. Your goal is to map mental noise into a logical execution or protection sequence.\n\n### 1. MEMORY CONTEXT (RAG)\nHistorical patterns: {{ $('Format Memory Context').item.json.historical_context }}\nINSTRUCTION: Identify if the user is stuck in a recurring behavioral loop.\n\n### 2. CURRENT THOUGHT\nUser's raw input: {{ $('Format Memory Context').item.json.final_thought }}\n\n### 3. ADAPTIVE TRIAGE PROTOCOL\n- 🔴 CRITICAL (Stall): High anxiety, rumination, or emotional blockage.\n  * MODE: PROTECTION. MISSION: Biological reset. Prohibit work.\n- 🟡 DENSE (Choppy): Confusion, clutter, high volume of tasks.\n  * MODE: EXECUTION. MISSION: Information architecture. Order by effort.\n- 🟢 FLUID (Flow): High energy and clarity.\n  * MODE: EXECUTION. MISSION: Maximize professional impact.\n\n### 4. ACTION PLAN RULES\n- Extract ALL tasks mentioned by the user.\n- Tasks must be \"Atomic Steps\": physical actions taking < 5 minutes.\n- Assign realistic 'time' slots starting from now.\n- If in PROTECTION mode, the plan must only contain ONE step: a sensory reset.\n\n¡Acabas de revelar la pieza final del rompecabezas! 🧩🔍\nMirando tu JSON Schema (que en realidad en n8n funciona como un \"JSON Example\"), acabo de entender exactamente por qué Gemini te devolvió 0.9 en lugar de 90.\nTe lo explico como Arquitecta de IA:\n🤖 CÓMO PIENSA LA INTELIGENCIA ARTIFICIAL\nEn el lenguaje de programación JSON, no existe la diferencia entre un número entero (90) y un decimal (0.9). Ambos son simplemente del tipo number.\nCuando n8n le manda tu esquema a Gemini, le dice:\n\"Gemini, necesito que me des un campo llamado friction_score y el tipo de dato debe ser un number\".\nComo no le dijiste a Gemini cuál era la \"escala\" de ese número, la IA hizo una suposición matemática (alucinar): \"Ah, me pide un score de fricción. En ciencia de datos los scores se miden de 0.0 a 1.0. Le voy a dar un 0.9 (que equivale al 90%)\".\n🛡️ LA SOLUCIÓN DE RAÍZ (Prompt Engineering)\nEl parche matemático de Javascript que pusimos en el nodo anterior (Math.round(...)) es excelente y debes dejarlo ahí, se llama \"Programación Defensiva\" y te salvará de muchos errores.\nPero para arreglar la raíz del problema y educar a la IA, tenemos que darle instrucciones estrictas en el Prompt.\nVe a tu nodo MindOps Brain (LLM) y en tu prompt, justo en la sección de OUTPUT RULES, agrega esta regla de oro:\ncode\nText\n### 5. OUTPUT RULES\n- Use Cognitive Labeling in your strategic insight: \"Your mind is producing thoughts about X\".\n- Language: Respond in ENGLISH.\n- The 'friction_score' MUST be an INTEGER between 1 and 100 (e.g., 20, 50, 90). DO NOT use decimals or fractions.\n- Return ONLY the JSON object following the exact schema provided",
          "hasOutputParser": true
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          2288,
          144
        ],
        "id": "a9cf4a7a-8174-4a0d-b145-1099c9a57f5b",
        "name": "MindOps Brain (LLM)"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"summary_title\": \"string (3 words)\",\n  \"friction_tag\": \"🔴 CRITICAL (Stall) | 🟡 DENSE (Choppy) | 🟢 FLUID (Flow)\",\n  \"friction_score\": 90,\n  \"system_mode\": \"PROTECTION | EXECUTION\",\n  \"strategic_insight\": \"string (Contextual analysis based on RAG)\",\n  \"guion_vocal\": \"string (Max 45 words script to be spoken by Twilio if the user gets stuck)\",\n  \"action_plan\": [\n    {\n      \"time\": \"string (Suggested time)\",\n      \"task\": \"string (Atomic physical step < 5 min)\"\n    }\n  ]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          2560,
          480
        ],
        "id": "8fcf49e7-8fa5-4546-ba80-e9abda263c2a",
        "name": "JSON Schema Parser"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"user_id\": \"{{ $('Get Profile UUID').item.json.id }}\",\n  \"summary_title\": \"{{ $json.output.summary_title }}\",\n  \"friction_score\": {{ $json.output.friction_score }},\n  \"friction_tag\": \"{{ $json.output.friction_tag }}\",\n  \"system_mode\": \"{{ $json.output.system_mode }}\",\n  \"strategic_insight\": \"{{ $json.output.strategic_insight }}\",\n  \"guion_vocal\": \"{{ $json.output.guion_vocal }}\",\n  \"action_plan\": {{ JSON.stringify($json.output.action_plan) }},\n  \"status\": \"PROPOSED\",\n  \"embedding\": {{ JSON.stringify($('Format Memory Context').item.json.embedding_vector) }},\n  \"raw_content\": \"{{ $('Format Memory Context').item.json.final_thought }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2688,
          144
        ],
        "id": "cfcdc020-f16d-4a1f-b49a-c228c2da73a5",
        "name": "Save PROPOSED Mission",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2224,
          368
        ],
        "id": "8b14863b-6a59-42bc-abf2-1a8141cf171f",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
              "text": "=={{\"🧠 *COGNITIVE LOAD SCAN COMPLETE*\\n\" + \n$('MindOps Brain (LLM)').item.json.output.friction_tag + \"\\n\\n\" + \n$('MindOps Brain (LLM)').item.json.output.strategic_insight + \n\"\\n\\n━━━━━━━━━━━━━━━━━━━━\\n⚡ *EXECUTION SEQUENCE PROPOSED:*\\n\" + \n$('MindOps Brain (LLM)').item.json.output.action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n') + \n\"\\n\\n🎯 *Ready to execute?* \"}}\n",
              "markup_type": "inlineKeyboard"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2960,
          128
        ],
        "id": "c48047db-6ca4-4d65-b36b-bef793578c7a",
        "name": "Send Proposal and Buttons"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
              "text": "⚠️ Mission Sync Failed  Something went wrong while activating your plan. We tried but couldn't connect to the system.  Your plan is still saved. Please try again in a few moments."
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3024,
          880
        ],
        "id": "fc5fdb13-04f3-45bc-af45-2c6f11ad1fef",
        "name": "Error Message"
      }
    ],
    "connections": {
      "Strict Entry (Brain)": {
        "main": [
          [
            {
              "node": "Is it Voice Note?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is it Voice Note?": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pass Text Directly",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Transcribe Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Gemini": {
        "main": [
          [
            {
              "node": "Format Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass Text Directly": {
        "main": [
          [
            {
              "node": "Merge Streams",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Format Transcription": {
        "main": [
          [
            {
              "node": "Merge Streams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Embeddings": {
        "main": [
          [
            {
              "node": "Query RAG (Supabase)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query RAG (Supabase)": {
        "main": [
          [
            {
              "node": "Format Memory Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Streams": {
        "main": [
          [
            {
              "node": "Generate Embeddings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Profile UUID": {
        "main": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MindOps Brain (LLM)": {
        "main": [
          [
            {
              "node": "Save PROPOSED Mission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON Schema Parser": {
        "ai_outputParser": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Save PROPOSED Mission": {
        "main": [
          [
            {
              "node": "Send Proposal and Buttons",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Memory Context": {
        "main": [
          [
            {
              "node": "Get Profile UUID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Send Proposal and Buttons": {
        "main": [
          []
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 239cbbfd",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T17:30:04.377Z",
        "id": 78,
        "workflowId": "zc8E5ZfPENEx6Css",
        "versionId": "239cbbfd-9757-4c71-96eb-5ea73b61983a",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  },
  "error": {
    "message": "404 - \"{\\\"message\\\":\\\"Not Found\\\",\\\"documentation_url\\\":\\\"https://docs.github.com/rest/repos/contents#get-repository-content\\\",\\\"status\\\":\\\"404\\\"}\"",
    "name": "AxiosError",
    "stack": "AxiosError: Request failed with status code 404\n    at settle (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/axios@1.12.0/node_modules/axios/lib/core/settle.js:19:12)\n    at RedirectableRequest.handleResponse (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/axios@1.12.0/node_modules/axios/lib/adapters/http.js:565:9)\n    at RedirectableRequest.emit (node:events:531:35)\n    at RedirectableRequest._processResponse (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/follow-redirects@1.15.11/node_modules/follow-redirects/index.js:409:10)\n    at ClientRequest.RedirectableRequest._onNativeResponse (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/follow-redirects@1.15.11/node_modules/follow-redirects/index.js:102:12)\n    at Object.onceWrapper (node:events:634:26)\n    at ClientRequest.emit (node:events:519:28)\n    at HTTPParser.parserOnIncomingClient (node:_http_client:772:27)\n    at HTTPParser.parserOnHeadersComplete (node:_http_common:122:17)\n    at TLSSocket.socketOnData (node:_http_client:614:22)\n    at Axios.request (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/axios@1.12.0/node_modules/axios/lib/core/Axios.js:45:41)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at invokeAxios (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:291:10)\n    at proxyRequestToAxios (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:672:20)\n    at Object.request (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_4dbefa9881a7c57a9e05a20ce4387c10/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1822:4)",
    "code": "ERR_BAD_REQUEST",
    "status": 404
  }
}