n8n/workflows/sw-2-cognitive-engine.json
{
  "updatedAt": "2026-03-16T19:30:17.098Z",
  "createdAt": "2026-02-22T02:00:58.915Z",
  "id": "zc8E5ZfPENEx6Css",
  "name": "SW-2: Cognitive engine",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telegram_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "input_text"
            },
            {
              "name": "has_voice",
              "type": "boolean"
            },
            {
              "name": "file_id"
            },
            {
              "name": "context",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1152,
        0
      ],
      "id": "9b5395ea-c1ef-4363-9904-f77940a9f46c",
      "name": "Strict Entry (Brain)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_voice }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -896,
        0
      ],
      "id": "94309feb-e4a9-406d-992b-408031a1e1b6",
      "name": "Is it Voice Note?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_pure_text",
              "name": "final_thought",
              "value": "={{ $('Strict Entry (Brain)').item.json.input_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        128
      ],
      "id": "f513818a-50ed-4346-a98b-e1c09f4986b5",
      "name": "Pass Text Directly"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Strict Entry (Brain)').item.json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        -112
      ],
      "id": "0cccbd3b-5428-4522-b42b-84bfe398bacd",
      "name": "Download Audio",
      "webhookId": "c2f27d00-7fa1-444f-8867-31809054bd52",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Transcribe this audio word by word. Do not summarize, I need the exact text to analyze the user's intent in Spanish.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -176,
        -128
      ],
      "id": "bd8846d5-a97d-496f-819c-c08103e0b11d",
      "name": "Transcribe Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set_transcription",
              "name": "final_thought",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -112
      ],
      "id": "b241d563-7ae9-4282-b3a4-ce6ca0b8a9e0",
      "name": "Format Transcription"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "id": "dbb4c6b3-61df-4bff-a0cf-4a7346d5654b",
      "name": "Merge Streams"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"models/text-embedding-004\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $('Merge Streams').item.json.final_thought }}\"\n    }]\n  },\n  \"outputDimensionality\": 768\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        -48
      ],
      "id": "b298b5bc-2a45-4e49-8698-864a1eaeb490",
      "name": "Generate Embeddings",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        },
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/match_thoughts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embedding.values) }},\n  \"match_threshold\": 0.4,\n  \"match_count\": 3,\n  \"p_telegram_id\": {{ $('Strict Entry (Brain)').item.json.telegram_id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2256,
        -64
      ],
      "id": "e344d54b-fdfb-4717-aea7-7b0cfca2e40f",
      "name": "Query RAG (Supabase)",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 1. Extract memories from RAG\nconst memories = items\n  .map(item => item.json.content || item.json.raw_content)\n  .filter(c => c && c.trim() !== \"\")\n  .join(' | ');\n\n// 2. Get current thought and embedding vector\nconst currentThought = $('Merge Streams').item.json.final_thought;\nconst currentVector = $('Generate Embeddings').item.json.embedding.values;\n\n// 3. Get localized prompt and inject user data\nconst lang = $('Strict Entry (Brain)').item.json.context.language || 'es';\nconst promptData = $('Get Brain Prompts').first().json;\nlet fullPrompt = promptData[lang] || \"\";\n\n// 4. Replace placeholders now that we have all the data\nconst historical = memories || \"No previous history.\";\nfullPrompt = fullPrompt.replace('{{historical_context}}', historical);\nfullPrompt = fullPrompt.replace('{{user_thought}}', currentThought);\n\nreturn [{\n  json: {\n    final_thought: currentThought,\n    historical_context: historical,\n    embedding_vector: currentVector,\n    final_prompt: fullPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        -80
      ],
      "id": "7ac07056-ae5b-4d7f-8eba-f7a496f214a8",
      "name": "Format Memory Context"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Brain)').item.json.telegram_id }}&select=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1024,
        -80
      ],
      "id": "09d58e07-9644-4a85-95a3-f0a7b9aa6735",
      "name": "Get Profile UUID",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Select Localized Prompt\"].json.final_prompt }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3024,
        -112
      ],
      "id": "a9cf4a7a-8174-4a0d-b145-1099c9a57f5b",
      "name": "MindOps Brain (LLM)"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary_title\": \"string (3 words)\",\n  \"friction_tag\": \"🔴 CRITICAL (Stall) | 🟡 DENSE (Choppy) | 🟢 FLUID (Flow)\",\n  \"friction_score\": 90,\n  \"system_mode\": \"PROTECTION | EXECUTION\",\n  \"strategic_insight\": \"string (Contextual analysis based on RAG)\",\n  \"voice_script\": \"string (Max 45 words script to be spoken by Twilio if the user gets stuck)\",\n  \"action_plan\": [\n    {\n      \"time\": \"string (Suggested time)\",\n      \"task\": \"string (Atomic physical step < 5 min)\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3200,
        224
      ],
      "id": "8fcf49e7-8fa5-4546-ba80-e9abda263c2a",
      "name": "JSON Schema Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Get Profile UUID').first().json.id }}"
            },
            {
              "name": "summary_title",
              "value": "={{ $json.output.summary_title }}"
            },
            {
              "name": "friction_score",
              "value": "={{ $json.output.friction_score }}"
            },
            {
              "name": "friction_tag",
              "value": "={{ $json.output.friction_tag }}"
            },
            {
              "name": "system_mode",
              "value": "={{ $json.output.system_mode }}"
            },
            {
              "name": "strategic_insight",
              "value": "={{ $json.output.strategic_insight }}"
            },
            {
              "name": "voice_script",
              "value": "={{ $json.output.voice_script }}"
            },
            {
              "name": "action_plan",
              "value": "={{ JSON.stringify($json.output.action_plan) }}"
            },
            {
              "name": "status",
              "value": "PROPOSED"
            },
            {
              "name": "embedding",
              "value": "={{ $('Format Memory Context').first().json.embedding_vector }}"
            },
            {
              "name": "=raw_content",
              "value": "={{ $('Format Memory Context').first().json.final_thought }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3616,
        -16
      ],
      "id": "cfcdc020-f16d-4a1f-b49a-c228c2da73a5",
      "name": "Save PROPOSED Mission",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3008,
        192
      ],
      "id": "8b14863b-6a59-42bc-abf2-1a8141cf171f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
            "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.message_proposal\n    .replace('{friction_tag}', $('MindOps Brain (LLM)').item.json.output.friction_tag)\n    .replace('{strategic_insight}', $('MindOps Brain (LLM)').item.json.output.strategic_insight)\n    .replace('{action_plan}', $('MindOps Brain (LLM)').item.json.output.action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}",
            "markup_type": "inlineKeyboard",
            "keyboard_data": "={{ [[\n  { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_activate, \"callback_data\": \"plan_ok\" },\n  { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_readjust, \"callback_data\": \"plan_error\" }\n]] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4128,
        -48
      ],
      "id": "c48047db-6ca4-4d65-b36b-bef793578c7a",
      "name": "Send Proposal and Buttons"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
            "text": "={{ $('Strict Entry (Brain)').item.json.context.translations.error_message_mission }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1904,
        848
      ],
      "id": "fc5fdb13-04f3-45bc-af45-2c6f11ad1fef",
      "name": "Error Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/is_duplicate_thought",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_user_id\": \"{{ $json.id }}\",\n  \"p_text\": \"{{ $('Merge Streams').item.json.final_thought }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -304
      ],
      "id": "c603e84d-f24b-45ef-bf4f-97219f349d23",
      "name": "Check Exact Duplicate",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f0eb4da-d696-4891-9237-c9f87218bd76",
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        -320
      ],
      "id": "b7fd381b-16e0-4049-843b-58361a4c10ea",
      "name": "Is Duplicate?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ebb4b7c-97da-4a22-98b4-c2909388de9b",
              "leftValue": "={{ $json.old_status }}",
              "rightValue": "PROPOSED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2112,
        -368
      ],
      "id": "51c5b090-8dfa-4a34-87ab-1501d18c2bfc",
      "name": "Is Status PROPOSED?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
            "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.cache_proposal\n    .replace('{old_summary_title}', $json.old_summary_title)\n    .replace('{old_strategic_insight}', $json.old_strategic_insight)\n    .replace('{old_action_plan}', $json.old_action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}\n",
            "markup_type": "inlineKeyboard",
            "keyboard_data": "={{ $json.keyboard }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2768,
        -528
      ],
      "id": "419653ca-d331-4b9e-b9c5-ce2d705b81ae",
      "name": "Send: Cached Proposal + Buttons"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
            "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.duplicate_alert\n    .replace('{old_summary_title}', $json.old_summary_title)\n    .replace('{old_strategic_insight}', $json.old_strategic_insight)\n    .replace('{old_action_plan}', $json.old_action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2784,
        -304
      ],
      "id": "cfdf11b2-2c70-4cef-a094-090870e803a0",
      "name": "Send Duplicate Alert"
    },
    {
      "parameters": {
        "content": "## Description\nMindOps Brain Core: This engine processes voice logs into structured data. It performs AI-driven cognitive analysis, detects recurring thoughts, and delivers localized outcome-based action plans.",
        "height": 224,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -1040
      ],
      "typeVersion": 1,
      "id": "faa1a67f-b289-4225-833d-348b2dcb7f06",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RECEIVE (Voice & Text)",
        "height": 704,
        "width": 896,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1232,
        -336
      ],
      "typeVersion": 1,
      "id": "509aa3c4-3775-442a-8c9f-f0043b046b0c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## PREPARE (Transcription & Prompts)",
        "height": 704,
        "width": 1216,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -368
      ],
      "typeVersion": 1,
      "id": "5ecba1f5-0f6d-4f56-9eb0-3896f77efe75",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## IDENTIFY (User & Duplicates)",
        "height": 800,
        "width": 912,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -496
      ],
      "typeVersion": 1,
      "id": "c610cef6-c78c-4fda-b0e4-4947a0e690cc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## THINK (AI & Memory)",
        "height": 1056,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        -592
      ],
      "typeVersion": 1,
      "id": "24c94226-9ef4-461a-a6ec-defb231d8210",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## RESPOND (Output)",
        "height": 640,
        "width": 832,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3536,
        -320
      ],
      "typeVersion": 1,
      "id": "d869c279-fbba-4e96-8cd8-06581448b2ea",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Error Handling",
        "height": 352,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        672
      ],
      "typeVersion": 1,
      "id": "7d1994d0-635e-480c-bae1-9104f7133bce",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/prompts?key=eq.prompt_ai&select=es,en",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        -16
      ],
      "id": "70b06d79-1123-4852-8859-3cd8deba898d",
      "name": "Get Brain Prompts",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const lang = $('Strict Entry (Brain)').item.json.context.language || 'es';\n\nconst promptData = $input.first().json;\nlet fullPrompt = promptData[lang] || \"\";\n\n// Estos se inyectarán después — por ahora dejamos placeholders\n// El reemplazo real ocurre en Format Memory Context\nreturn [{\n  json: {\n    final_prompt: fullPrompt,\n    debug_language: lang\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -112
      ],
      "id": "e6fae0f9-5d0d-4674-b9bd-eaa842f62d50",
      "name": "Select Localized Prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ced6f3d6-f414-433f-80e0-d3a843e6a2b5",
              "name": "keyboard_data",
              "value": "={{ JSON.stringify([[   { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_activate, \"callback_data\": \"plan_ok\" },   { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_readjust, \"callback_data\": \"plan_error\" } ]]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        -480
      ],
      "id": "094c3b15-4d70-4032-8d47-b220c482a1cf",
      "name": "Prepare Keyboard: Mission"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12e40e02-93c1-4e86-907d-f3003bb5c4a3",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2784,
        -80
      ],
      "id": "1fe1dfa8-bfad-40e4-ad75-92b67d0efd16",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Strict Entry (Brain)": {
      "main": [
        [
          {
            "node": "Is it Voice Note?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is it Voice Note?": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Text Directly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Gemini": {
      "main": [
        [
          {
            "node": "Format Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Text Directly": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Transcription": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Query RAG (Supabase)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG (Supabase)": {
      "main": [
        [
          {
            "node": "Format Memory Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Streams": {
      "main": [
        [
          {
            "node": "Get Brain Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Profile UUID": {
      "main": [
        [
          {
            "node": "Check Exact Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MindOps Brain (LLM)": {
      "main": [
        [
          {
            "node": "Save PROPOSED Mission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Schema Parser": {
      "ai_outputParser": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save PROPOSED Mission": {
      "main": [
        [
          {
            "node": "Send Proposal and Buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Memory Context": {
      "main": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MindOps Brain (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Proposal and Buttons": {
      "main": [
        []
      ]
    },
    "Check Exact Duplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Is Status PROPOSED?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status PROPOSED?": {
      "main": [
        [
          {
            "node": "Prepare Keyboard: Mission",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Duplicate Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Duplicate Alert": {
      "main": [
        []
      ]
    },
    "Get Brain Prompts": {
      "main": [
        [
          {
            "node": "Select Localized Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Localized Prompt": {
      "main": [
        [
          {
            "node": "Get Profile UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Cached Proposal + Buttons": {
      "main": [
        []
      ]
    },
    "Prepare Keyboard: Mission": {
      "main": [
        [
          {
            "node": "Send: Cached Proposal + Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a853d1ae-ff7b-42a4-b0a3-978c703dbeaa",
  "activeVersionId": "149e701f-3a07-473a-a3bd-825c770ea61a",
  "versionCounter": 689,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:00:58.915Z",
      "createdAt": "2026-02-22T02:00:58.915Z",
      "role": "workflow:owner",
      "workflowId": "zc8E5ZfPENEx6Css",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T00:43:48.885Z",
    "createdAt": "2026-03-16T00:43:11.617Z",
    "versionId": "149e701f-3a07-473a-a3bd-825c770ea61a",
    "workflowId": "zc8E5ZfPENEx6Css",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telegram_id"
              },
              {
                "name": "chat_id"
              },
              {
                "name": "input_text"
              },
              {
                "name": "has_voice",
                "type": "boolean"
              },
              {
                "name": "file_id"
              },
              {
                "name": "context",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1152,
          0
        ],
        "id": "9b5395ea-c1ef-4363-9904-f77940a9f46c",
        "name": "Strict Entry (Brain)"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.has_voice }}",
                "value2": true
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -896,
          0
        ],
        "id": "94309feb-e4a9-406d-992b-408031a1e1b6",
        "name": "Is it Voice Note?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set_pure_text",
                "name": "final_thought",
                "value": "={{ $('Strict Entry (Brain)').item.json.input_text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -656,
          128
        ],
        "id": "f513818a-50ed-4346-a98b-e1c09f4986b5",
        "name": "Pass Text Directly"
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $('Strict Entry (Brain)').item.json.file_id }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -592,
          -112
        ],
        "id": "0cccbd3b-5428-4522-b42b-84bfe398bacd",
        "name": "Download Audio",
        "webhookId": "c2f27d00-7fa1-444f-8867-31809054bd52",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "Transcribe this audio word by word. Do not summarize, I need the exact text to analyze the user's intent in Spanish.",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          -176,
          -128
        ],
        "id": "bd8846d5-a97d-496f-819c-c08103e0b11d",
        "name": "Transcribe Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "set_transcription",
                "name": "final_thought",
                "value": "={{ $json.content.parts[0].text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          16,
          -112
        ],
        "id": "b241d563-7ae9-4282-b3a4-ce6ca0b8a9e0",
        "name": "Format Transcription"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          272,
          0
        ],
        "id": "dbb4c6b3-61df-4bff-a0cf-4a7346d5654b",
        "name": "Merge Streams"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"models/text-embedding-004\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $('Merge Streams').item.json.final_thought }}\"\n    }]\n  },\n  \"outputDimensionality\": 768\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2000,
          -48
        ],
        "id": "b298b5bc-2a45-4e49-8698-864a1eaeb490",
        "name": "Generate Embeddings",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          },
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/match_thoughts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embedding.values) }},\n  \"match_threshold\": 0.4,\n  \"match_count\": 3,\n  \"p_telegram_id\": {{ $('Strict Entry (Brain)').item.json.telegram_id }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2256,
          -64
        ],
        "id": "e344d54b-fdfb-4717-aea7-7b0cfca2e40f",
        "name": "Query RAG (Supabase)",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\n// 1. Extract memories from RAG\nconst memories = items\n  .map(item => item.json.content || item.json.raw_content)\n  .filter(c => c && c.trim() !== \"\")\n  .join(' | ');\n\n// 2. Get current thought and embedding vector\nconst currentThought = $('Merge Streams').item.json.final_thought;\nconst currentVector = $('Generate Embeddings').item.json.embedding.values;\n\n// 3. Get localized prompt and inject user data\nconst lang = $('Strict Entry (Brain)').item.json.context.language || 'es';\nconst promptData = $('Get Brain Prompts').first().json;\nlet fullPrompt = promptData[lang] || \"\";\n\n// 4. Replace placeholders now that we have all the data\nconst historical = memories || \"No previous history.\";\nfullPrompt = fullPrompt.replace('{{historical_context}}', historical);\nfullPrompt = fullPrompt.replace('{{user_thought}}', currentThought);\n\nreturn [{\n  json: {\n    final_thought: currentThought,\n    historical_context: historical,\n    embedding_vector: currentVector,\n    final_prompt: fullPrompt\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2576,
          -80
        ],
        "id": "7ac07056-ae5b-4d7f-8eba-f7a496f214a8",
        "name": "Format Memory Context"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Brain)').item.json.telegram_id }}&select=id",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1024,
          -80
        ],
        "id": "09d58e07-9644-4a85-95a3-f0a7b9aa6735",
        "name": "Get Profile UUID",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $node[\"Select Localized Prompt\"].json.final_prompt }}",
          "hasOutputParser": true
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          3024,
          -112
        ],
        "id": "a9cf4a7a-8174-4a0d-b145-1099c9a57f5b",
        "name": "MindOps Brain (LLM)"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"summary_title\": \"string (3 words)\",\n  \"friction_tag\": \"🔴 CRITICAL (Stall) | 🟡 DENSE (Choppy) | 🟢 FLUID (Flow)\",\n  \"friction_score\": 90,\n  \"system_mode\": \"PROTECTION | EXECUTION\",\n  \"strategic_insight\": \"string (Contextual analysis based on RAG)\",\n  \"voice_script\": \"string (Max 45 words script to be spoken by Twilio if the user gets stuck)\",\n  \"action_plan\": [\n    {\n      \"time\": \"string (Suggested time)\",\n      \"task\": \"string (Atomic physical step < 5 min)\"\n    }\n  ]\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          3200,
          224
        ],
        "id": "8fcf49e7-8fa5-4546-ba80-e9abda263c2a",
        "name": "JSON Schema Parser"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "user_id",
                "value": "={{ $('Get Profile UUID').first().json.id }}"
              },
              {
                "name": "summary_title",
                "value": "={{ $json.output.summary_title }}"
              },
              {
                "name": "friction_score",
                "value": "={{ $json.output.friction_score }}"
              },
              {
                "name": "friction_tag",
                "value": "={{ $json.output.friction_tag }}"
              },
              {
                "name": "system_mode",
                "value": "={{ $json.output.system_mode }}"
              },
              {
                "name": "strategic_insight",
                "value": "={{ $json.output.strategic_insight }}"
              },
              {
                "name": "voice_script",
                "value": "={{ $json.output.voice_script }}"
              },
              {
                "name": "action_plan",
                "value": "={{ JSON.stringify($json.output.action_plan) }}"
              },
              {
                "name": "status",
                "value": "PROPOSED"
              },
              {
                "name": "embedding",
                "value": "={{ $('Format Memory Context').first().json.embedding_vector }}"
              },
              {
                "name": "=raw_content",
                "value": "={{ $('Format Memory Context').first().json.final_thought }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          3616,
          -16
        ],
        "id": "cfcdc020-f16d-4a1f-b49a-c228c2da73a5",
        "name": "Save PROPOSED Mission",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          3008,
          192
        ],
        "id": "8b14863b-6a59-42bc-abf2-1a8141cf171f",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "awfOlYHmD1aQtc1n",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
              "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.message_proposal\n    .replace('{friction_tag}', $('MindOps Brain (LLM)').item.json.output.friction_tag)\n    .replace('{strategic_insight}', $('MindOps Brain (LLM)').item.json.output.strategic_insight)\n    .replace('{action_plan}', $('MindOps Brain (LLM)').item.json.output.action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}",
              "markup_type": "inlineKeyboard",
              "keyboard_data": "={{ [[\n  { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_activate, \"callback_data\": \"plan_ok\" },\n  { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_readjust, \"callback_data\": \"plan_error\" }\n]] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          4128,
          -48
        ],
        "id": "c48047db-6ca4-4d65-b36b-bef793578c7a",
        "name": "Send Proposal and Buttons"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Brain)').item.json.context.translations.error_message_mission }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1904,
          848
        ],
        "id": "fc5fdb13-04f3-45bc-af45-2c6f11ad1fef",
        "name": "Error Message"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/rpc/is_duplicate_thought",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"p_user_id\": \"{{ $json.id }}\",\n  \"p_text\": \"{{ $('Merge Streams').item.json.final_thought }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1264,
          -304
        ],
        "id": "c603e84d-f24b-45ef-bf4f-97219f349d23",
        "name": "Check Exact Duplicate",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "9f0eb4da-d696-4891-9237-c9f87218bd76",
                "leftValue": "={{ $json.is_duplicate }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1632,
          -320
        ],
        "id": "b7fd381b-16e0-4049-843b-58361a4c10ea",
        "name": "Is Duplicate?"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "0ebb4b7c-97da-4a22-98b4-c2909388de9b",
                "leftValue": "={{ $json.old_status }}",
                "rightValue": "PROPOSED",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2112,
          -368
        ],
        "id": "51c5b090-8dfa-4a34-87ab-1501d18c2bfc",
        "name": "Is Status PROPOSED?"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
              "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.cache_proposal\n    .replace('{old_summary_title}', $json.old_summary_title)\n    .replace('{old_strategic_insight}', $json.old_strategic_insight)\n    .replace('{old_action_plan}', $json.old_action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}\n",
              "markup_type": "inlineKeyboard",
              "keyboard_data": "={{ $json.keyboard }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2768,
          -528
        ],
        "id": "419653ca-d331-4b9e-b9c5-ce2d705b81ae",
        "name": "Send: Cached Proposal + Buttons"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Brain)').item.json.chat_id }}",
              "text": "={{ \n  $('Strict Entry (Brain)').item.json.context.translations.duplicate_alert\n    .replace('{old_summary_title}', $json.old_summary_title)\n    .replace('{old_strategic_insight}', $json.old_strategic_insight)\n    .replace('{old_action_plan}', $json.old_action_plan.map(p => \"🕒 \" + p.time + \" | \" + p.task).join('\\n'))\n}}\n"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2784,
          -304
        ],
        "id": "cfdf11b2-2c70-4cef-a094-090870e803a0",
        "name": "Send Duplicate Alert"
      },
      {
        "parameters": {
          "content": "## Description\nMindOps Brain Core: This engine processes voice logs into structured data. It performs AI-driven cognitive analysis, detects recurring thoughts, and delivers localized outcome-based action plans.",
          "height": 192,
          "width": 832
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -80,
          -768
        ],
        "typeVersion": 1,
        "id": "faa1a67f-b289-4225-833d-348b2dcb7f06",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## RECEIVE (Voice & Text)",
          "height": 704,
          "width": 896,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1232,
          -336
        ],
        "typeVersion": 1,
        "id": "509aa3c4-3775-442a-8c9f-f0043b046b0c",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## PREPARE (Transcription & Prompts)",
          "height": 704,
          "width": 1216,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -272,
          -368
        ],
        "typeVersion": 1,
        "id": "5ecba1f5-0f6d-4f56-9eb0-3896f77efe75",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## IDENTIFY (User & Duplicates)",
          "height": 800,
          "width": 912,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          976,
          -496
        ],
        "typeVersion": 1,
        "id": "c610cef6-c78c-4fda-b0e4-4947a0e690cc",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "## THINK (AI & Memory)",
          "height": 1056,
          "width": 1424,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1936,
          -592
        ],
        "typeVersion": 1,
        "id": "24c94226-9ef4-461a-a6ec-defb231d8210",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## RESPOND (Output)",
          "height": 640,
          "width": 832,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3536,
          -320
        ],
        "typeVersion": 1,
        "id": "d869c279-fbba-4e96-8cd8-06581448b2ea",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Error Handling",
          "height": 352,
          "width": 368,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1856,
          672
        ],
        "typeVersion": 1,
        "id": "7d1994d0-635e-480c-bae1-9104f7133bce",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/prompts?key=eq.prompt_ai&select=es,en",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          480,
          -16
        ],
        "id": "70b06d79-1123-4852-8859-3cd8deba898d",
        "name": "Get Brain Prompts",
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const lang = $('Strict Entry (Brain)').item.json.context.language || 'es';\n\nconst promptData = $input.first().json;\nlet fullPrompt = promptData[lang] || \"\";\n\n// Estos se inyectarán después — por ahora dejamos placeholders\n// El reemplazo real ocurre en Format Memory Context\nreturn [{\n  json: {\n    final_prompt: fullPrompt,\n    debug_language: lang\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          -112
        ],
        "id": "e6fae0f9-5d0d-4674-b9bd-eaa842f62d50",
        "name": "Select Localized Prompt"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ced6f3d6-f414-433f-80e0-d3a843e6a2b5",
                "name": "keyboard_data",
                "value": "={{ JSON.stringify([[   { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_activate, \"callback_data\": \"plan_ok\" },   { \"text\": $('Strict Entry (Brain)').item.json.context.translations.btn_mission_readjust, \"callback_data\": \"plan_error\" } ]]) }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2464,
          -480
        ],
        "id": "094c3b15-4d70-4032-8d47-b220c482a1cf",
        "name": "Prepare Keyboard: Mission"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "12e40e02-93c1-4e86-907d-f3003bb5c4a3",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2784,
          -80
        ],
        "id": "1fe1dfa8-bfad-40e4-ad75-92b67d0efd16",
        "name": "Edit Fields"
      }
    ],
    "connections": {
      "Strict Entry (Brain)": {
        "main": [
          [
            {
              "node": "Is it Voice Note?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is it Voice Note?": {
        "main": [
          [
            {
              "node": "Download Audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Pass Text Directly",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Audio": {
        "main": [
          [
            {
              "node": "Transcribe Gemini",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Gemini": {
        "main": [
          [
            {
              "node": "Format Transcription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pass Text Directly": {
        "main": [
          [
            {
              "node": "Merge Streams",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Format Transcription": {
        "main": [
          [
            {
              "node": "Merge Streams",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Embeddings": {
        "main": [
          [
            {
              "node": "Query RAG (Supabase)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Query RAG (Supabase)": {
        "main": [
          [
            {
              "node": "Format Memory Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Streams": {
        "main": [
          [
            {
              "node": "Get Brain Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Profile UUID": {
        "main": [
          [
            {
              "node": "Check Exact Duplicate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MindOps Brain (LLM)": {
        "main": [
          [
            {
              "node": "Save PROPOSED Mission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON Schema Parser": {
        "ai_outputParser": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Save PROPOSED Mission": {
        "main": [
          [
            {
              "node": "Send Proposal and Buttons",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Memory Context": {
        "main": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "MindOps Brain (LLM)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Send Proposal and Buttons": {
        "main": [
          []
        ]
      },
      "Check Exact Duplicate": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Is Status PROPOSED?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Generate Embeddings",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Status PROPOSED?": {
        "main": [
          [
            {
              "node": "Prepare Keyboard: Mission",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Duplicate Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Duplicate Alert": {
        "main": [
          []
        ]
      },
      "Get Brain Prompts": {
        "main": [
          [
            {
              "node": "Select Localized Prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select Localized Prompt": {
        "main": [
          [
            {
              "node": "Get Profile UUID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send: Cached Proposal + Buttons": {
        "main": [
          []
        ]
      },
      "Prepare Keyboard: Mission": {
        "main": [
          [
            {
              "node": "Send: Cached Proposal + Buttons",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 149e701f",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-16T00:43:48.841Z",
        "id": 267,
        "workflowId": "zc8E5ZfPENEx6Css",
        "versionId": "149e701f-3a07-473a-a3bd-825c770ea61a",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}