n8n/workflows/sw-3-mission-control.json
{
  "updatedAt": "2026-03-20T19:51:29.781Z",
  "createdAt": "2026-02-22T02:03:15.790Z",
  "id": "QciYupwAd2AZ6IEf",
  "name": "SW-3: Mission Control",
  "description": "Processes callback button interactions. Activates, recalibrates, or completes proposed missions.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telegram_id"
            },
            {
              "name": "chat_id"
            },
            {
              "name": "callback_data"
            },
            {
              "name": "message_id"
            },
            {
              "name": "markup_type"
            },
            {
              "name": "context",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1072,
        64
      ],
      "id": "84bc28a4-ff13-46f1-aef6-73a56599a318",
      "name": "Strict Entry (Mission)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Get User UUID').first().json.id }}&status=eq.PROPOSED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"ACTIVE\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        432,
        -144
      ],
      "id": "18eecd37-abd5-413f-b32f-548a5cc8976b",
      "name": "Set DB to ACTIVE",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Get User UUID').first().json.id }}&status=eq.PROPOSED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"IDLE\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        112
      ],
      "id": "e9a3d6c4-eb14-47e8-95a1-733ddeef65a6",
      "name": "Set DB to IDLE",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ \n  $('Strict Entry (Mission)').item.json.context.translations.protocol_sync\n    .replace('{id}', $('Get Thought UUID').first().json.id)\n}}",
            "chat_id": "={{ $('Strict Entry (Mission)').first().json.chat_id }}",
            "markup_type": "=plain",
            "context": "={{ $json.context}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "keyboard_data",
              "displayName": "keyboard_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": true
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        -144
      ],
      "id": "e8a2b83f-3f70-4826-b691-582c00249fc2",
      "name": "Send Active Msg"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "markup_type": "=plain",
            "chat_id": "={{ $('Strict Entry (Mission)').first().json.chat_id }}",
            "text": "={{ \n  $('Strict Entry (Mission)').item.json.context.translations.recalibrate_message\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        80
      ],
      "id": "91a03851-d5d2-4d7f-ab09-23a583a8fa0d",
      "name": "Send Recalibrate Msg"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Strict Entry (Mission)').item.json.callback_data }}",
                    "rightValue": "plan_ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "02655fc3-ad83-472b-bbe5-f6fee9553938"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Plan Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bb3f8b99-dcf7-4d00-9974-e7ac3a435749",
                    "leftValue": "={{ $('Strict Entry (Mission)').item.json.callback_data }}",
                    "rightValue": "plan_error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Plan Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        32,
        -16
      ],
      "id": "5cf2de66-34a1-4f6f-9857-14b8b867a6ce",
      "name": "Validation Callback Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
            "markup_type": "removeInline",
            "message_id": "={{ $('Strict Entry (Mission)').item.json.message_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        64
      ],
      "id": "6a3d4d1d-4ea5-428d-b11f-a4cc2768c157",
      "name": "Clear Mission Buttons"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
            "text": "={{ $('Strict Entry (Mission)').item.json.context.translations.error_message_mission }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1104,
        640
      ],
      "id": "c4246460-6503-4705-8819-9e2f66a6ba4c",
      "name": "Error Message"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Get User UUID').first().json.id }}&status=eq.PROPOSED&select=id&order=created_at.desc&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -368,
        48
      ],
      "id": "62f8fa38-2076-455e-b571-5be12b9d81ef",
      "name": "Get Thought UUID",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Mission)').first().json.telegram_id }}&select=id&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -624,
        80
      ],
      "id": "74d1ff53-0e2c-4099-b47c-50d3b0008eb6",
      "name": "Get User UUID",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### RECEIVE & IDENTITY",
        "height": 352,
        "width": 656,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        -32
      ],
      "typeVersion": 1,
      "id": "37e3f80c-b0df-43a4-8253-25297594f1be",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### SEMANTIC LINKING",
        "height": 352,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -48
      ],
      "typeVersion": 1,
      "id": "81d729b5-1ff9-40e5-84f9-1b40d458c977",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### ACTION ROUTER",
        "height": 432,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -112
      ],
      "typeVersion": 1,
      "id": "011e49ce-a9d8-430a-ad15-d30498579b0c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### DATABASE SYNC (Persistence)",
        "height": 576,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -224
      ],
      "typeVersion": 1,
      "id": "a4de5b6b-5574-4ec6-9bca-ba93450acc02",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### FEEDBACK LOOP",
        "height": 624,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        -288
      ],
      "typeVersion": 1,
      "id": "630085ac-01cb-47ea-b16e-6d5314250c36",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Error Handling",
        "height": 352,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        512
      ],
      "typeVersion": 1,
      "id": "f92cea39-94b8-4ebb-9b2a-aab50beb7707",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Strict Entry (Mission)": {
      "main": [
        [
          {
            "node": "Clear Mission Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set DB to ACTIVE": {
      "main": [
        [
          {
            "node": "Send Active Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set DB to IDLE": {
      "main": [
        [
          {
            "node": "Send Recalibrate Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Callback Data": {
      "main": [
        [
          {
            "node": "Set DB to ACTIVE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set DB to IDLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Active Msg": {
      "main": [
        []
      ]
    },
    "Send Recalibrate Msg": {
      "main": [
        []
      ]
    },
    "Clear Mission Buttons": {
      "main": [
        [
          {
            "node": "Get User UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Thought UUID": {
      "main": [
        [
          {
            "node": "Validation Callback Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User UUID": {
      "main": [
        [
          {
            "node": "Get Thought UUID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "46b7d7b3-7ced-4ba5-baf0-7cbdf27ee896",
  "activeVersionId": "8bcc49a6-0741-46db-9150-23beb44288e4",
  "versionCounter": 526,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:03:15.790Z",
      "createdAt": "2026-02-22T02:03:15.790Z",
      "role": "workflow:owner",
      "workflowId": "QciYupwAd2AZ6IEf",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T00:18:59.337Z",
    "createdAt": "2026-03-16T00:18:53.015Z",
    "versionId": "8bcc49a6-0741-46db-9150-23beb44288e4",
    "workflowId": "QciYupwAd2AZ6IEf",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "telegram_id"
              },
              {
                "name": "chat_id"
              },
              {
                "name": "callback_data"
              },
              {
                "name": "message_id"
              },
              {
                "name": "markup_type"
              },
              {
                "name": "context",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1072,
          64
        ],
        "id": "84bc28a4-ff13-46f1-aef6-73a56599a318",
        "name": "Strict Entry (Mission)"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Get User UUID').first().json.id }}&status=eq.PROPOSED",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"status\": \"ACTIVE\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          432,
          -144
        ],
        "id": "18eecd37-abd5-413f-b32f-548a5cc8976b",
        "name": "Set DB to ACTIVE",
        "retryOnFail": false,
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Get User UUID').first().json.id }}&status=eq.PROPOSED",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"status\": \"IDLE\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          480,
          112
        ],
        "id": "e9a3d6c4-eb14-47e8-95a1-733ddeef65a6",
        "name": "Set DB to IDLE",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "text": "={{ \n  $('Strict Entry (Mission)').item.json.context.translations.protocol_sync\n    .replace('{id}', $('Get Thought UUID').first().json.id)\n}}",
              "chat_id": "={{ $('Strict Entry (Mission)').first().json.chat_id }}",
              "markup_type": "=plain",
              "context": "={{ $json.context}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": true
              },
              {
                "id": "context",
                "displayName": "context",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          880,
          -144
        ],
        "id": "e8a2b83f-3f70-4826-b691-582c00249fc2",
        "name": "Send Active Msg"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "markup_type": "=plain",
              "chat_id": "={{ $('Strict Entry (Mission)').first().json.chat_id }}",
              "text": "={{ \n  $('Strict Entry (Mission)').item.json.context.translations.recalibrate_message\n}}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          896,
          80
        ],
        "id": "91a03851-d5d2-4d7f-ab09-23a583a8fa0d",
        "name": "Send Recalibrate Msg"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Strict Entry (Mission)').item.json.callback_data }}",
                      "rightValue": "plan_ok",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "02655fc3-ad83-472b-bbe5-f6fee9553938"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Plan Ok"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "bb3f8b99-dcf7-4d00-9974-e7ac3a435749",
                      "leftValue": "={{ $('Strict Entry (Mission)').item.json.callback_data }}",
                      "rightValue": "plan_error",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Plan Error"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          32,
          -16
        ],
        "id": "5cf2de66-34a1-4f6f-9857-14b8b867a6ce",
        "name": "Validation Callback Data"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
              "markup_type": "removeInline",
              "message_id": "={{ $('Strict Entry (Mission)').item.json.message_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -832,
          64
        ],
        "id": "6a3d4d1d-4ea5-428d-b11f-a4cc2768c157",
        "name": "Clear Mission Buttons"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Mission)').item.json.context.translations.error_message_mission }}\n"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1104,
          640
        ],
        "id": "c4246460-6503-4705-8819-9e2f66a6ba4c",
        "name": "Error Message"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Get User UUID').first().json.id }}&status=eq.PROPOSED&select=id&order=created_at.desc&limit=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -368,
          48
        ],
        "id": "62f8fa38-2076-455e-b571-5be12b9d81ef",
        "name": "Get Thought UUID",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Mission)').first().json.telegram_id }}&select=id&limit=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -624,
          80
        ],
        "id": "74d1ff53-0e2c-4099-b47c-50d3b0008eb6",
        "name": "Get User UUID",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "## Description\nThis sub-workflow manages the lifecycle of a cognitive mission. It processes user confirmations, synchronizes database states (ACTIVE/IDLE), and delivers localized feedback to lock the user's focus into the execution phase",
          "height": 144,
          "width": 480
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1024,
          -320
        ],
        "typeVersion": 1,
        "id": "58fb79c8-0ee3-4a2e-9156-fd1ab6e0c4ba",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### RECEIVE & IDENTITY",
          "height": 352,
          "width": 656,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1136,
          -32
        ],
        "typeVersion": 1,
        "id": "37e3f80c-b0df-43a4-8253-25297594f1be",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "### SEMANTIC LINKING",
          "height": 352,
          "width": 288,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -432,
          -48
        ],
        "typeVersion": 1,
        "id": "81d729b5-1ff9-40e5-84f9-1b40d458c977",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "### ACTION ROUTER",
          "height": 432,
          "width": 336,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -64,
          -112
        ],
        "typeVersion": 1,
        "id": "011e49ce-a9d8-430a-ad15-d30498579b0c",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "### DATABASE SYNC (Persistence)",
          "height": 576,
          "width": 304,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          384,
          -224
        ],
        "typeVersion": 1,
        "id": "a4de5b6b-5574-4ec6-9bca-ba93450acc02",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "### FEEDBACK LOOP",
          "height": 624,
          "width": 352,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          768,
          -288
        ],
        "typeVersion": 1,
        "id": "630085ac-01cb-47ea-b16e-6d5314250c36",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "### Error Handling",
          "height": 352,
          "width": 304,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1008,
          512
        ],
        "typeVersion": 1,
        "id": "f92cea39-94b8-4ebb-9b2a-aab50beb7707",
        "name": "Sticky Note6"
      }
    ],
    "connections": {
      "Strict Entry (Mission)": {
        "main": [
          [
            {
              "node": "Clear Mission Buttons",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set DB to ACTIVE": {
        "main": [
          [
            {
              "node": "Send Active Msg",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set DB to IDLE": {
        "main": [
          [
            {
              "node": "Send Recalibrate Msg",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validation Callback Data": {
        "main": [
          [
            {
              "node": "Set DB to ACTIVE",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set DB to IDLE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Active Msg": {
        "main": [
          []
        ]
      },
      "Send Recalibrate Msg": {
        "main": [
          []
        ]
      },
      "Clear Mission Buttons": {
        "main": [
          [
            {
              "node": "Get User UUID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Thought UUID": {
        "main": [
          [
            {
              "node": "Validation Callback Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User UUID": {
        "main": [
          [
            {
              "node": "Get Thought UUID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 8bcc49a6",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-16T00:18:59.295Z",
        "id": 261,
        "workflowId": "QciYupwAd2AZ6IEf",
        "versionId": "8bcc49a6-0741-46db-9150-23beb44288e4",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}