n8n/workflows/sw-3-mission-control.json
{
  "updatedAt": "2026-04-01T03:53:52.672Z",
  "createdAt": "2026-02-22T02:03:15.790Z",
  "id": "QciYupwAd2AZ6IEf",
  "name": "SW-3: Mission Control",
  "description": "Processes callback button interactions. Activates, recalibrates, or completes proposed missions.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "telegram_id"
            },
            {
              "name": "callback_data"
            },
            {
              "name": "message_id"
            },
            {
              "name": "context",
              "type": "object"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        64
      ],
      "id": "84bc28a4-ff13-46f1-aef6-73a56599a318",
      "name": "Strict Entry (Mission)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Strict Entry (Mission)').item.json.context.user.id }}&status=eq.PROPOSED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"ACTIVE\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        64,
        -96
      ],
      "id": "18eecd37-abd5-413f-b32f-548a5cc8976b",
      "name": "Set DB to ACTIVE",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Strict Entry (Mission)').item.json.context.user.id }}&status=eq.PROPOSED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            },
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"IDLE\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        16,
        144
      ],
      "id": "e9a3d6c4-eb14-47e8-95a1-733ddeef65a6",
      "name": "Set DB to IDLE",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_data }}",
                    "rightValue": "plan_ok",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "02655fc3-ad83-472b-bbe5-f6fee9553938"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Plan Ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bb3f8b99-dcf7-4d00-9974-e7ac3a435749",
                    "leftValue": "={{ $json.callback_data }}",
                    "rightValue": "plan_error",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Plan Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -528,
        32
      ],
      "id": "5cf2de66-34a1-4f6f-9857-14b8b867a6ce",
      "name": "Validation Callback Data",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "### RECEIVE",
        "height": 352,
        "width": 272,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -64
      ],
      "typeVersion": 1,
      "id": "37e3f80c-b0df-43a4-8253-25297594f1be",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### ACTION ROUTER",
        "height": 432,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -96
      ],
      "typeVersion": 1,
      "id": "011e49ce-a9d8-430a-ad15-d30498579b0c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### DATABASE SYNC (Persistence)",
        "height": 576,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -192
      ],
      "typeVersion": 1,
      "id": "a4de5b6b-5574-4ec6-9bca-ba93450acc02",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### FEEDBACK LOOP",
        "height": 624,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -208
      ],
      "typeVersion": 1,
      "id": "630085ac-01cb-47ea-b16e-6d5314250c36",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Error Handling",
        "height": 352,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        512
      ],
      "typeVersion": 1,
      "id": "f92cea39-94b8-4ebb-9b2a-aab50beb7707",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
        "messageId": "={{ $('Strict Entry (Mission)').item.json.message_id }}",
        "replyMarkup": "={{ { \"inline_keyboard\": [] } }}",
        "text": "={{ \n  $('Strict Entry (Mission)').item.json.context.translations.protocol_sync.replace('{id}', $('Set DB to ACTIVE').first()?.json?.id || '') \n}}\n",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -80
      ],
      "id": "80983c56-a57b-4daf-8e90-4df7e68b12c5",
      "name": "Send Active Msg",
      "webhookId": "e08209e2-d110-4586-b1a5-2e5663e270f4",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
        "messageId": "={{ $('Strict Entry (Mission)').item.json.message_id }}",
        "replyMarkup": "={{ { \"inline_keyboard\": [] } }}",
        "text": "={{    $('Strict Entry (Mission)').item.json.context.translations.recalibrate_message }}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        576,
        160
      ],
      "id": "6dd93873-d353-49a9-bf39-63b20be6d047",
      "name": "Send Recalibrate Msg",
      "webhookId": "4d5a91ec-1558-4db6-91bc-e3f07720eb31",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
        "text": "={{ $('Strict Entry (Mission)').item.json.context.translations.error_message_mission }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        640
      ],
      "id": "b04f406e-28b3-45ba-8aa2-4e37943abe0d",
      "name": "Error message",
      "webhookId": "e19e56bd-f5ff-46f7-bacd-7404c6834564",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    }
  ],
  "connections": {
    "Strict Entry (Mission)": {
      "main": [
        [
          {
            "node": "Validation Callback Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set DB to ACTIVE": {
      "main": [
        [
          {
            "node": "Send Active Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set DB to IDLE": {
      "main": [
        [
          {
            "node": "Send Recalibrate Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Callback Data": {
      "main": [
        [
          {
            "node": "Set DB to ACTIVE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set DB to IDLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b154a70b-9062-40ee-a7b4-fa59a90ae0c4",
  "activeVersionId": "404ffc8a-5533-4176-ad8d-d52db780fdde",
  "versionCounter": 739,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:03:15.790Z",
      "createdAt": "2026-02-22T02:03:15.790Z",
      "role": "workflow:owner",
      "workflowId": "QciYupwAd2AZ6IEf",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-01T01:12:20.801Z",
    "createdAt": "2026-04-01T01:12:13.531Z",
    "versionId": "404ffc8a-5533-4176-ad8d-d52db780fdde",
    "workflowId": "QciYupwAd2AZ6IEf",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chat_id"
              },
              {
                "name": "telegram_id"
              },
              {
                "name": "callback_data"
              },
              {
                "name": "message_id"
              },
              {
                "name": "context",
                "type": "object"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1072,
          64
        ],
        "id": "84bc28a4-ff13-46f1-aef6-73a56599a318",
        "name": "Strict Entry (Mission)"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Strict Entry (Mission)').item.json.context.user.id }}&status=eq.PROPOSED",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"status\": \"ACTIVE\"}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          432,
          -144
        ],
        "id": "18eecd37-abd5-413f-b32f-548a5cc8976b",
        "name": "Set DB to ACTIVE",
        "retryOnFail": false,
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Strict Entry (Mission)').item.json.context.user.id }}&status=eq.PROPOSED",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Profile",
                "value": "mindops"
              },
              {
                "name": "Accept-Profile",
                "value": "mindops"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"status\": \"IDLE\"}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          480,
          112
        ],
        "id": "e9a3d6c4-eb14-47e8-95a1-733ddeef65a6",
        "name": "Set DB to IDLE",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.callback_data }}",
                      "rightValue": "plan_ok",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "02655fc3-ad83-472b-bbe5-f6fee9553938"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Plan Ok"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "bb3f8b99-dcf7-4d00-9974-e7ac3a435749",
                      "leftValue": "={{ $json.callback_data }}",
                      "rightValue": "plan_error",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Plan Error"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          32,
          -16
        ],
        "id": "5cf2de66-34a1-4f6f-9857-14b8b867a6ce",
        "name": "Validation Callback Data",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zZYZA8aKwUckaap4",
            "mode": "list",
            "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
            "cachedResultName": "SW-5:Message telegram"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "chat_id": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
              "text": "={{ $('Strict Entry (Mission)').item.json.context.translations.error_message_mission }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "chat_id",
                "displayName": "chat_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "text",
                "displayName": "text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "markup_type",
                "displayName": "markup_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "message_id",
                "displayName": "message_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "keyboard_data",
                "displayName": "keyboard_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1104,
          640
        ],
        "id": "c4246460-6503-4705-8819-9e2f66a6ba4c",
        "name": "Error Message"
      },
      {
        "parameters": {
          "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?user_id=eq.{{ $('Get User UUID').first().json.id }}&status=eq.PROPOSED&select=id&order=created_at.desc&limit=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -464,
          416
        ],
        "id": "62f8fa38-2076-455e-b571-5be12b9d81ef",
        "name": "Get Thought UUID",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/profiles?telegram_id=eq.{{ $('Strict Entry (Mission)').first().json.telegram_id }}&select=id&limit=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpMultipleHeadersAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept-Profile",
                "value": "mindops"
              },
              {
                "name": "Content-Profile",
                "value": "mindops"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -896,
          480
        ],
        "id": "74d1ff53-0e2c-4099-b47c-50d3b0008eb6",
        "name": "Get User UUID",
        "alwaysOutputData": true,
        "credentials": {
          "httpMultipleHeadersAuth": {
            "id": "9KY2AHXMXRxyjGim",
            "name": "Supabase"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "content": "### RECEIVE & IDENTITY",
          "height": 352,
          "width": 656,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1104,
          -64
        ],
        "typeVersion": 1,
        "id": "37e3f80c-b0df-43a4-8253-25297594f1be",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "### SEMANTIC LINKING",
          "height": 352,
          "width": 288,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -432,
          -48
        ],
        "typeVersion": 1,
        "id": "81d729b5-1ff9-40e5-84f9-1b40d458c977",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "### ACTION ROUTER",
          "height": 432,
          "width": 336,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -64,
          -112
        ],
        "typeVersion": 1,
        "id": "011e49ce-a9d8-430a-ad15-d30498579b0c",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "### DATABASE SYNC (Persistence)",
          "height": 576,
          "width": 304,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          384,
          -224
        ],
        "typeVersion": 1,
        "id": "a4de5b6b-5574-4ec6-9bca-ba93450acc02",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "### FEEDBACK LOOP",
          "height": 624,
          "width": 352,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          784,
          -256
        ],
        "typeVersion": 1,
        "id": "630085ac-01cb-47ea-b16e-6d5314250c36",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "### Error Handling",
          "height": 352,
          "width": 304,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1008,
          512
        ],
        "typeVersion": 1,
        "id": "f92cea39-94b8-4ebb-9b2a-aab50beb7707",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
          "messageId": "={{ $('Strict Entry (Mission)').item.json.message_id }}",
          "replyMarkup": "={{ { \"inline_keyboard\": [] } }}",
          "text": "={{ \n  $('Strict Entry (Mission)').item.json.context.translations.protocol_sync.replace('{id}', $('Set DB to ACTIVE').first()?.json?.id || '') \n}}\n",
          "forceReply": {},
          "replyKeyboardOptions": {},
          "replyKeyboardRemove": {},
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          896,
          -128
        ],
        "id": "80983c56-a57b-4daf-8e90-4df7e68b12c5",
        "name": "Send Active Msg",
        "webhookId": "e08209e2-d110-4586-b1a5-2e5663e270f4",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "operation": "editMessageText",
          "chatId": "={{ $('Strict Entry (Mission)').item.json.chat_id }}",
          "messageId": "={{ $('Strict Entry (Mission)').item.json.message_id }}",
          "replyMarkup": "={{ { \"inline_keyboard\": [] } }}",
          "text": "={{    $('Strict Entry (Mission)').item.json.context.translations.recalibrate_message }}",
          "forceReply": {},
          "replyKeyboardOptions": {},
          "replyKeyboardRemove": {},
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          912,
          112
        ],
        "id": "6dd93873-d353-49a9-bf39-63b20be6d047",
        "name": "Send Recalibrate Msg",
        "webhookId": "4d5a91ec-1558-4db6-91bc-e3f07720eb31",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      }
    ],
    "connections": {
      "Strict Entry (Mission)": {
        "main": [
          [
            {
              "node": "Validation Callback Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set DB to ACTIVE": {
        "main": [
          [
            {
              "node": "Send Active Msg",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set DB to IDLE": {
        "main": [
          [
            {
              "node": "Send Recalibrate Msg",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validation Callback Data": {
        "main": [
          [
            {
              "node": "Set DB to ACTIVE",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set DB to IDLE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Thought UUID": {
        "main": [
          [],
          []
        ]
      },
      "Get User UUID": {
        "main": [
          [],
          []
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 404ffc8a",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-01T01:12:20.758Z",
        "id": 735,
        "workflowId": "QciYupwAd2AZ6IEf",
        "versionId": "404ffc8a-5533-4176-ad8d-d52db780fdde",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}