n8n/workflows/sw-5-message-telegram.json
{
  "updatedAt": "2026-03-28T21:48:08.234Z",
  "createdAt": "2026-02-22T01:50:52.439Z",
  "id": "zZYZA8aKwUckaap4",
  "name": "SW-5: Message telegram",
  "description": "Centralized messaging utility. All Telegram messages (plain, inline keyboard, reply keyboard) go through here.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').first().json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        2400
      ],
      "id": "143f442c-e662-4ee7-81d8-28a0fa339244",
      "name": "Send: Plain Message1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "**Error Handling**",
        "height": 272,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        1744
      ],
      "typeVersion": 1,
      "id": "b17e4f46-ac82-426c-b548-d2c7279de92e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Inputs & Authentication**",
        "height": 256,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1456,
        1680
      ],
      "id": "f2cd309d-d0cf-4c1a-aec1-dfc025fd995f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**Logic Router**",
        "height": 416,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        1696
      ],
      "id": "cc37b5f8-ed39-41bb-872b-62f78d9c6219",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "**Telegram API Requests**",
        "height": 1184,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        1472
      ],
      "id": "68001844-0132-4e1d-8924-a4c325f2e65d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "text"
            },
            {
              "name": "markup_type"
            },
            {
              "name": "message_id"
            },
            {
              "name": "keyboard_data",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1408,
        1744
      ],
      "id": "bb2adc12-a867-4164-9906-d3ca80d76047",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "⚠️ System Sync Error  I’m unable to process your request right now due to a communication glitch with the Core. Please re-attempt the action or check your connection.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        1840
      ],
      "id": "8491638f-75cb-407c-a5b5-dcde97330e09",
      "name": "Error Message",
      "webhookId": "bb3acd34-8ed1-494a-8416-0700d3853589",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
            },
            {
              "name": "=reply_markup",
              "value": "={{ JSON.stringify({ \n  \"keyboard\": $('When Executed by Another Workflow').item.json.keyboard_data, \n  \"resize_keyboard\": true, \n  \"one_time_keyboard\": true \n}) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        1568
      ],
      "id": "a19374c6-098a-4264-bce7-5e2cfe2cb7dc",
      "name": "Send: Reply Keyboard",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "replyKeyboard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fcf4ec5d-aac5-473f-b298-cd66b394d361"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ReplyKeyboard"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d7e66f3a-0b94-40da-b437-b657684a1dbd",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "inlineKeyboard",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "InlineKeyboard"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "07889801-6b50-430b-81f7-478f5cf03ac4",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "removeInline",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RemoveInline"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60c7cf27-e05b-4217-ae1a-8e00dcceb565",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "removeReply",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RemoveReply"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -720,
        1760
      ],
      "id": "d05af767-b643-4661-9768-d249b2e11af0",
      "name": "Router: Markup Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').first().json.text}}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ \"inline_keyboard\": $('When Executed by Another Workflow').item.json.keyboard_data }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        1744
      ],
      "id": "f15d402e-f690-4d95-9c30-a9cd658fd141",
      "name": "Send: Inline Keyboard",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/editMessageReplyMarkup",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.message_id }}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({\"inline_keyboard\": []}) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        1952
      ],
      "id": "c11f335f-2498-4a3d-8e7b-22651f770232",
      "name": "Send: RemoveInline Keyboard",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chat_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
            },
            {
              "name": "reply_markup",
              "value": "{\"remove_keyboard\": true}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -112,
        2176
      ],
      "id": "a5343c4f-1a04-4e08-b87e-92adef1cff9f",
      "name": "Send: RemoveReply",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5e0dbdc-8bb7-4b2d-974b-3dca9b9ef454",
              "leftValue": "={{ $json.error?.code ?? $json.statusCode ?? 0 }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        1856
      ],
      "id": "988dad47-fa99-455e-8ef8-11e41ca01a58",
      "name": "Telegram error 400/500"
    }
  ],
  "connections": {
    "Send: Plain Message1": {
      "main": [
        [],
        [
          {
            "node": "Telegram error 400/500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Router: Markup Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Reply Keyboard": {
      "main": [
        [],
        [
          {
            "node": "Telegram error 400/500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Markup Type": {
      "main": [
        [
          {
            "node": "Send: Reply Keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Inline Keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: RemoveInline Keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: RemoveReply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Plain Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Inline Keyboard": {
      "main": [
        [],
        [
          {
            "node": "Telegram error 400/500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: RemoveInline Keyboard": {
      "main": [
        [],
        [
          {
            "node": "Telegram error 400/500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: RemoveReply": {
      "main": [
        [],
        [
          {
            "node": "Telegram error 400/500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram error 400/500": {
      "main": [
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5395960d-15b1-4711-850a-26239540917a",
  "activeVersionId": null,
  "versionCounter": 965,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T01:50:52.439Z",
      "createdAt": "2026-02-22T01:50:52.439Z",
      "role": "workflow:owner",
      "workflowId": "zZYZA8aKwUckaap4",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}