n8n/workflows/sw-5-message-telegram.json
{
  "updatedAt": "2026-03-20T19:52:03.054Z",
  "createdAt": "2026-02-22T01:50:52.439Z",
  "id": "zZYZA8aKwUckaap4",
  "name": "SW-5:Message telegram",
  "description": "Centralized messaging utility. All Telegram messages (plain, inline keyboard, reply keyboard) go through here.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "chat_id"
            },
            {
              "name": "text"
            },
            {
              "name": "markup_type"
            },
            {
              "name": "message_id"
            },
            {
              "name": "keyboard_data",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -496,
        -320
      ],
      "id": "4264b79d-7899-49f3-a5a3-8a4b117aa2f6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "config",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "telegram_token"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -304,
        -320
      ],
      "id": "83498be0-3736-4bdd-96b5-52175e210b93",
      "name": "Telegram token",
      "credentials": {
        "supabaseApi": {
          "id": "7oTQ7fHqxZeylXdm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "replyKeyboard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fcf4ec5d-aac5-473f-b298-cd66b394d361"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ReplyKeyboard"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d7e66f3a-0b94-40da-b437-b657684a1dbd",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "inlineKeyboard",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "InlineKeyboard"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "07889801-6b50-430b-81f7-478f5cf03ac4",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "removeInline",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RemoveInline"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60c7cf27-e05b-4217-ae1a-8e00dcceb565",
                    "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                    "rightValue": "removeReply",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RemoveReply"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        176,
        -304
      ],
      "id": "a2538e22-8858-4bbb-85dc-cf4618624e7c",
      "name": "Router: Markup Type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').first().json.text}}"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ \"inline_keyboard\": $('When Executed by Another Workflow').item.json.keyboard_data }) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        -320
      ],
      "id": "10c8e20d-9e55-41ae-8656-fda3556b9ae3",
      "name": "Send: Inline Keyboard",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
            },
            {
              "name": "=reply_markup",
              "value": "={{ JSON.stringify({ \n  \"keyboard\": $('When Executed by Another Workflow').item.json.keyboard_data, \n  \"resize_keyboard\": true, \n  \"one_time_keyboard\": true \n}) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        -496
      ],
      "id": "2405b12d-0f32-4504-b47d-bb977c0ef21d",
      "name": "Send: Reply Keyboard",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').first().json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        336
      ],
      "id": "5fecf0bb-f6ae-47b4-8e12-92bedc1b3579",
      "name": "Send: Plain Message",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/editMessageReplyMarkup",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
            },
            {
              "name": "message_id",
              "value": "={{ $('When Executed by Another Workflow').first().json.message_id }}"
            },
            {
              "name": "reply_markup",
              "value": "={\"inline_keyboard\":[]}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        -112
      ],
      "id": "28276505-c336-41f6-af9c-025b4857c275",
      "name": "Send: RemoveInline Keyboard",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
        "text": "⚠️ System Sync Error  I’m unable to process your request right now due to a communication glitch with the Core. Please re-attempt the action or check your connection.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1808,
        -224
      ],
      "id": "e9d7df4c-704c-4471-ab5e-618ecfcfd24c",
      "name": "Error Message",
      "webhookId": "bb3acd34-8ed1-494a-8416-0700d3853589",
      "credentials": {
        "telegramApi": {
          "id": "R6pSyertWWs11XEK",
          "name": "Telegram_Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5e0dbdc-8bb7-4b2d-974b-3dca9b9ef454",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1408,
        -208
      ],
      "id": "b0a658bc-b30c-4d7e-a75d-b8164477d91d",
      "name": "Telegram 500 Filter"
    },
    {
      "parameters": {
        "content": "**Error Handling**",
        "height": 272,
        "width": 704,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        -320
      ],
      "typeVersion": 1,
      "id": "90cb49a8-b863-455f-a190-af621a5e6652",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Inputs & Authentication**",
        "height": 256,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -400
      ],
      "id": "b19e78c0-eee3-480a-911d-2d05117f8c21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Logic Router**",
        "height": 416,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -400
      ],
      "id": "89d889cc-d0e1-4598-8197-f2e3126f1a1d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**Telegram API Requests**",
        "height": 1184,
        "width": 384,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        -592
      ],
      "id": "13a51a40-6bd0-4420-aa92-458231cf2c9e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=chat_id",
              "value": "={{ $('When Executed by Another Workflow').item.json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
            },
            {
              "name": "reply_markup",
              "value": "{\"remove_keyboard\": true}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        112
      ],
      "id": "22b7ccdb-a7d2-49db-bd67-403d72139733",
      "name": "Send: RemoveReply",
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Telegram token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram token": {
      "main": [
        [
          {
            "node": "Router: Markup Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router: Markup Type": {
      "main": [
        [
          {
            "node": "Send: Reply Keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Inline Keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: RemoveInline Keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: RemoveReply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send: Plain Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Plain Message": {
      "main": [
        [],
        [
          {
            "node": "Telegram 500 Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Inline Keyboard": {
      "main": [
        [],
        [
          {
            "node": "Telegram 500 Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: RemoveInline Keyboard": {
      "main": [
        [],
        [
          {
            "node": "Telegram 500 Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send: Reply Keyboard": {
      "main": [
        [],
        [
          {
            "node": "Telegram 500 Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram 500 Filter": {
      "main": [
        [
          {
            "node": "Error Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send: RemoveReply": {
      "main": [
        [],
        [
          {
            "node": "Telegram 500 Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c47b08ec-8191-4934-a42b-7f50b714ef66",
  "activeVersionId": "42de3401-ae0e-47d7-a3f4-78871be92f55",
  "versionCounter": 751,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T01:50:52.439Z",
      "createdAt": "2026-02-22T01:50:52.439Z",
      "role": "workflow:owner",
      "workflowId": "zZYZA8aKwUckaap4",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T00:05:37.301Z",
    "createdAt": "2026-03-16T00:05:26.545Z",
    "versionId": "42de3401-ae0e-47d7-a3f4-78871be92f55",
    "workflowId": "zZYZA8aKwUckaap4",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "chat_id"
              },
              {
                "name": "text"
              },
              {
                "name": "markup_type"
              },
              {
                "name": "message_id"
              },
              {
                "name": "keyboard_data",
                "type": "array"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -496,
          -304
        ],
        "id": "4264b79d-7899-49f3-a5a3-8a4b117aa2f6",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "get",
          "tableId": "config",
          "filters": {
            "conditions": [
              {
                "keyName": "key",
                "keyValue": "telegram_token"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -304,
          -304
        ],
        "id": "83498be0-3736-4bdd-96b5-52175e210b93",
        "name": "Telegram token",
        "credentials": {
          "supabaseApi": {
            "id": "7oTQ7fHqxZeylXdm",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                      "rightValue": "replyKeyboard",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "fcf4ec5d-aac5-473f-b298-cd66b394d361"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ReplyKeyboard"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d7e66f3a-0b94-40da-b437-b657684a1dbd",
                      "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                      "rightValue": "inlineKeyboard",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "InlineKeyboard"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "07889801-6b50-430b-81f7-478f5cf03ac4",
                      "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                      "rightValue": "removeInline",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "RemoveInline"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "60c7cf27-e05b-4217-ae1a-8e00dcceb565",
                      "leftValue": "={{ $node[\"When Executed by Another Workflow\"].json.markup_type }}",
                      "rightValue": "removeReply",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "RemoveReply"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          176,
          -288
        ],
        "id": "a2538e22-8858-4bbb-85dc-cf4618624e7c",
        "name": "Router: Markup Type"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
              },
              {
                "name": "text",
                "value": "={{ $('When Executed by Another Workflow').first().json.text}}"
              },
              {
                "name": "reply_markup",
                "value": "={{ JSON.stringify({ \"inline_keyboard\": $('When Executed by Another Workflow').item.json.keyboard_data }) }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          784,
          -304
        ],
        "id": "10c8e20d-9e55-41ae-8656-fda3556b9ae3",
        "name": "Send: Inline Keyboard",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $('When Executed by Another Workflow').item.json.chat_id }}"
              },
              {
                "name": "text",
                "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
              },
              {
                "name": "=reply_markup",
                "value": "={{ JSON.stringify({ \n  \"keyboard\": $('When Executed by Another Workflow').item.json.keyboard_data, \n  \"resize_keyboard\": true, \n  \"one_time_keyboard\": true \n}) }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          784,
          -480
        ],
        "id": "2405b12d-0f32-4504-b47d-bb977c0ef21d",
        "name": "Send: Reply Keyboard",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
              },
              {
                "name": "text",
                "value": "={{ $('When Executed by Another Workflow').first().json.text }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          784,
          352
        ],
        "id": "5fecf0bb-f6ae-47b4-8e12-92bedc1b3579",
        "name": "Send: Plain Message",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/editMessageReplyMarkup",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $('When Executed by Another Workflow').first().json.chat_id }}"
              },
              {
                "name": "message_id",
                "value": "={{ $('When Executed by Another Workflow').first().json.message_id }}"
              },
              {
                "name": "reply_markup",
                "value": "={\"inline_keyboard\":[]}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          784,
          -96
        ],
        "id": "28276505-c336-41f6-af9c-025b4857c275",
        "name": "Send: RemoveInline Keyboard",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "chatId": "={{ $('When Executed by Another Workflow').item.json.chat_id }}",
          "text": "⚠️ System Sync Error  I’m unable to process your request right now due to a communication glitch with the Core. Please re-attempt the action or check your connection.",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1808,
          -208
        ],
        "id": "e9d7df4c-704c-4471-ab5e-618ecfcfd24c",
        "name": "Error Message",
        "webhookId": "bb3acd34-8ed1-494a-8416-0700d3853589",
        "credentials": {
          "telegramApi": {
            "id": "R6pSyertWWs11XEK",
            "name": "Telegram_Token"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d5e0dbdc-8bb7-4b2d-974b-3dca9b9ef454",
                "leftValue": "={{ $json.error.status }}",
                "rightValue": 500,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1408,
          -192
        ],
        "id": "b0a658bc-b30c-4d7e-a75d-b8164477d91d",
        "name": "Telegram 500 Filter"
      },
      {
        "parameters": {
          "content": "**Error Handling**",
          "height": 272,
          "width": 704,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1312,
          -304
        ],
        "typeVersion": 1,
        "id": "90cb49a8-b863-455f-a190-af621a5e6652",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "### Description\nCentralized Telegram dispatcher. Receives message data and formats the correct API request.",
          "height": 112,
          "width": 544
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -240,
          -704
        ],
        "id": "515c731b-fbe3-4d72-a78b-fab4a7b68998",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "**Inputs & Authentication**",
          "height": 256,
          "width": 464,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -560,
          -384
        ],
        "id": "b19e78c0-eee3-480a-911d-2d05117f8c21",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "**Logic Router**",
          "height": 416,
          "width": 368,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          112,
          -384
        ],
        "id": "89d889cc-d0e1-4598-8197-f2e3126f1a1d",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "**Telegram API Requests**",
          "height": 1088,
          "width": 336,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          672,
          -576
        ],
        "id": "13a51a40-6bd0-4420-aa92-458231cf2c9e",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.telegram.org/bot{{ $node[\"Telegram token\"].json.value }}/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "=chat_id",
                "value": "={{ $('When Executed by Another Workflow').item.json.chat_id }}"
              },
              {
                "name": "text",
                "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
              },
              {
                "name": "reply_markup",
                "value": "{\"remove_keyboard\": true}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          784,
          128
        ],
        "id": "22b7ccdb-a7d2-49db-bd67-403d72139733",
        "name": "Send: RemoveReply",
        "onError": "continueErrorOutput"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Telegram token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram token": {
        "main": [
          [
            {
              "node": "Router: Markup Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Router: Markup Type": {
        "main": [
          [
            {
              "node": "Send: Reply Keyboard",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send: Inline Keyboard",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send: RemoveInline Keyboard",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send: RemoveReply",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send: Plain Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send: Plain Message": {
        "main": [
          [],
          [
            {
              "node": "Telegram 500 Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send: Inline Keyboard": {
        "main": [
          [],
          [
            {
              "node": "Telegram 500 Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send: RemoveInline Keyboard": {
        "main": [
          [],
          [
            {
              "node": "Telegram 500 Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send: Reply Keyboard": {
        "main": [
          [],
          [
            {
              "node": "Telegram 500 Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram 500 Filter": {
        "main": [
          [
            {
              "node": "Error Message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Send: RemoveReply": {
        "main": [
          [],
          [
            {
              "node": "Telegram 500 Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alejandra Ocampo",
    "name": "Version 42de3401",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-16T00:05:37.254Z",
        "id": 259,
        "workflowId": "zZYZA8aKwUckaap4",
        "versionId": "42de3401-ae0e-47d7-a3f4-78871be92f55",
        "event": "activated",
        "userId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    ]
  }
}