n8n/workflows/twilio-safety-net-protocol.json
{
  "updatedAt": "2026-03-16T19:27:10.063Z",
  "createdAt": "2026-02-22T02:35:22.257Z",
  "id": "zDZb0cAxMY5TCjPe",
  "name": "Twilio:  Safety Net Protocol",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?status=eq.ACTIVE&friction_score=gte.75&select=id,voice_script,strategic_insight,summary_title,raw_content,profiles!inner(phone_number,first_name,language)&created_at=lt.{{ $now.minus({minutes: 5}).toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -320,
        48
      ],
      "id": "d3f254e7-9cb5-4d48-b516-2154bc5aacfb",
      "name": "Find Stalled Users DB",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seenPhones = new Set();\nconst uniqueRescues = [];\n\nfor (const item of items) {\n  // Check for phone_number inside the profiles object\n  const phone = item.json.profiles?.phone_number;\n  \n  if (phone && !seenPhones.has(phone)) {\n    seenPhones.add(phone);\n    // Ensure the structure remains intact for the next nodes\n    uniqueRescues.push(item);\n  }\n}\n\nreturn uniqueRescues;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        32
      ],
      "id": "af99bb79-dddb-4a8a-b768-4b43b88a5abf",
      "name": "Filter Duplicates",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Process Safety Prompt\"].json.final_prompt }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        816,
        48
      ],
      "id": "e836a36f-50b4-4cea-9e5b-591978a18142",
      "name": "Write Empathic Script (LLM)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        768,
        336
      ],
      "id": "6c6caf70-8f7f-4275-ad2d-3a989e522168",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $('Get Twilio SID').item.json.value}}/Calls.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Process Safety Prompt').item.json.phone_number }}"
            },
            {
              "name": "From",
              "value": "+12202404208"
            },
            {
              "name": "Twiml",
              "value": "={{ \n  (() => {\n    const lang = $('Process Safety Prompt').item.json.selected_language || 'en';\n    const voice = lang === 'es' ? 'Polly.Lucia-Neural' : 'Polly.Mia-Neural';\n    const twilioLang = lang === 'es' ? 'es-MX' : 'en-US';\n    const script = $('Write Empathic Script (LLM)').item.json.text;\n    return `<Response><Say voice=\"${voice}\" language=\"${twilioLang}\">${script}</Say></Response>`;\n  })()\n}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1744,
        32
      ],
      "id": "6fdd0592-67bd-49d0-991d-b528a3390bc2",
      "name": "Trigger Safety Call",
      "credentials": {
        "httpBasicAuth": {
          "id": "4gKLq3o684bw0TQi",
          "name": "Twilio auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?id=eq.{{ $('Find Stalled Users DB').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"STALLED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1152,
        48
      ],
      "id": "937acfa8-ccc0-4ad2-8035-09089e2714ad",
      "name": "Mark as STALLED",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $node[\"Get Error Translation\"].json[     $node[\"Find Stalled Users DB\"]?.json?.profiles?.language || \"es\"   ]  }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        832
      ],
      "id": "9b8018b5-6d28-4b75-8865-5488ac90533c",
      "name": "Error message"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        48
      ],
      "id": "511ef903-622c-44c7-8fc5-12bf3c540053",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "config",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "twilio_sid"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        16
      ],
      "id": "7968bb60-b541-4269-bc6f-d8d8b2af8d27",
      "name": "Get Twilio SID",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7oTQ7fHqxZeylXdm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const userData = $(\"Find Stalled Users DB\").item.json;\n\nconst lang = userData?.profiles?.language || 'en';\nconst firstName = userData?.profiles?.first_name || 'Usuario';\nconst phone = userData?.profiles?.phone_number || '';\n\nconst promptTemplates = $node[\"Get Safety Prompt\"].json;\nlet selectedPrompt = promptTemplates[lang] || promptTemplates['en'] || \"\";\n\nconst finalPrompt = selectedPrompt\n  .replace(/{{ name }}/g, firstName)\n  .replace(/{{ stall_context }}/g, userData?.raw_content || \"\")\n  .replace(/{{ strategic_insight }}/g, userData?.strategic_insight || \"\")\n  .replace(/{{ title }}/g, userData?.summary_title || \"\");\n\nreturn [{\n  json: {\n    final_prompt: finalPrompt,\n    selected_language: lang,\n    phone_number: phone,\n    first_name: firstName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        80
      ],
      "id": "c3576136-8735-4bd9-9b1c-95ff707424a0",
      "name": "Process Safety Prompt"
    },
    {
      "parameters": {
        "content": "## Description \nThis autonomous engine runs every 5 minutes to scan the database for users in a 'Stalled' state (high cognitive friction for >5 min). It dynamically generates a personalized, empathic voice script in the user's language and triggers a physical rescue call via Twilio to break the cognitive paralysis.",
        "height": 192,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -384
      ],
      "typeVersion": 1,
      "id": "fc87f968-9f5a-4d90-aaae-745da985d2f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### MONITOR & SCAN",
        "height": 320,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -48
      ],
      "typeVersion": 1,
      "id": "f976bfd6-1f4d-4042-b8e9-6f12f0240c5e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### PREPARE (Bilingual Logic)",
        "height": 448,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -80
      ],
      "typeVersion": 1,
      "id": "de498cf7-fabc-46f2-baf3-c620e1959b34",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### COGNITIVE SCRIPTING",
        "height": 560,
        "width": 336,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        -80
      ],
      "typeVersion": 1,
      "id": "79d0d2c6-a1cc-4736-bfa0-8d73c872140c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "###  RESCUE ACTIVATION",
        "height": 464,
        "width": 832,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        -80
      ],
      "typeVersion": 1,
      "id": "316c8cfa-77e8-41cb-bdc9-dcb4bdbd3f3b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Error Hnadling",
        "height": 256,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        752
      ],
      "typeVersion": 1,
      "id": "139078f5-c4f3-4395-bdfb-2e914a9fc19b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/prompts?key=eq.prompt_safety_call&select=es,en",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        48
      ],
      "id": "170b0b77-43d6-4ba9-a86d-097904172e5b",
      "name": "Get Safety Prompt",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/translations?key=eq.error_message_mission&select=es,en",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -544,
        48
      ],
      "id": "056e2b39-98ec-4e50-a58c-e3320dd61d13",
      "name": "Get Error Translation",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Find Stalled Users DB": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Get Safety Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Empathic Script (LLM)": {
      "main": [
        [
          {
            "node": "Mark as STALLED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Write Empathic Script (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Safety Call": {
      "main": [
        [],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as STALLED": {
      "main": [
        [
          {
            "node": "Get Twilio SID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Get Error Translation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Twilio SID": {
      "main": [
        [
          {
            "node": "Trigger Safety Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Safety Prompt": {
      "main": [
        [
          {
            "node": "Write Empathic Script (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Safety Prompt": {
      "main": [
        [
          {
            "node": "Process Safety Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error message": {
      "main": [
        []
      ]
    },
    "Get Error Translation": {
      "main": [
        [
          {
            "node": "Find Stalled Users DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "59480343-4be0-482c-ab08-b20db0aab2a5",
  "activeVersionId": null,
  "versionCounter": 249,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:35:22.257Z",
      "createdAt": "2026-02-22T02:35:22.257Z",
      "role": "workflow:owner",
      "workflowId": "zDZb0cAxMY5TCjPe",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}