n8n/workflows/twilio-safety-net-protocol.json
{
  "updatedAt": "2026-03-10T19:50:55.508Z",
  "createdAt": "2026-02-22T02:35:22.257Z",
  "id": "zDZb0cAxMY5TCjPe",
  "name": "Twilio:  Safety Net Protocol",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?status=eq.ACTIVE&friction_score=gte.75&select=id,voice_script,strategic_insight,summary_title,raw_content,profiles!inner(phone_number,first_name)&created_at=lt.{{ $now.minus({minutes: 5}).toISO() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Profile",
              "value": "mindops"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        80,
        -16
      ],
      "id": "d3f254e7-9cb5-4d48-b516-2154bc5aacfb",
      "name": "Find Stalled Users DB",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seenPhones = new Set();\nconst uniqueRescues = [];\n\nfor (const item of items) {\n  const phone = item.json.profiles?.phone_number;\n  if (phone && !seenPhones.has(phone)) {\n    seenPhones.add(phone);\n    uniqueRescues.push(item);\n  }\n}\n\nreturn uniqueRescues;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -32
      ],
      "id": "af99bb79-dddb-4a8a-b768-4b43b88a5abf",
      "name": "Filter Duplicates",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### DATA:\n- Name: {{ $json.profiles.first_name }}\n- Stall Context: {{ $json.raw_content }}\n- Strategic Insight: {{ $json.strategic_insight }}\n- Title: {{ $json.summary_title }}\n\n### TASK:\nWrite a short script (max 45 words) in ENGLISH to be spoken on a phone call.\n1. Greet: \"Hi {{ $json.profiles.first_name }}, this is the MindOps Safety Network.\"\n2. Report: Mention their block regarding \"{{ $json.summary_title }}\" with empathy.\n3. Action: Give ONE physical grounding instruction based on the Strategic Insight.\n4. Close: \"The system is on standby. Take a deep breath. Goodbye.\""
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        560,
        -16
      ],
      "id": "e836a36f-50b4-4cea-9e5b-591978a18142",
      "name": "Write Empathic Script (LLM)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        208
      ],
      "id": "6c6caf70-8f7f-4275-ad2d-3a989e522168",
      "name": "Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "awfOlYHmD1aQtc1n",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $('Get Twilio SID').item.json.value}}/Calls.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Filter Duplicates').item.json.profiles.phone_number }}"
            },
            {
              "name": "From",
              "value": "+12202404208"
            },
            {
              "name": "Twiml",
              "value": "=<Response><Say voice=\"polly.Mia-Neural\" language=\"en\">{{  $('Write Empathic Script (LLM)').item.json.text }} </Say></Response>"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1376,
        -32
      ],
      "id": "6fdd0592-67bd-49d0-991d-b528a3390bc2",
      "name": "Trigger Safety Call",
      "credentials": {
        "httpBasicAuth": {
          "id": "4gKLq3o684bw0TQi",
          "name": "Twilio auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://rncmxbvrxglbdcagiltc.supabase.co/rest/v1/thoughts?id=eq.{{ $('Filter Duplicates').item.json.id  }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Profile",
              "value": "mindops"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"STALLED\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        896,
        -16
      ],
      "id": "937acfa8-ccc0-4ad2-8035-09089e2714ad",
      "name": "Mark as STALLED",
      "alwaysOutputData": true,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "9KY2AHXMXRxyjGim",
          "name": "Supabase"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZYZA8aKwUckaap4",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZYZA8aKwUckaap4",
          "cachedResultName": "SW-5:Message telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "⚠️ System Error — The Core couldn't process your request. Please retry or reach out to your operator."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "markup_type",
              "displayName": "markup_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        944,
        416
      ],
      "id": "9b8018b5-6d28-4b75-8865-5488ac90533c",
      "name": "Error message"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -16
      ],
      "id": "511ef903-622c-44c7-8fc5-12bf3c540053",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "config",
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "twilio_sid"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1152,
        -48
      ],
      "id": "7968bb60-b541-4269-bc6f-d8d8b2af8d27",
      "name": "Get Twilio SID",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "7oTQ7fHqxZeylXdm",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Find Stalled Users DB": {
      "main": [
        [
          {
            "node": "Filter Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Duplicates": {
      "main": [
        [
          {
            "node": "Write Empathic Script (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Empathic Script (LLM)": {
      "main": [
        [
          {
            "node": "Mark as STALLED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Write Empathic Script (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Safety Call": {
      "main": [
        [],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as STALLED": {
      "main": [
        [
          {
            "node": "Get Twilio SID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Find Stalled Users DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Twilio SID": {
      "main": [
        [
          {
            "node": "Trigger Safety Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "13ee384b-df10-4f0b-bb2b-6b6a62577497",
  "activeVersionId": null,
  "versionCounter": 92,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T02:35:22.257Z",
      "createdAt": "2026-02-22T02:35:22.257Z",
      "role": "workflow:owner",
      "workflowId": "zDZb0cAxMY5TCjPe",
      "projectId": "uSxWyMEZpzEBFQnV",
      "project": {
        "updatedAt": "2026-02-17T23:50:57.643Z",
        "createdAt": "2026-02-17T21:35:40.605Z",
        "id": "uSxWyMEZpzEBFQnV",
        "name": "Alejandra Ocampo <omaaleoca@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "fae80fe0-db88-411b-b8e7-f61d64004d4e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}